[2020-04-21 08:41] mathemancer commented on #188
We have approximately 586 million rows in the catalog at the moment, and 470 million distinct `(provider, foreign_identifier)` pairs.  Thus, enforcing uniqueness on these would result in losing 116 million rows (~20%).

I think this is the right move, but given the amount we're looking at dropping, I think it is up for debate to decide how much time / effort we want to devote to determining the na

[2020-04-21 15:24] ircpresident commented on #367
I don't think so. I have no relationship to the site but I will ask them if they have an API in the contact us and update here.

[2020-04-21 17:24] aldenstpage opened #370 "[Feature] Use metadata keywords to help detect if something is NSFW"
## Problem Description
We are trying to make NSFW content in CC Search "opt-in". We can catch a lot of NSFW content by using API specific filters and relying on moderation "upstream" at the source, but sometimes things slip through.

## Solution Description
One way we can help prevent this is scanning for NSFW profanity and slurs in the title/tags/artist name and settings `nsfw = True` in the meta

[2020-04-21 17:28] aldenstpage commented on #188
Can we preview some of the to-be-scrubbed content and make sure that this is working as expected, or try to attribute the source of the duplication? 116MM is significantly higher than I would expect. If 1/5 images was a duplicate, I would expect that we would be seeing more dupes in the search results, since they would hypothetically have the exact same metadata.

[2020-04-21 18:05] aldenstpage commented on #370
Also: we're going to need to review the list of words carefully, because the lists that I linked to are too broad in what they consider NSFW and could have some inadvertent censorship effects.

[2020-04-21 19:29] brenoferreira commented on #370
One thing to watch out for in this word list is the potential for false positives that can end up filtering out a lot of content with words that aren't necessarily NSFW

[2020-04-21 23:10] annatuma commented on #169
No response on the Feb 24th email, pinged them again.

[2020-04-22 05:42] kss682 commented on #370
For the new content we could have a validator method in ImageStore class that checks against title,author and relevant attributes before inserting into tsv , so that the NSFW contents  could be flaged and segregated at an early stage. @aldenstpage

[2020-04-22 09:18] mathemancer commented on #188
@aldenstpage Check out the `to_delete20200421` table in the intermediary DB.  That table was created with the query:
[code]

[2020-04-22 09:31] mathemancer commented on #188
It looks like there's some more reasons that things are being chosen for deletion, other than having a new entry with an `https` rather than `http` scheme.  So far, I've noticed:
1. Complete changes of URL.  It appears Cleveland Museum changed their catalog numbering system at some point, and many of their URLs changed as a result.
2. Many of the CommonCrawl sourced direct image links have things

[2020-04-22 10:22] kss682 commented on #302
@mathemancer Thanks for clarifying , so in the documentation I couldn't find any such list of licenseand version being mention.
This something I found on running through the existing 5000 objects, which I had missed previously so each object has multiple images .
[code]
and the different license and version in them are
[code]
The condition used before inclusion is
[code]

[2020-04-22 10:54] mathemancer commented on #188
A main issue that I'm seeing is that it's not guaranteed that the newer version of an image row has the `tags` or `meta_data` entries that we'd want to keep.

For example, it looks like we enriched the Cleveland Museum's entries with Clarifai tags at some point.  We don't want to knock that data out in the deletion.

[2020-04-22 17:38] mathemancer commented on #188
New strategy, based on inspecting what's to be dropped:
[code]

The strategies are defined as:
- newest:  Take the value from the newest row.
- newest non-null:  Take the value from the newest row which is non-null (or take null if all are)
- merge_obj:  For this field, we'll 'merge' any jsons by taking the union of the set of keys, and for each key in the result attaching the newest value we see

[2020-04-22 18:17] mathemancer commented on #188
The implementation I'm currently thinking about would be something along the following lines:
1. Create UDFs to achieve the `merge_obj` and `merge_arr` effects above.
1. Create a table analogous to `to_delete20200421` from the comment further above.
1. Create a table `image_new` with the same columns as `image`, and with the tighter uniqueness constraints (e.g., requiring the `(provider, foreign_i

[2020-04-25 07:18] Nikitag0329IITkgp commented on #362
@mathemancer can you review this please?

[2020-04-27 07:08] mathemancer commented on #362
Clarification:  In order to make this work smoothly, the `docker-compose.yml` and `docker-compose.override.yml` files need to be modified to use the correct `requirements.txt` file in the correct environment.

[2020-04-27 07:14] #333 closed

[2020-04-27 08:02] #256 closed

[2020-04-27 08:09] mathemancer commented on #196
This is being done as we rewrite the provider API scripts one-by-one.

[2020-04-27 08:09] #196 closed

[2020-04-27 12:25] mathemancer commented on #301
As I read through the original `cleanup.py` and the PR #352 by @amartya-dev , I think this is best handled by the ImageStore class in the case of **Provider API Script** sourced data.

- The `URLColumn` type already disallows scheme-less URLs, and so a huge amount of the `cleanup.py` script is redundant for new API-sourced info.
- For Provider API Scripts, the scripts themselves should handle addi

[2020-04-27 13:19] mathemancer commented on #301
For the CommonCrawl sourced TSVs, I think the fastest way to get everything sorted would be to use the `ImageStore` class to process the TSVs before saving them in the proper `OUTPUT_DIR`.  This could be done in a library imported into the `src/dags/commoncrawl_s3_syncer/SyncImageProviders.py` to keep things clean.

[2020-04-27 14:00] kss682 opened #371 "[Bug] rawpixel_workflow should call the new script raw_pixel.py"
## Bug Description

The rawpixel_workflow calls the old provider script RawPixel.py it should instead call raw_pixel.py, now that it has been rewritten

Old script RawPixel should be removed .

## Expected behavior

The workflow calls new provider scripts raw_pixel.py

[2020-04-27 14:03] mathemancer opened #372 "[Feature] the ImageStore class should check tags against a blacklist"
## Problem Description

There is a cleanup step in the ingestion pipeline (in the `cccatalog-api` project) that is quite time-intensive.  It would be better, and more efficient, if we did the cleaning done in the script at https://github.com/creativecommons/cccatalog-api/blob/master/ingestion_server/ingestion_server/cleanup.py during the original ingestion instead.

## Solution Description

This t

[2020-04-27 14:05] mathemancer commented on #372
For more clarity, see also:  #301 and #352

[2020-04-27 14:47] annatuma commented on #169
Update: they'll be in touch when the API goes live.

[2020-04-27 16:03] mathemancer opened #373 "[Feature] Data gathered from CommonCrawl providers needs to be cleaned"
## Problem Description

There is a cleanup step in the ingestion pipeline (in the cccatalog-api project) that is quite time-intensive. It would be better, and more efficient, if we did the cleaning done in the script at https://github.com/creativecommons/cccatalog-api/blob/master/ingestion_server/ingestion_server/cleanup.py during the original ingestion instead.

## Solution Description

Once #372

[2020-04-27 17:06] mathemancer commented on #301
This is now split into #372 and #373.

[2020-04-27 17:06] #301 closed

[2020-04-28 12:58] mathemancer commented on #318
Rate limit is 1000 requests per hour (requires a 3.6 second delay between requests)

https://api.data.gov/docs/rate-limits/

[2020-04-28 14:32] mathemancer commented on #318
For thumbnails, we might try giving a query_param:  `max=X` where `X` is the max width we'd like.

[2020-04-28 17:07] mathemancer opened #375 "Create new release of `cccatalog`"
This issue tracks what needs to be done for the next release of `cccatalog`.
- [ ] Set default age of files to be loaded to 15 minutes (create issue, edit when done)
- [ ] Make sure all currently merged Provider API Scripts have associated DAGs (#371, perhaps more)
- [ ] Make sure all necessary environment variables are in `env.template` and have filled-in versions in the `.env` file stored in Las

[2020-04-28 17:08] mathemancer opened #376 "[Infrastructure] Archive TSVs saved on S3 at lower (cheaper) access level"
## Current Situation

We now save the TSV resulting from each Provider API Script run in S3, in a Standard Access Object Storage Class bucket.

## Suggested Improvement

After loading the data into the DB, we should archive in a Standard-IA (Infrequent Access) class bucket.

This should be done via a node in the `loader_workflow` Apache Airflow DAG (source file at `src/cc_catalog_airflow/loader_wo

[2020-04-28 17:10] mathemancer opened #377 "[Infrastructure] Create meta-DAG to run Loader Workflow DAG in parallel"
## Current Situation

The fastest we can run the `loader_workflow` Apache Airflow DAG (Directed Acyclic Graph) is once per minute.  This is the finest resolution at which the Airflow Scheduler will kick off DAG runs.  However, we sometimes want to load more than one file per minute.

## Suggested Improvement

We should create a factory method to create a meta-DAG that takes a parameter `split` (or

[2020-04-28 17:14] mathemancer opened #378 "[Feature] More sophisticated merging of columns in PostgreSQL when upserting"
## Problem Description

Currently, when we get updated data for an image, we insert the new data into the DB using the following strategy:
[code]
The strategies are defined as:
- `new`:  use the newer value.
- `original`:  use the original value.
- `NOW()`:  reset the value to the current time.

This has the following downsides:
- We never update tags.  If the provider adds new tags, or changes th

[2020-04-29 01:43] akshgpt7 opened #379 "[Bug] Linting workflow not triggering on Pull Requests"
## Bug Description
The linting workflow defined in `.github/workflows/pull_request_lint.yml` is not triggering as a check on new pull requests and pushes.

## To Reproduce
Make a pull request/Push to a pull request

## Expected behavior
The linter should run in the following cases and annotate PEP-8 violations in the Files changed section of the pull request.

[2020-04-29 16:31] annatuma opened #382 "[API Integration] Scan the World"
## Provider API Endpoint / Documentation
Scan the World (https://www.myminifactory.com/scantheworld/) (https://github.com/MyMiniFactory/scan-the-world) runs on the MyMiniFactory API (https://www.myminifactory.com/api-doc/index.html)

They have over 2000 CC-licensed 3D models, and have reached out about inclusion in CC Search.

_**We do not yet have an API key, there appear to be various authorizat

[2020-04-29 17:01] mathemancer commented on #371
For some reason I thought this was already done.  Apparently not.

[2020-04-30 10:14] #371 closed

[2020-04-30 12:23] #372 closed

[2020-04-30 13:38] amartya-dev commented on #377
I want to work on this, according to my understanding after talking with @mathemancer I understand that we need to create a meta dag which will run the loader workflow.

The process is this:
- The meta-DAG runs every minute
- It has n branches in parallel, each with a SubDAG node (and a delaying node to offset by 60/n seconds).
- When it runs, it runs the n branches, thereby running the SubDAGs (l

[2020-04-30 13:50] mathemancer opened #383 "Research for Science Museum API integration"
This issue is to track @kss682's research on the issue #302, and separate that contribution from the general implementation concerns of that issue.

[2020-04-30 14:11] mathemancer commented on #373
Third way:  use option (1) from above, plus a large angry warning from the `ImageStore` class to let the user know that this is slowing down their script, and if there's some pattern (see the `wikimedia_commons.py` Provider API Script for an example) that is specific to that provider, they should use it to add a scheme.

[2020-04-30 14:58] kss682 commented on #383
@mathemancer So all the works related to issue #302 should be added here.

[2020-04-30 16:16] #383 closed

[2020-04-30 16:17] mathemancer commented on #383
@kss682 No, we changed our process.  Don't worry about it.

[2020-04-30 16:18] mathemancer commented on #302
Assigning to @kss682 to recognize their great work on researching this issue.

[2020-04-30 17:12] #334 closed

[2020-04-30 17:19] mathemancer opened #384 "[Infrastructure] Increase default time loader_workflow waits before loading a file"
## Current Situation

Currently the constant `MINIMUM_FILE_AGE_MINUTES` in `loader_workflow.py` is set to `1`.  This constant sets the amount of time a file must be unchanged before the `loader_workflow` Apache Airflow DAG (Directed Acyclic Graph) attempts to load the file into S3, and eventually PostgreSQL.  Under normal circumstances, this is fine, but there have been cases where the loader load

[2020-04-30 17:20] mathemancer commented on #375
#371 is done.  I should still check for other similar issues before the release.

[2020-04-30 17:28] mathemancer opened #385 "[Bug] Met museum should have its own DAG file, with the new script."
## Bug Description

The Apache Airflow DAG defined in `common_api_workflows.py` for the Met Museum is still pointing to a script `MetMuseum.py` which no longer exists.

## To Reproduce

1. Load the Apache Airflow UI in the local development environment (using the README.md)
2. Try to run `met_museum_workflow`.
3. It will fail.

## Expected behavior

The workflow should run correctly.

## Additiona

[2020-04-30 18:12] kgodey opened #386 "Image selection for images to send to Rekognition"
In order to feed the Kafka Consumer of https://github.com/creativecommons/image-crawler , we'll need to:
1. Export an appropriate file from the DB with a list of images to be crawled (see below for the format).
2. Create a basic Kafka Producer that puts messages into the queue based on that file with the correct format.

The needed message format is described in the `README.md` of the Image Crawle

[2020-04-30 18:37] annatuma opened #387 "Process for Providers from Aggregators"
Ticket work required.

To include:
- process for "linking" records from aggregators (e.g. Europeana) to providers (https://github.com/creativecommons/cccatalog/issues/392)
-- we have a table of providers
- process for adding new providers to provider table, including logo (this falls to Breno)

[2020-04-30 19:57] kss682 commented on #385
@mathemancer you had already made an issue #358 and there is a PR towords it #359

[2020-05-01 07:37] Nikitag0329IITkgp commented on #384
@mathemancer can I take this one?

[2020-05-01 14:21] kss682 commented on #302
Thank You @mathemancer.
Currently we are waiting for details from the technical side of Science Museum, right ?

[2020-05-07 15:07] annatuma commented on #302
We should be good to go @kss682 - thank you for the fantastic research.

[2020-05-07 15:16] annatuma opened #391 "[API Integration] Thingiverse"
**NOTE: We currently have an API integration with Thingiverse but a lot has changed with their API and our current integration isn't working. We need to go through the same validation process with the API as we would for a new provider, and then either update our integration or start from scratch on an integration.**

## Provider API Endpoint / Documentation

## Provider description

## Licenses P

[2020-05-07 15:28] kgodey commented on #384
@Nikitag0329IITkgp you don't need our permission to send a PR, go ahead

[2020-05-07 15:34] annatuma opened #392 "[Feature] Pulling Sources (a.k.a. Sub-Providers) from Providers"
We'd like to find a way to pull out sub-providers from within providers. These providers may include:
- Europeana
- Flickr
- Wikimedia Commons
- Smithsonian Institution

Here is the language we are using:
Flickr is a provider to images from NASA, which is a source
Smithsonian is a provider to images from NMNH, which is a source

We have previously used the word _Collection_ to refer to sources. Th

[2020-05-07 17:38] akshgpt7 commented on #274
@mathemancer I mailed the Walters' team regarding the following behavior some time back. They have come up with a reply and have fixed the issue of internal server error. The key is generating successfully now.

I guess we can proceed with the integration now, and the 'CC Staff Only' label can be omitted.

[2020-05-08 08:37] #378 closed

[2020-05-08 13:33] kss682 commented on #302
@annatuma Ok , will start working on it.

[2020-05-08 18:04] annatuma commented on #325
Confirming that we won't move forward with Unsplash at this time (per the reasons discussed above), and closing this issue.

We may reconsider expanding our scope for CC Search in the future, but for now it is CC-licensed and Public Domain content that we are prioritizing indexing.

[2020-05-08 18:04] #325 closed

[2020-05-12 13:54] mathemancer commented on #318
Assigning this to @akshgpt7 to recognize their great contribution on research on this issue.  (Note:  @akshgpt7 this isn't an assignment to code on this; I'm currently implementing)

[2020-05-14 14:11] mathemancer commented on #318
Marking this as blocked until the Provider API feature set is verified and stable.

[2020-05-14 16:27] annatuma opened #393 "[API Integration] Statens Museum for Kunst (National Gallery of Denmark)"
## Provider API Endpoint / Documentation

https://api.smk.dk/api/v1/docs

## Provider description

Statens Museum for Kunst (a.k.a. the National Gallery of Denmark) is Denmark's leading museum for artwork. Artwork spans over a 700-year period, blending together Danish art shared with the world, and international art shared with Danes.

_**Ticket work required beyond this point. API link above is f

[2020-05-14 17:32] #358 closed

[2020-05-14 17:51] kss682 commented on #385
@mathemancer This can be closed via PR #359 .

[2020-05-14 19:23] mathemancer commented on #164
#298 has been implemented (see the PR #394 ).

[2020-05-14 19:34] mathemancer commented on #164
There are three fundamentally different types of Provider APIs with regards to
this issue:

1. APIs that let us ingest metadata related to objects uploaded on a given date.
   - For these providers, a strategy like the one outlined in #298 is necessary.
   - Of the scripts currently implmented, these are:
     - Flickr
     - Met Museum
     - PhyloPic
     - Wikimedia Commons
   - From that list,

[2020-05-14 19:35] mathemancer commented on #164
I think we should focus on Wikimedia Commons next, both because it's the only one which isn't solved for which this might be challenging, and because we need more data from WMC for Regoknition analysis.

[2020-05-14 19:57] mathemancer opened #395 "[Infrastructure] Implement Reingestion strategy for Wikimedia Commons"
## Current Situation

Currently, we generally only get information about a given image just after it
is uploaded to Wikimedia Commons.  This is insufficient for the reasons outlined
in #298.  To summarize, some relevant metadata goes stale over time.

## Suggested Improvement

### Goal

In order to keep the data in CC Catalog up to date over time, we should reingest
the metadata for each image per

[2020-05-15 10:00] mathemancer commented on #164
See issue  #395 for the Wikimedia Commons plan.

[2020-05-15 14:35] mathemancer commented on #386
The plan is to take *all* images from smaller providers, and use popularity ranking to choose images to process from Flickr and Wikimedia Commons.

[2020-05-15 14:45] mathemancer commented on #386
Currently, in our DB, we have metadata for

- 644,302,101 images from Flickr, and
- 31,826,847 images from Wikimedia Commons.

No other producer has more than 7 million images (in our DB), and most have fewer than 1 million.

Since our allotted number of images total is 100 million, this implies that the only things we *really* need to make choices on are Flickr and WMC.

[2020-05-15 14:47] mathemancer commented on #386
It would be nice to make choices for Behance also, but that may be impractical since we have no popularity metric recorded for that data, and the API integration is a ways off.

[2020-05-15 14:57] mathemancer commented on #386
Given the numbers in our DB, we could start with Flickr images with `views` count greater than 500.  There are around 20-21 million such rows in our DB, and that view count puts an image in (about) the 97th percentile of all images on Flickr (measured by views)

[2020-05-16 07:22] allen505 commented on #391
Thingiverse has documentation for their REST API at
https://www.thingiverse.com/developers/rest-api-reference

However, I think what will interest us is the [Thingiverse Search API](https://www.notion.so/Thingiverse-Search-API-f7ce7608d54d44f7a2b902a83194a8b2)
According the Search API:

- Use `posted_before` and `posted_after` fields to get _things_ for a specific date
- Use `license` field to spe

[2020-05-17 21:52] akshgpt7 opened #396 "[API Integration] Iconfinder"
## Provider API Endpoint / Documentation
https://developer.iconfinder.com/

## Provider description

Iconfinder is a provider of icons, available in both vector and raster. It has Premium and Free options. Majority of the Free icons have a CC license.

## Licenses Provided

Available through this endpoint: https://developer.iconfinder.com/reference/get-license-details

They appear to have a number

[2020-05-18 07:43] mathemancer commented on #318
We're moving ahead.

[2020-05-18 07:52] mathemancer commented on #318
to the `q=` query string parameter, we'll add the following restrictions:
- `media_usage:CC0`:  This restricts to only objects with CC0-liberated media available.
- `hash:XX*` (where `00 <= XX <= FF`):  This lets us partition the results roughly evenly, since there are evenly-distributed hex hashes associated with each object

[2020-05-18 09:28] #385 closed

[2020-05-18 15:21] annatuma opened #397 "Fix-It Ticket for Smithsonian Institution Integration"
We know that some museums in SI have discrepancies between field names, e.g. in some museums they use "summary" and in others "description" to describe the result.

To improve the results of SI objects, we need to go through each museum within SI to look for any missing metadata mapping/potential improvements.

[2020-05-18 15:22] annatuma commented on #397
Blocked by https://github.com/creativecommons/cccatalog/issues/318

[2020-05-20 03:39] zackkrida opened #399 "500 Response for digitalt museum provider"
Currently returning a 500 error, and subsequently no results on the frontend.

Failed API route: https://api.creativecommons.engineering/v1/images?format=json&source=digitaltmuseum

Empty front-end route: https://search.creativecommons.org/collections/digitaltmuseum

[2020-05-20 20:48] gabbyprecious commented on #348
Is anyone working on this?

[2020-05-21 05:26] kss682 commented on #348
@gabbyprecious yes, I'm working on it.

[2020-05-21 12:47] kss682 commented on #302
@mathemancer have implemented the script and ran it completely,
[code]
there are quite a lot of duplicate images .

[2020-05-25 16:36] kss682 commented on #302
@mathemancer , @annatuma , I was trying to figure if we can partition the data .
and Categories param is something which we can try to use .
But this too has problems,
1 ) It doesn't give us documents (around 3000) .
2 ) So if we try category as photograph which has 19657 objects, 100 per page there should 197 pages for photographs, but it gives us only 50 pages  [photograph-page50](https://collec

[2020-05-25 16:38] jahnvigupta commented on #362
@mathemancer I want to take this issue.

[2020-05-25 16:55] mathemancer commented on #302
So, it seems like we need to find our own partition that keeps the number of images per part at or below 5000

[2020-05-25 17:00] kss682 commented on #302
Is it possible ask them why this is happening?

[2020-05-25 17:06] mathemancer commented on #302
One idea:
We could custom-craft a sequence of date intervals, with each interval chosen so that it keeps the number of results at-or-below 5000:
- https://collection.sciencemuseumgroup.org.uk/search/images/date[from]/0/date[to]/1000
   (2,811 results)
- https://collection.sciencemuseumgroup.org.uk/search/images/date[from]/1000/date[to]/1750
   (2,315 results)
- https://collection.sciencemuseumgrou

[2020-05-25 17:08] mathemancer commented on #302
This is quite a tedious method, and it has the downside that there will be lots of unwanted redundancy, since it seems that the results contain an object if there is any intersection between the date interval queried and the date interval associated with the object.

Also, I suspect some objects have *no* date, and this method therefore wouldn't pick them up.

[2020-05-25 17:18] kss682 commented on #302
Yes, saw the date param, felt that it was not reliable since it's the object's date or period rather upload .
But if there is no other method the redundancy can be handled by keeping track of object ids within the script.

[2020-05-25 18:45] #298 closed

[2020-05-26 14:04] kss682 commented on #302
Did some work with the date param, the results are really good , if I'm correct there are around 80k images in science museum and I was able to retrieve around 60k with date param.

The year ranges had to be selected manually since we have to keep the record count below 5000, the ranges are not uniform as certain periods have more collections than others .
[code]
with the above range, the results

[2020-05-26 14:27] mathemancer commented on #302
@kss682 Would you mind pushing a version with the date partitioning into your PR if you have one working?  I think it might be our best option for the time being.

[2020-05-27 08:20] #318 closed

[2020-05-27 08:34] mathemancer opened #403 "[Feature] Add total_images property to ImageStore class"
Currently, the only way to access the internal count of how many images have
been saved so far by the `ImageStore` class at
[code]
is to catch the return value from the `ImageStore.add_item` method and

## Current Situation

Currently, the only way to for a Provider API Script to access the internal
count of how many images have been saved so far by the `ImageStore` class is to
catch the return va

[2020-05-27 08:35] #395 closed

[2020-05-27 09:23] #384 closed

[2020-05-28 07:11] mathemancer opened #406 "[Bug] Add variables to env.template"
## Bug Description

Some environment variables are missing from
[code]
This means that the dev environment setup instructions from `README.md` are currently a bit broken.

(The work, technically, but the resulting setup is suboptimal for testing).

In particular, we should add:
[code]

## To Reproduce

1. Follow the `README.md` to setup the local development environment.
2. Turn on the `smithsonia

[2020-05-28 14:53] #302 closed

[2020-05-28 15:01] #221 closed

[2020-05-28 15:08] mathemancer opened #408 "[Feature] Apache Airflow DAG to run the new science_museum.py script"
## Problem Description

In order to get the new `science_museum.py` script (see #400) into production, we need to implement a new Apache Airflow DAG to run the script.

## Solution Description

Implement such a dag.  For an example, see `src/cc_catalog_airflow/dags/smithsonian_workflow.py` (note the use of the new DAG Factory).  The DAG should be configured to run the main function from `src/cc_ca

[2020-05-28 21:19] akshgpt7 commented on #280
@mathemancer I have been working this script.
I have one question moving forward. There is a rate limit of 1000 requests per day. How do I go about handling checks to not exceed that in a day?

I was thinking something like getting the time of the day at the start of the script, and maintaining a `request_count`. Then getting the time of the day on each request and stop the script if `request_coun

[2020-05-29 06:21] #406 closed

[2020-05-29 08:08] mathemancer opened #409 "[Bug] Wikimedia Commons Provider API Script breaks for out-of-range date"
## Bug Description

We sometimes run the script at
[code]
for a date containing no data from Wikimedia Commons (for example, a date before which Wikimedia Commons existed).

Usually, this is not a problem, but on occasion the Wikimedia Commons API will return a malformed JSON in their response, and our script is breaking when this happens

## To Reproduce

1. Try to run the `wikimedia_commons` scr

[2020-05-29 09:09] #408 closed

[2020-05-29 09:44] mathemancer opened #412 "[Infrastructure] Implement reingestion strategy for Europeana"
## Current Situation

Once #368 is merged, we will be ingesting the previous day's uploads' metadata
each day for Europeana. But, we won't be reingesting the metadata for a given
image at any point (at least not automatically).

## Suggested Improvement

We need to use a date-partitioned reingestion Apache Airflow DAG to keep the
data up to date over time. For examples, see:

- `src/cc_catalog_air

[2020-05-29 10:04] mathemancer commented on #164
For the following API providers, reingestion is not necessary, because we ingest *all* their data every time we run:
- Cleveland Museum
- RawPixel
- Smithsonian Institution
-

For the following API providers, reingestion is not necessary, because we pull from a delta endpoint (i.e., we're separating on date *modified*, rather than uploaded):
- PhyloPic

For the following API Providers, we need to

[2020-05-29 10:09] mathemancer opened #413 "[Infrastructure] Implement Reingestion Strategy for Met Museum"
## Current Situation

Currently, we generally only get information about a given image just after it
is uploaded to the Met Museum's website. This is insufficient for the reasons
outlined in #298. To summarize, some relevant metadata goes stale over time.

## Suggested Improvement

We need to use a date-partitioned reingestion Apache Airflow DAG to keep the
data up to date over time. For examples,

[2020-05-29 10:10] mathemancer commented on #164
Moving forward, we should use the reingestion strategy out of the gate for any new Provider API Script, whenever it uses the date-partitioning strategy to ingest in the first place.

[2020-05-29 15:07] #409 closed

[2020-05-29 15:19] kgodey opened #414 "Update upstream database to reflect NASA subprovider of Flickr and automate the process"
In conjunction with adding logic to the `src/cc_catalog_airflow/dags/provider_api_scripts/flickr.py` script to separate out appropriate users into the source `nasa` (which has metadata from Flickr at the moment), we would like to update previously-collected metadata in our DB to reflect the new designation.

The DAG (Directed Acyclic Graph) should be general enough to be run whenever we want to ad

[2020-05-29 15:19] kgodey opened #415 "Migrate Science Museum from Common Crawl to Provider API scripts"
In order to migrate a provider from Common Crawl to a Provider API Script, we need to do some work in the database.

We need to associate the new Foreign ID (from the Provider API Script) with the former Foreign ID (from Common Crawl).  We expect these to be different.  However, making this mapping is essential to make sure that we don't lose any data (e.g., enriched metadata or tags we've generat

[2020-05-31 17:18] kss682 commented on #188
@mathemancer There could be cases where an object could have multiple images, if we restrict keys to  ```(provider, foreign_identifier) ``` then only the last image would be stored on update.

This is something that was seen in science museum and brooklyn museum .
Science museum top 10 object ids with multiple images .
[code]

[2020-06-02 08:08] mathemancer opened #416 "[Bug] Met Museum Foreign Identifiers are non-deterministic"
## Bug Description

A significant portion of the Foreign IDs for images from the Met Museum have been 'randomly shuffled' every time they've been collected since the very beginning.

This *blocks* our deduplication of those images (See #188 ).  The problem is that it will be quite difficult (up to and possibly including impossible) to reassociate the proper Clarifai image tags with the proper imag

[2020-06-02 08:13] mathemancer commented on #188
This is blocked by #416 .

[2020-06-02 14:22] #279 closed

[2020-06-02 15:19] mathemancer commented on #188
@kss682 Great catch.  I should have caught this at an earlier stage myself.  We should use something that is unique *per image* for the `foreign_identifier`, since it's the image identifier, not the 'real-world' object identifier.  This is sometimes an issue with Museum providers.

[2020-06-02 15:39] mathemancer commented on #415
After looking at the data, the Science Museum URLs have changed domain at some point, and so these rows are in need of deduplication.

[2020-06-02 15:44] mathemancer commented on #415
This is done.  There is a table called `science_museum_2020_06_02` in the Upstream DB with the old data (including Clarifai tags) from Science Museum, and all Science Museum data is gone from the `image` table.

[2020-06-02 15:44] #415 closed

[2020-06-02 19:40] kss682 commented on #135
@mathemancer , @annatuma
The implementation for CPL can be done by partitioning the requests by collections and then paging through records in collections and as we page get the indiviual Item/record info .
So this requires 3 functions
[code]
Sample queries:
[CollectionList](https://cdm16014.contentdm.oclc.org/digital/bl/dmwebservices/index.php?q=dmGetCollectionList/json)
[Quering with the first c

[2020-06-03 01:52] kss682 opened #417 "[Bug] Use Image ID for foreign identifier in Science museum , instead of object id"
## Bug Description

Currently the science museum script extracts an object id, which would be common for multiple images within the object . The foreign id should always be able to uniquely identify the image, not the object.

The change is part of #188 , with the keys being changed , when object id is used it ends up storing only the last image and multiple images will be ignored, to avoid it ima

[2020-06-03 03:49] Sandhya03 commented on #337
I installed Visual Studio 2019 v16.6 .. latest by default showing ..
but still the error of Building wheel for ujson (PEP 517) ... error .. coming at the time installing rasa ..
or spacy

Please guide here..

[2020-06-03 11:07] annatuma commented on #135
I am so sorry, I completely missed this @mathemancer the last contact we had was July 2019 but we can definitely send over any questions we may have. Will sync with you on Slack as to what those might be.

[2020-06-03 11:41] ChariniNana opened #419 "[Feature] Retrieving sub providers within Flickr"
## Problem Description
Retrieve sub providers such as NASA within Flickr, which are useful to a broader audience.

## Solution Description
To address this requirement, we first need to identify the sub providers required to be filtered.
Once the sub providers are identified, the next step is to find all the user accounts which are
associated with a given sub provider (For example, both 'NASA HQ PH

[2020-06-03 13:02] cafruv commented on #337
install g++

[2020-06-03 15:56] Sandhya03 commented on #337
I installed g++
C:\cygnus\cygwin-b20\H-i586-cygwin32\bin>ls -ltr "g++.exe"
-rwxr-xr-x   1 544      everyone    68608 Dec  1  1998 g++.exe

Bu the same error like below:
Using legacy setup.py install for mattermostwrapper, since package 'wheel' is not installed.
Using legacy setup.py install for webexteamssdk, since package 'wheel' is not installed.
Using legacy setup.py install for colorclass, sin

[2020-06-04 11:40] annatuma commented on #243
@mathemancer sorry I missed this - we don't have information on that, but we'll check the record count for Wellcome once our Europeana integration is live, and ensure we're getting a full collection.

[2020-06-04 11:44] annatuma commented on #147
@mathemancer I've updated the integration details comment here, with the latest information from NYPL (including our increased rate limit and the endpoint they created for us). I believe this removes any remaining blockers.

I also want to note that for their item types they also have 3D images (which we should include as images in this run, and then later identify for custom frontend presentation

[2020-06-04 11:45] annatuma opened #421 "[API Integration - Audio] NYPL"
## Provider API Endpoint / Documentation

We're integrating NYPL for images: https://github.com/creativecommons/cccatalog/issues/147

They also have audio, and when we are ready to ingest audio we should do so from this source as well.

_Ticket work required beyond this point_

## Provider description

## Licenses Provided

## Provider API Technical info

## Checklist to complete before beginning

[2020-06-04 12:07] annatuma opened #422 "[API Integration] Paris Musées (French documentation)"
**Please note that all documentation is in French. French language competency is required to work on this integration.**

## Provider API Endpoint / Documentation

https://apicollections.parismusees.paris.fr/

For build/test purposes, sign up for an API key here:
https://apicollections.parismusees.paris.fr/user/register

CC will swap this API key for our organizational key before the integration g

[2020-06-04 12:16] annatuma commented on #268
Per conversation with our contact, all images are available on Wikimedia Commons, so we can instead pull the collection out of that existing integration. We will not move forward with a direct integration at this time.

[2020-06-04 12:16] #268 closed

[2020-06-04 12:28] annatuma commented on #231
I've updated the original ticket from @stragu to include our standard format for new providers, and the links you included as well @mathemancer

This is now ready for community contribution.

[2020-06-04 12:40] annatuma commented on #396
I've updated the description here with a little more information on the licenses. This is now ready for work. Full ticket work/research must be completed before integration starts, as usual.

Thanks for the suggestion @akshgpt7

[2020-06-04 13:01] annatuma opened #423 "[API Integration] Natural History Museum (UK)"
## Provider API Endpoint / Documentation

https://data.nhm.ac.uk/about/download

## Provider description

The UK Natural History Museum has over 10M records, but it's unclear how many of their datasets include images. At least a handful of datasets have JPG, PNG, etc. formats.

**Before we move forward with further research, please figure out how many CC-licensed images there are, so we can priori

[2020-06-04 13:09] annatuma opened #424 "[Provider Review] Digitalt Museum (Norwegian documentation)"
## Problem Description

We're currently integrated with Digitalt Museum, via CommonCrawl, which is a Nordic data portal aggregating/supporting the digital collections of dozens of Nordic museums.

The [full count of image records under a CC license](https://digitaltmuseum.org/search/?aq=license%3F%3A%22zero%22%2C%22CC+by-nc%22%2C%22CC+by-nc-sa%22%2C%22CC+by-nd%22%2C%22CC+by-nc-nd%22%2C%22CC+by%22%

[2020-06-04 13:10] annatuma commented on #424
@mathemancer flagging this for you to look at, potentially a fit for @ChariniNana to dig into.

[2020-06-04 14:28] kss682 commented on #393
@mathemancer , @annatuma
There are around
There are two ways of collecting the artworks
- Collecting all the obejct ids and then querying the artworks as batch, they provide endpoint [all_ids](https://api.smk.dk/api/v1/art/all_ids) and for getting the information about the artworks the endpoint [object_ids](https://api.smk.dk/api/v1/art/?object_number=KMSr73,KMSr57&lang=en) can be used , the endpo

[2020-06-04 16:04] annatuma commented on #393
Sounds good @kss682 , if you haven't received a response for a day or two please let us know, so we can forward the note to the contacts that we have at SMK.

[2020-06-04 16:11] kss682 commented on #393
Just received response from the SMK team.
Updates :
- It is confirmed that all their public artworks are https://creativecommons.org/share-your-work/public-domain/cc0/  licensed .

- We can use ```*``` in the key param in the endpoint searchArt to get all collections, and then page through the collections.

- ```image_native``` field can be used for url (I had confusion regarding another field ima

[2020-06-04 21:02] ChariniNana commented on #424
Will look into this Anna

[2020-06-05 08:08] mathemancer commented on #393
@kss682 This is great, thank you!

Regarding the `image_native` field, I think you should double check that.  For example, see the third object in the response to
https://api.smk.dk/api/v1/art/search/?keys=*&filters=%5Bhas_image%3Atrue%5D,%5Bpublic_domain%3Atrue%5D&offset=0&rows=50

That object has the `image_native` field:
https://api.smk.dk/api/v1/download/W3siaW1nX3VybCI6Imh0dHBzOi8vaWlwLnNtay5

[2020-06-05 08:32] mathemancer commented on #393
We could actually use the fact that they're using IIIF (https://iiif.io/) to our advantage:  The full size for *any* image would be:
[code]
They give the `${iiif_id}` in the API response, and we could also use that for the Foreign ID (it must be unique per image, I believe).  For `${quality}`, we should be able to use `'default'`, so the full-size image URL would be:
[code]
We could also specify o

[2020-06-06 02:41] Sandhya03 commented on #337
ERROR: Command errored out with exit status 1:
   command: 'c:\users\admin\appdata\local\programs\python\python36\python.exe' 'c:\users\admin\appdata\local\programs\python\python36\lib\site-packages\pip\_vendor\pep517\_in_process.py' build_wheel 'C:\Users\ADMIN\AppData\Local\Temp\tmptir_wfng'
       cwd: C:\Users\ADMIN\AppData\Local\Temp\pip-install-9wjhabvn\ujson
  Complete output (16 lines):
  r

[2020-06-06 11:50] cafruv commented on #337
read the error message

Outlook for iOS<https://aka.ms/o0ukef> を入手
________________________________
差出人: Sandhya Pawar <notifications@github.com>
送信日r: Saturday, June 6, 2020 11:41:38 AM
宛先: creativecommons/cccatalog <cccatalog@noreply.github.com>
CC: cafruv <cafruv@outlook.com>; Comment <comment@noreply.github.com>
件名: Re: [creativecommons/cccatalog] Could not build wheels for ujson which use PE

[2020-06-08 07:56] kss682 commented on #393
@annatuma @mathemancer Received response from SMK technical team.
the image_iif_id is not yet ready for all images and they said it would take some time to get it done.

I was thinking , let's implement with the image iif id and as they move to iif , we will get the updated artworks as well.

I have forwarded the mail to both of you .

[2020-06-09 13:49] annatuma commented on #393
Confirming this was discussed in Slack, and we are indeed taking this approach. As more images are moved to IIIF, the number of objects ingested will increase.

Thanks @kss682 for being so proactive on this case.

[2020-06-10 11:57] #417 closed

[2020-06-12 12:00] annatuma opened #430 "[API Integration - VIDEO] Cinnamon"
**Prerequisites to this:**
- Support for video in CC Search
- Integration of CC license selection on upload for Cinnamon users

_We do not expect to be ready to further investigate this integration until some time in 2021_

## Provider API Endpoint / Documentation

## Provider description

## Licenses Provided

## Provider API Technical info

## Checklist to complete before beginning development

[2020-06-12 12:59] #405 closed

[2020-06-12 13:29] mathemancer commented on #386
This is blocked until the deduplication (#188) phase I is done running.

[2020-06-12 13:56] mathemancer commented on #386
We should use the `aws_s3` extension to bulk copy the desired info to a TSV in S3.

[2020-06-12 15:17] kgodey opened #431 "Generate and test popularity data"
- Run performance test to get an idea of how long it takes to run the popularity data job
- Make sure the data gets indexed into Elasticsearch
- Do some QA to figure out how much popularity and authority should impact search results

[2020-06-15 12:29] kss682 commented on #291
@annatuma , @mathemancer
As mentioned by @akshgpt7 , the items in museum Victoria can be retrieved using ```https://collections.museumsvictoria.com.au/api/search``` endpoint. With ```perpage``` and ```page``` parameters we can page through it . Each item has multiple images associated with it.

item response :

- ```foreign_id``` - Couldn't find a field that uniquely represents an image , (there i

[2020-06-15 13:16] annatuma commented on #291
Just looking from their frontend, it seems for images we are going to be mostly dealing with PDM, and then a smaller subset is CC BY and CC BY-NC:
<img width="288" alt="Screen Shot 2020-06-15 at 1 12 01 PM" src="https://user-images.githubusercontent.com/3051816/84661519-02384f80-af0a-11ea-8f0b-05dbd558d236.png">

Am I understanding the above correctly that there's no endpoint where we can filter b

[2020-06-15 14:09] mathemancer commented on #337
@Sandhya03 Please try to set your IDE up to attach to the development container.  The best way to run the code in this repo is in the Docker Container created by following the README.

[2020-06-15 14:22] mathemancer commented on #280
@akshgpt7 I suggest using the `DelayedRequester` class with a delay of 87 seconds.  This will keep the overall number of requests under the limit.

[2020-06-15 15:38] kss682 commented on #291
@annatuma
I just looked at the frontend and saw this .
![Screenshot from 2020-06-15 21-00-31](https://user-images.githubusercontent.com/30746998/84677061-d211a080-af4b-11ea-9fd2-1f98634e2f20.png)
The record numbers are same for CC BY and public domain, when returned using the api endpoint .

[2020-06-17 15:36] aldenstpage commented on #431
The initial performance test is in progress.

[2020-06-18 10:19] annatuma commented on #291
We must be using different filters then, I assume. What do you have set as "Item Type"?

Regardless, if there are image results with all the licenses you included, then that's quite fine as well. I don't know how the standard ingestion works but I would imagine we look for objects where license information matches our available list of licenses.

@mathemancer can guide on that side of things.

[2020-06-18 14:50] mathemancer opened #433 "[Infrastructure] Set `new_image` to be the `image` table"
## Current Situation

#429 created a new table `new_image` with a modified and improved schema over the old `image` table.  The service layer expects to ingest the `image` table.

## Suggested Improvement

Now, having verified that `new_image` seems to work for all the upstream ingestion steps, we need to swap the table names around so that the service layer will attempt to ingest from the new tab

[2020-06-18 16:03] kss682 commented on #291
@annatuma @mathemancer
I did not use the ```Item Type``` field , hence including objects, documents , etc in the response.

We usually check before hand what are the different licenses provided , in this case all are matching our list.
From my understanding of the api, the main problem (double work for the script) is that when the endpoint is queried for a particular license, the response is retur

[2020-06-18 16:35] #433 closed

[2020-06-18 18:24] #393 closed

[2020-06-19 07:33] kss682 commented on #291
@mathemancer @annatuma
So I was running the script and noticed that they spell license as ```licence``` .
https://collections.museumsvictoria.com.au/api/search?has_image=yes&perpage=100&imagelicence=cc+by-nc-nd&page=0.

But when I queried from the script it was not returning anything.

![Screenshot from 2020-06-19 12-59-52](https://user-images.githubusercontent.com/30746998/85108145-d16b5980-b22c-

[2020-06-19 10:41] annatuma commented on #135
Nothing for clarity, this is what we sent our contacts at the museum:

_We're still in the research phase of the integration, and appear to be getting most of what we need from three functions:

dmGetCollectionList
dmQuery
dmGetItemInfo

However, what we're missing is:

1) A direct link to the image in JPG format
We did notice that while this isn't available in a response from dmGetItemInfo (such

[2020-06-19 11:04] annatuma opened #435 "[API Integration] Four Finnish Museums (National, Heritage, Military)"
## Provider API Endpoint / Documentation

https://api.finna.fi/swagger-ui/?url=%2Fapi%2Fv1%3Fswagger#/

## Provider description

There is a single API that serves four Finnish museums:

1. Kansallismuseo (National Museum of Finland) https://www.kansallismuseo.fi
2. Museuvirasto (Finnish Heritage Agency) https://www.museovirasto.fi
3. Satakunnan Museo (Translated name not available - maybe a region

[2020-06-19 11:18] annatuma opened #436 "[API Integration] Swiss National Museum"
## Provider API Endpoint / Documentation

https://make.opendata.ch/wiki/data:glam_ch

## Provider description

https://www.nationalmuseum.ch/en

## Licenses Provided

CC-BY

## Provider API Technical info

Notice that the API info linked above is for a number of cultural institutions across Switzerland. If we are able to get multiple institutions with a single integration, using source (a.k.a. sub

[2020-06-19 13:52] mathemancer opened #437 "[Bug] Loader workflow tries to load popularity calculation TSV"
## Bug Description

The Apache Airflow DAG (Directed Acyclic Graph) `loader_workflow` owns the `$OUTPUT_DIR` directory, and loads TSVs it finds there into the database.

However, the DAG `popularity_workflow_dag` stores its working TSV in that directory, leading to a situation where the `loader_workflow` will attempt to load that TSV into the DB, which results in potential corrupted data, and in a

[2020-06-19 18:01] aldenstpage opened #438 "[Bug] Non-image content is being stored in the image table"
## Bug Description
It seems like the Wikimedia source doesn't exclude non-image content. Here is a small subsample of some audio files I've encountered:
[code]
This will cause some trouble with invalid content making its way into our thumbnail proxy, our image crawler, etc.

Of course, it won't be possible to completely validate the content type of a work without checking headers, but I think it w

[2020-06-19 20:07] aldenstpage commented on #386
We've got a TSV based Kafka producer now. It can be run either on EC2 or from your personal laptop with an SSH tunnel.

The next step is to unblock the remaining items and then create the TSVs defining what we want to crawl.

[2020-06-22 14:13] #414 closed

[2020-06-22 14:13] #419 closed

[2020-06-23 07:04] #437 closed

[2020-06-23 19:52] aldenstpage commented on #386
I built a giant TSV specifying all of the URLs we'll crawl

[2020-06-23 19:52] #386 closed

[2020-06-24 14:39] #188 closed

[2020-06-24 23:31] ChariniNana opened #441 "[Feature] Retrieving sub providers within Europeana"
## Problem Description
Retrieve sub providers such as the 'Wellcome Collection' within Europeana, which are useful to a broader audience.

## Solution Description
So far, we have identified the 'Wellcome Collection' as an interesting sub provider to retrieve from Europeana. The 'dataProvider'  field in the JSON response returned from Europeana API call identifies the sub providers and we store thi

[2020-06-25 14:54] annatuma opened #443 "Make WOCinTECH on Flickr a Source"
https://www.flickr.com/photos/wocintechchat/

Using the same logic as we do for NASA etc, we'd like to pull this collection from Flickr into its own source on CC Search.

[2020-06-26 15:33] kgodey opened #445 "Common Crawl infrastructure updates meta ticket"
The main goal of these updates will be to reduce the number of technologies we're using to process Common Crawl data.

The first step should be to move the AWS Data Pipeline jobs into Apache Airflow.

Next we should experiment with whether or not it's worth trying to get rid of the AWS Glue job.

If these steps are done, we'll have the advantage of bringing all of our data pipelines (at least the

[2020-06-27 09:25] akshgpt7 commented on #403
@mathemancer This seems to be a good improvement.
I'd work on this.

[2020-06-30 10:20] #416 closed

[2020-06-30 13:48] #403 closed

[2020-06-30 14:59] mathemancer commented on #443
I'm currently querying our DB to determine what the appropriate user ID is.

[2020-06-30 15:18] mathemancer commented on #438
After taking a peek at the API responses, it seems like a large number of files returned by an 'allimages' query are non-image file types.  I'm currently querying in our DB to see how large of a problem this is on our end.

I suspect we'll have to modify our Wikimedia Commons Provider API Script to avoid saving some non-image files.  This will end up being a bit ad-hoc, though.

[2020-06-30 20:54] ChariniNana commented on #443
The user ID is 136629440@N06 Brent. You can use the **findByUsername** method to get the User ID when the User name is known (https://www.flickr.com/services/api/explore/flickr.people.findByUsername)

[2020-07-01 06:57] mathemancer commented on #438
Further info:

It seems like the naming of that endpoint is outdated somehow.  However, we can get a 'mediatype' field in the result.  One of them, `BITMAP`, seems to cover the following MIME types:
[code]
Unfortunately, the MIME type doesn't appear to be directly available.  However, restricting to just the `BITMAP` media type should avoid the audio files at least.

[2020-07-01 06:59] mathemancer commented on #438
So, the implementer should add `mediatype` to the `iiprop` query param list in the requests, and only save an 'image' if it has `mediatype: BITMAP`.

[2020-07-01 06:59] mathemancer commented on #438
Once this is done, we can clean up the DB.

[2020-07-01 07:02] mathemancer commented on #443
Awesome, thanks @ChariniNana !

[2020-07-01 08:25] mathemancer opened #449 "[Bug] Popularity Data Workflow should not run monthly"
## Bug Description

The Apache Airflow DAG defined in `src/cc_catalog_airflow/dags/popularity_workflow.py` is currently configured to run monthly, but this is not necessary.  Further, running this DAG monthly creates potential for failures when we *do* want to run it, since it runs for multiple days, and is not set up to run more than once concurrently.

This is a relatively simple change to the c

[2020-07-03 12:56] mathemancer opened #450 "[Bug] Wikimedia Commons Script causes Out of Memory errors on API"
## Bug Description

Our current Provider API Script for ingesting Wikimedia Commons data is causing an out of memory error from the API.  The error message is:

## To Reproduce

Try to run the Wikimedia Commons Provider API Script with the parameter `--date 2020-07-02`

## Screenshots

![image](https://user-images.githubusercontent.com/6829750/86471065-ec65bf80-bd3c-11ea-85f8-276c47ac9e77.png)

##

[2020-07-05 23:22] ChariniNana opened #451 "[Infrastructure] Create a workflow for alerting about newly added categories (unit codes) in Smithsonian"
## Current Situation
The images from the Smithsonian API are categorised based on a unit code value, and the unique unit code values can be retrieved from calling the following endpoint: https://api.si.edu/openaccess/api/v1.0/terms/unit_code?api_key=REDACTED

We intend to use currently known unit code values for retrieving the sub providers within Smithsonian, and if a previously unknown unit code

[2020-07-07 22:24] ChariniNana opened #454 "[Feature] Retrieve sub providers within Smithsonian"
## Problem Description
Retrieve all sub providers within Smithsonian. This essentially means that every Smithsonian image would be categorised under a unique sub provider and there could be no images which do not belong to a sub provider.

## Solution Description
The 'unit_code' field in the JSON response returned from a Smithsonian API call identifies the sub providers and we store this value in

[2020-07-08 12:51] #450 closed

[2020-07-08 15:48] aldenstpage opened #456 "Feed new images to the crawler"
When an image is added to cccatalog, we should schedule it for crawling so we can extract useful metadata about the image. That means producing a message to `inbound_images` in our Kafka cluster:

[code]

Let's finish our current big crawl for Rekognition before we implement this.

[2020-07-08 15:54] aldenstpage opened #457 "Come up with a solution for consuming crawler events"
We're reading metadata from images on a large scale and sticking it into some Kafka topics. We ought to start incorporating this data into the data layer so we can use it in CC Search. The format of the data is documented [here](https://github.com/creativecommons/image-crawler#output-topics). In summary:
- We know the dimensions, filesize, and compression rate of images in the `image_metadata_upda

[2020-07-09 10:16] annatuma commented on #443
@mathemancer in general do you think this is a candidate for "Help wanted" and/or do we need to document the logic used for these cases somewhere first?

Tentatively putting this in for the next sprint, depending on the upcoming work load for @ChariniNana

[2020-07-09 14:50] kss682 commented on #396
@annatuma @mathemancer
The CC licenses available are
![Screenshot from 2020-07-09 20-12-59](https://user-images.githubusercontent.com/30746998/87055089-8340e900-c221-11ea-8f25-ac688bdb45fd.png)

[2020-07-10 03:29] kss682 commented on #396
Icons can be collected using the https://api.iconfinder.com/v4/icons/search endpoint .
Sample query to search for free icons :
[code]

- Image url
The response is a list of icons, from each icon dictionary we can get the image_url and thumbnail_url from ```rastor sizes``` field and selecting choosing the preview url ( other is download link ) . Icons of different sizes are availables in ```rastor

[2020-07-10 07:30] #441 closed

[2020-07-10 09:24] #291 closed

[2020-07-10 13:22] mathemancer commented on #456
We could also do this in bulk by querying for images with 'created_on' greater than some date (along with filtering as before).  This way, we don't have to introduce logic to know whether we're creating or updating an image into the loader workflow.

[2020-07-10 14:26] mathemancer commented on #445
As an intermediate step, it might make sense to create an Airflow DAG with the following steps:
1. Run the PySpark job defined by the first data pipeline
2. Call AWS Glue to run the intermediate transformation job that it handles
3. Run the PySpark job defined by the second data pipeline.

When this is set up, we'll already have many of the visibility advantages of bringing things into Airflow, an

[2020-07-10 14:29] mathemancer opened #458 "[Infrastructure] Replace "Common Crawl Provider Images ETL" (AWS Data Pipeline) with Apache Airflow DAG"
## Current Situation

"Common Crawl Provider Images ETL" is an AWS Data Pipeline.  It's difficult to work on, and when it fails, the first notification is usually when data isn't where we expected it to be.

## Suggested Improvement

We should define an Apache Airflow DAG that runs the PySpark job run by the aforementioned pipeline instead.

## Benefit

After this change, the success or failure of

[2020-07-10 14:30] mathemancer commented on #458
This will be staff only, since as of yet, the Data Pipeline is completely hidden within AWS.

[2020-07-10 15:42] annatuma opened #459 "Reimagine data storage architecture"

[2020-07-13 03:14] abdhumal commented on #337
ERROR: Command errored out with exit status 1:
   command: 'C:\ProgramData\Anaconda3\envs\installingRasa\python.exe' 'C:\ProgramData\Anaconda3\envs\installingRasa\lib\site-packages\pip\_vendor\pep517\_in_process.py' build_wheel 'C:\Users\admin\AppData\Local\Temp\tmprr1dfued'
       cwd: C:\Users\admin\AppData\Local\Temp\pip-install-lw5whws2\ujson
  Complete output (16 lines):
  running bdist_wheel

[2020-07-15 09:20] mathemancer opened #463 "[Infrastructure] Create Mock ImageStore class for testing"
## Current Situation

All Provider API Scripts in the `src/cc_catalog_airflow/dags/provider_api_scripts` directory use the `ImageStore` class defined in `src/cc_catalog_airflow/dags/provider_api_scripts/common/storage/image.py` to verify and store image data that they collect.  A number of tests for these scripts use that class indirectly through some function in the script.  Because that class ca

[2020-07-15 09:51] kss682 commented on #413
@mathemancer @annatuma
The objects updated over the last 6 months for met museum .
[code]

In Met Museum, the  date in ```metadataDate``` query param returns all objects updated after that date . So as we go back in date it results in cumulatively increasing set of records.

[2020-07-15 17:32] akshgpt7 commented on #463
Another approach can be to create something like `mock_resources`, which can contain all the common mocks and patches used repeatedly in test scripts. These can be configured and used accordingly for different providers.
This would make it easy to import the mocks directly from the resources, which will reduce redundant code in testing scripts.
Their default behavior will be to not make calls to t

[2020-07-16 14:38] mathemancer commented on #413
That's correct.  Your research shows this ticket is unneeded.  Thanks for pointing that out!

[2020-07-16 14:38] #413 closed

[2020-07-16 16:36] mathemancer commented on #463
@akshgpt7 Currently there are three disabled tests in my pr #464 in various Provider API Scripts (you can search for @pytest.mark.skip in that PR's code to find them).  These are the inspiration for this issue, and the only tests which would absolutely need to be altered.

For other mocks, I'm totally happy if there's a directory somewhere with many of the repetitively created mocks (or pytest fix

[2020-07-16 16:37] #443 closed

[2020-07-17 12:42] kss682 opened #466 "[Bug] Change Provider name variable in museumvictoria to museumsvictoria"
## Bug Description

```Provider``` variable in Museum Victoria API script should be changed from ```museumvictoria``` to ```museumsvictoria```

[2020-07-17 13:18] #466 closed

[2020-07-20 08:00] kss682 commented on #412
### Strategy
Distribution of item over the years
[code]
No items where uploaded before 2013.

### Calculation of days of ingestion per day

 Let x be the maximum number of items created on a day .
 Maximum 10,000 requests per day and at a max of 100 items per request. (Based on the research in europeana ticket #279 )

 Requests needed for getting one day's data : ``` x / 100 ```

 Number of days t

[2020-07-21 07:24] kss682 commented on #412
So, Europeana have their first uploaded date on ```Nov 21 2013```, running script to get the daily item created count from the start date to end date (Dec 31 , 2019) gave some interesting results. They do not create or upload data on a daily basis . So the script ran to check the data for 2231 days and they have created data only in 561 days of it.
Other days item count is 0.

![Screenshot from 20

[2020-07-22 11:12] mathemancer opened #468 "[Infrastructure] Merge data from Common Crawl Scripts with data from Provider API Scripts in PostgreSQL"
## Current Situation

We currently have no good plan or method for migrating from data generated by Common Crawl scripts to data generated by Provider API Scripts.  Whenever we migrate the ingestion from one script type to the other, we simply copy all the old data for a given provider to a new table, and then delete it from the `image` table.

Some of the data in the old table is generated, e.g.,

[2020-07-23 09:35] eswarchandt commented on #337
Installing "Build Tools for visual Studio 2019" solved this issue :)

[2020-07-23 22:30] ChariniNana commented on #397
An initial analysis on missing metadata mapping is as follows:

**The numbers and percentages of missing creators:-**
[code]

**The numbers and percentages of missing descriptions in the meta data field:-**
[code]

The reason for missing the creator value is because the field from which to get it is not yet included in the _CREATOR_TYPES_ dictionary and the description is missing since it's not ye

[2020-07-26 22:17] ChariniNana commented on #397
As per the initial research conducted on the NMNH data, it was realised that the creator field may be retrieved from the `freetext -> name -> Collector` value which appears for some of the images in NMNH. Further discussion is necessary to determine whether this is an appropriate field from which to obtain the creator.

For populating the description information, it was noted that the `freetext ->

[2020-07-26 22:33] ChariniNana opened #470 "[Infrastructure] Fix Smithsonian NMNH related discrepancies"
## Current Situation
As explained in ticket #397 the NMNH (National museum national history) images from the Smithsonian API have discrepancies with regard to certain fields. The creator field is missing for all of the NMNH records and the description is missing for 99.6% of it.

## Suggested Improvement
With the initial research conducted, it was observed that the creator field may be populated w

[2020-07-27 10:41] ChariniNana opened #471 "[Infrastructure] Identify fields from which to obtain the foreign landing URL for certain Smithsonian museums"
## Current Situation
In the existing implementation of the Smithsonian provider API script, we initially try to obtain the foreign landing URL from `response.rows[i].content.descriptiveNonrepeating.record_link` and then from `response.rows[i].content.descriptiveNonrepeating.guid` if the former doesn't appear in the JSON response. However, for four of the Smithsonian museums (unit codes), neither o

[2020-07-27 11:20] ChariniNana opened #472 "[Infrastructure] Identify fields from which the license can be obtained for certain Smithsonian museums"
## Current Situation
In the existing implementation of the Smithsonian provider API script, the license value is obtained from the `content.descriptiveNonRepeating.usage.access` field. Only the images with a license value _CC0_ are stored in the image DB. However, for two of the Smithsonian museums (FBR - smithsonian_field_book_project, and NAA - smithsonian_anthropological_archives) this field is

[2020-07-29 12:28] #454 closed

[2020-07-29 13:06] #147 closed

[2020-07-30 23:31] ChariniNana commented on #397
For the four museums with missing foreign_identifier_url (SIA, NZP, FBR, NAA), no alternative field could be identified in the JSON responses to retrieve the url from.
For both FBR and NAA, we might be able to obtain the license from the `content.descriptiveNonRepeating.metadata_usage.access` path as an alternative for the missing `content.descriptiveNonRepeating.usage.access` path. For FBR, some

[2020-07-31 07:15] ChariniNana commented on #397
For si_postal_museum (NPM) with 98% of the creators missing, we might be able to use the `freetext -> name -> Presentor` value as the creator and some have `freetext -> name -> Associated Organization`. Both fields seem to contain names of places which could be the place where the image is presented or has some association with. For certain images `freetext -> name -> Associated Person` is availab

[2020-07-31 10:04] ChariniNana commented on #470
Numbers of missing metadata looks as follows after this implementation

**The numbers and percentages of missing creators:-**
[code]

**The numbers and percentages of missing descriptions in the meta data field:-**
[code]

[2020-07-31 20:12] akshgpt7 commented on #379
On looking at the Actions reports for the workflow (https://github.com/creativecommons/cccatalog/actions?query=workflow%3Aflake8_lint), it seems that the workflow _is_ running, but only on merging Pull Requests.

[2020-08-03 08:51] #348 closed

[2020-08-03 16:17] #412 closed

[2020-08-04 09:14] #451 closed

[2020-08-07 15:33] kgodey commented on #459
We are iterating based on a new view in the database and will not be doing any re-imagining at this time. We will revisit when needed.

[2020-08-07 15:33] #459 closed

[2020-08-11 08:03] #431 closed

[2020-08-12 13:56] annatuma opened #480 "[Bug] Audio and Video Meta Search load Image Results"
## Bug Description

1. When applying a Use filter while in the Audio or Video meta search tabs, the Image results for the same query are loaded.  Instead, the Use filter(s) should remain selected, and should apply to the Meta Search source that the user clicks on. (This does appear to be working).

![meta search filter bug](https://user-images.githubusercontent.com/3051816/90023317-206cc280-dca3-1

[2020-08-12 13:59] zackkrida commented on #480
Ah yes, so bascially when you apply a filter or submit a query on the audio or video tabs, it redirects to the image tab. definitely fixable!

[2020-08-12 14:49] kgodey commented on #480
@zackkrida @annatuma shouldn't this be on the frontend repo?

[2020-08-12 14:50] zackkrida commented on #480
Yes, I didn't even notice it wasn't 😊

[2020-08-12 14:51] mathemancer opened #481 "[Feature] Collect 'Categories' metadata for images from Wikimedia Commons"
## Problem Description

A number of GLAM (**G**alleries **L**ibraries **A**rchives **M**useums) institutions publish images on Wikimedia Commons (WMC), and we currently don't have any listed as subproviders (sources).

## Solution Description

As a first step, we want to collect the `extmetadata.Categories.value` field for each image from WMC, since (at least for some GLAM institutions) that seems

[2020-08-13 11:16] ChariniNana opened #482 "[Infrastructure] Expire outdated images in the database"
## Current Situation
In the existing setup we do not have a mechanism of expiring outdated images, where 'outdated' refers to images which are not updated potentially due to them being removed from the upstream.

## Suggested Improvement
It is necessary to have a method of reflecting whether images are outdated or not in the CC database. For all provider API scripts with a re-ingestion strategy, w

[2020-08-13 15:25] annatuma commented on #387
Update:
- We now have a provider (which can also be an aggregator, or just the home institution) for every source.
- We have a table where new sources are added with logos etc, from which we populate a list on the frontend.

This work is essentially complete.

[2020-08-13 15:25] #387 closed

[2020-08-13 18:10] iyeedinho commented on #337
Hello,
I installed the Visual Studio 2019 and still the same issue:
ERROR: Could not build wheels for ujson which use PEP 517 and cannot be installed directly

[2020-08-14 06:53] abdhumal commented on #337
install build in tool for Visual studio 2015 and 17 as well.

On Thu, Aug 13, 2020 at 11:40 PM IYEED <notifications@github.com> wrote:

[2020-08-14 13:56] #470 closed

[2020-08-16 11:09] kss682 opened #484 "[Quality] Increase europeana reingestion task timeout"
## Current Situation

Europeana re ingestion workflow has a task timeout of 4 hours, which sometimes is not enough for long running days.

## Suggested Improvement

Increase the task timeout to 12 hours.

## Benefit

This gives enough time for long running days to complete the task.

[2020-08-18 02:47] avats-dev commented on #481
Hey @mathemancer @kgodey , I want to take up this. Can you guide me more on what needs to be done?

[2020-08-18 03:59] avats-dev commented on #449
Hey @mathemancer , I'm new here. I couldn't find `src/cc_catalog_airflow/dags/popularity_workflow.py` anywhere. Is this already done, as it should be closed then or it is located elsewhere?

[2020-08-18 05:21] avats-dev opened #486 "Minor Typo in Readme"
## Bug Description

A minor typo in [README](https://github.com/creativecommons/cccatalog/blob/master/README.md).

## To Reproduce

Go to https://github.com/creativecommons/cccatalog#prerequesites

## Expected behavior

It should be **prerequisites** instead of **prerequesites**.

## Screenshots
![Screenshot from 2020-08-18 10-48-25](https://user-images.githubusercontent.com/35889327/90473384-6c56

[2020-08-18 10:58] akshgpt7 commented on #486
@avats-dev Thanks for spotting it! Feel free to open a PR for it.

[2020-08-18 15:12] mathemancer commented on #449
@avats-dev Great catch, thanks!  This ticket is out of date.  We ended up decommissioning that DAG and replacing it with the following three DAGs (for which the issue described in the ticket isn't a problem):
- `recreate_image_popularity_calculation.py`
- `refresh_all_image_popularity_data.py`
- `refresh_image_view_data.py`

All are in the `src/cc_catalog_airflow/dags` folder at the moment.

[2020-08-18 15:12] #449 closed

[2020-08-18 15:41] mathemancer commented on #481
@avats-dev I've added more details to the issue.  Please let me know if you still have questions.

[2020-08-20 08:50] #379 closed

[2020-08-20 09:00] #486 closed

[2020-08-21 08:56] #484 closed

[2020-08-21 19:03] avats-dev opened #489 "[Quality] Use collections.abc instead of collections module as it is deprecated for ABCs"
## Current Situation

We're using `collections` module for Abstract Base Classes(ABCs) in our code. These have been deprecated since **python 3.3** and will stop working from **python 3.9**. There is a new module `collections.abc` for these similar to `collections`.

## Suggested Improvement

Use `collections.abc` instead of `collections` to avoid current deprecation warnings, and to avoid build f

[2020-08-24 08:09] mathemancer commented on #489
@avats-dev Aren't all these imports in code from the standard python distribution?  I.e., none of these are imports that we can directly remove.

[2020-08-24 19:49] avats-dev commented on #489
Oh, yeah this should be an issue on airflow, lol. Sorry @mathemancer , I didn't checked that. Closing this!

[2020-08-24 19:49] #489 closed

[2020-08-25 07:31] #481 closed

[2020-08-25 07:37] #468 closed

[2020-08-25 08:14] #482 closed

[2020-08-26 02:48] Kashi7 commented on #337
try this conda install ujson==1.35 instead of ujson==3

[2020-08-26 02:49] Kashi7 commented on #337
Was earlier fcing the same problem but removed by installing lower version of ujson
conda install ujson==1.35

[2020-08-26 02:50] Kashi7 commented on #337
try conda install ujson==1.35 after installing build tools and other dependencies

[2020-08-31 03:43] avats-dev opened #492 "[API Integration] Free SVG"
## Provider API Endpoint / Documentation

https://freesvg.org/pages/api-and-usage

## Provider description

Collection of public domain clipart content in SVG vector format. **(Current count :120130)**

## Licenses Provided

CC0 public domain license

## Provider API Technical info

endpoint : https://freesvg.org/api/v1/

### Use case
**req :**
 `curl -H 'Accept: application/json' -H "Authorizatio

[2020-09-07 08:34] akshgpt7 opened #493 "[Quality] Replace all str.format() methods with f-strings"
## Current Situation
Throughout the codebase, there are quite a lot of places where the `str.format()` method is being used to format strings.
Using `grep` will find all such occurrences.
The `format()` method is an older method and should be updated with the newer alternative.

## Suggested Improvement

Replace all the occurrences of the `format()` method with the newer alternative of f-strings,

[2020-09-08 13:28] kgodey commented on #493
We need to make sure that the code is only updated for the portions of the codebase that use Python 3.6+, I think we're still using Python 2 _somewhere_.

[2020-09-08 15:05] annatuma commented on #492
Great suggestion, thanks! We're happy for this to be worked on if you'd like to tackle it @avats-dev or anyone else interested.

[2020-09-08 15:52] mathemancer commented on #493
We're not using Python 2 anywhere, but the PySpark parts of the codebase are using Python 3.4 (which didn't yet have f-strings).

Directories where this could be safely performed should be anything under
`src/cc_catalog_airflow`; in particular, this should be safe for any portion of the codebase that's tested via the instructions using `docker-compose` in the README.

I'd want to make sure that th

[2020-09-08 21:29] avats-dev commented on #492
Hey @annatuma I would like to tackle it and I'm studying other scripts currently used, so it might take some time. I will update you when I will start working here or on slack. Anyone else interested can go on and tackle this :+1: .

[2020-09-10 21:11] shellayers opened #494 "[Source Suggestion] Insert source name here"
## Source Site

## Value Provided

## Licenses Provided

[2020-09-10 21:14] zackkrida commented on #494
Hi @shellayers, if this is a legitimate suggestion please fill out the information in the ticket; otherwise we will close. Thank you!

[2020-09-10 21:17] #494 closed

[2020-09-11 14:55] OrganizationIdentity opened #496 "[CCO] rosdi ab latiff"
## Source Site

## Value Provided

## Licenses Provided

[2020-09-11 15:06] OrganizationIdentity opened #497 "[Source Suggestion] Insert source name here"
## Source Site

## Value Provided

## Licenses Provided

[2020-09-11 15:19] #497 closed

[2020-09-11 15:19] #496 closed

[2020-09-14 07:12] dravadhis commented on #493
@kgodey I want to work on this issue. If OK, please assign this issue to me.

[2020-09-14 07:16] akshgpt7 commented on #493
@dravadhis Sure, go ahead. No need to ask for issues labeled "help wanted".

[2020-09-14 12:01] dravadhis commented on #493
I replaced the `str.format()` with format strings in all files. But some tests seem to have failed while submitting the PR. Most problems are related to invalid escape sequence `\d`, too long lines, multiple spaces before operators, too many blank lines. Should I make changes to these too and add a note about these changes in the technical section of the commit?

[2020-09-14 19:46] sTaufiqullah opened #500 "[Source Suggestion] Insert source name here"
## Source Site
<!-- Please provide a link to the Source site that you'd like considered for inclusion on CC Search -https://creativecommons.org/licenses/by-sa/4.0/->

## Value Provided
<!-- Please explain why it would be valuable to include this source on CC Search -https://creativecommons.org/licenses/by-sa/4.0/->

## Licenses Provided
<!-- Which CC licenses or Public Domain tools are in use by t

[2020-09-14 19:47] sTaufiqullah opened #501 "[Source Suggestion] Insert source name hehttps://en.wikipedia.org/w/index.php?title=User:%E0%A6%B8%E0%A7%88%E0%A6%AF%E0%A6%BC%E0%A6%A6_%E0%A6%A4%E0%A7%8C%E0%A6%AB%E0%A6%BF%E0%A6%95_%E0%A6%89%E0%A6%B2%E0%A7%8D%E0%A6%B2%E0%A6%BE%E0%A6%B9/sandbox&action=edit&section=1re"
## Source Site

## Value Provided

## Licenses Provided

[2020-09-14 22:49] akshgpt7 commented on #493
I think you can ignore the `\d` warnings for now. However, you'll have to resolve the other PEP-8 violations. Make sure your entire code is free from any PEP-8 violations.

[2020-09-15 15:59] #500 closed

[2020-09-15 16:38] #501 closed

[2020-09-16 02:10] sTaufiqullah opened #502 "[API Integration] Provider name here"
## Provider API Endpoint / Documentation

## Provider description

## Licenses Provided

## Provider API Technical info

## Checklist to complete before beginning development

No development should be done on a Provider API Script until the following info is gathered:

- [x] Verify there is a way to retrieve the entire relevant portion of the provider's collection in a systematic way via their API

[2020-09-16 02:17] sTaufiqullah commented on #502
[src/cc_catalog_airflow/dags/provider_api_scripts/common/storage/image.py](url)
[src/cc_catalog_airflow/dags/provider_api_scripts/flickr.py](url),
[src/cc_catalog_airflow/dags/provider_api_scripts/wikimedia_commons.py](url)

[2020-09-16 02:17] #502 closed

[2020-09-16 11:35] dravadhis commented on #493
Flake8 issues a warning for bare excepts. The screenshot refers to the Provider.py file in providers->commoncrawl. What should I do?
![bare_except_w](https://user-images.githubusercontent.com/56121942/93331971-b960a180-f83e-11ea-9a8d-c3d4e716232b.JPG)

[2020-09-16 13:19] dravadhis commented on #493
I managed to resolve most of the PEP-8 violations. Remaining ones are either escape sequence warnings or bare except errors.  But I guess changing them would cause some loss in functionality. Should I send the the PR now?

[2020-09-16 15:15] mathemancer commented on #493
I've commented in the draft PR.  To reiterate, there is a section of the codebase where the test coverage is too low to safely make this sort of modification, so I'd like to avoid any changes there.  I think this will solve any PEP-8 violations (at least big ones).

[2020-09-16 16:26] dravadhis commented on #493
I have reverted the changes made to the untested files. I am sorry for overlooking your request to make changes to specific files only. I will be more careful in the future. Please outline further course of action.

[2020-09-18 05:33] dravadhis commented on #274
I want to work on this. Please assign this issue to me (if no one else is working on this).

[2020-09-18 16:21] kgodey commented on #274
go ahead @dravadhis

[2020-09-20 06:38] dravadhis commented on #274
Just a small doubt. How often should I query the API? Every 24 hours seems good to me since there is no such information I found in the documentation.

[2020-09-20 11:03] dravadhis commented on #274
@kgodey I think there is no way to query the API by upload date. In fact the only way to group images is by classification (for e.g. Ivory, Manuscripts, Print, Ceramics, etc.). So I am thinking of querying on the basis of classification. The GET request for object type (the other types do not return image data so they are not useful for us I guess) does return a Public Access Date but it is not ac

[2020-09-21 14:56] Kn99HN commented on #423
Hi,

I look into this and it seems that if we make a request to `https://demo.ckan.org/api/3/action/package_show?id=test__` with id being the dataset(package) id then it will return response in this format:
[code]

Most has `cc-by` licenses but usually they don't include the version of the license. I do a basic scrape script and got around 2000 (not final) datasets that has cc-license in its respo

[2020-09-22 09:29] dravadhis commented on #274
@annatuma @mathemancer @kgodey Do I also need to write the workflow file for the provider script? Like the ones present in `src\cc_catalog_airflow\dags`.

[2020-09-23 13:29] dravadhis commented on #492
@avats-dev I think it is not possible to query by upload date. A good option would be to retrieve all available SVGs because this is the only possible request that can be made. Search term would not cover the entire collection, while querying by ID is not possible. The script can then be run every month or 15 days depending on how quickly the count increases.

[2020-09-24 10:30] #493 closed

[2020-09-24 10:38] mathemancer commented on #423
@Kn99HN For the real info, we'll need to use the `https://data.nhm.ac.uk/api/3/` root, for example:
[code]

[2020-09-24 10:43] mathemancer commented on #274
@dravadhis I think it'd be good to make the script first, and then make an issue and implement the DAG separately.  However, you are correct in that we'll need to make an associated DAG before the script will be able to run in production.

[2020-09-24 10:45] mathemancer commented on #274
@dravadhis How many total items are there?  Is it possible to tell?  If it's not too many, partitioning isn't necessary.  If there _are_ a large number, we'll need to ensure that partitioning by classification is indeed a proper partition; i.e., we need to be sure that every item is in one of the classifications and that _no_ item is in more than one classification.  Can you confirm this?

[2020-09-24 10:45] dravadhis commented on #274
In that case I will first complete the script. After which I will open an issue and implement the DAG.

[2020-09-24 10:57] dravadhis commented on #274
Every item has one classification. I have manually checked all responses. I dont know the actual count of images but I am sure that the max is 50k (I did the maths behind that). I did have the doubt of dual classification. I have asked about that from the maintainers and am waiting for their reply.

[2020-09-24 10:58] dravadhis commented on #274
I don't know if 50k is a large number for partition or not. Please point this out.

[2020-09-24 22:59] Kn99HN commented on #423
@mathemancer  Hi, Thank you. I see. I didn't notice I was using the demo root. I check the new URL and it seems that the response is similar.

[code]

It seems that each package(dataset) is associated with a license. I did a quick scrape and see that there are around 36 packages that has CC-license in their responses. I also check the 2 other endpoint with `resource_show` and `tag_show` but they d

[2020-09-25 02:12] harsh-not-haarsh opened #503 "[Bug] Broken Links in readme"
## Bug Description
Broken links of the linked scripts of Common-API-WorkFlows in the [Readme](https://github.com/creativecommons/cccatalog#common-api-workflows)

## To Reproduce

1. Go to [Readme](https://github.com/creativecommons/cccatalog#common-api-workflows)
2. Click on Met Museum or PhyloPic Link
3. See error

## Expected behaviour
Should Open the linked scripts

[2020-09-27 15:40] dravadhis opened #507 "[Feature] Apache Airflow DAG to run the new walters_art_museum.py script"
## Problem Description
In order to get the `walters_art_museum.py` script (see [#506 ]) into production, we need to implement a new Apache Airflow DAG to run the script.

## Solution Description
Implement such a dag. For an example, see src/cc_catalog_airflow/dags/flickr_workflow.py (note the use of the new DAG Factory). The DAG should be configured to run the main function from src/cc_catalog_air

[2020-09-29 20:22] dravadhis commented on #423
@mathemancer @annatuma
I tinkered with the API and checked its reponses. According to me the best way to collect the images will be to get the `package list` (datasets list) one at a time and then loop through the `resources` list in the response. Any response consisting of images contains some fields which are present onle in image specific resources (like `_image_licence`, `_image_delimiter`). W

[2020-09-30 11:13] #503 closed

[2020-09-30 15:08] dylan-k commented on #274
I wanted to introduce myself here. I'm Dylan Kinnett, manager of web for the Walters Art Museum. I'd like to invite you, and please do feel free, to reach out to me via Github with any questions you may have for us, related to this, the API in general, or the collection.

[2020-09-30 18:04] mathemancer commented on #423
@dravadhis Let's wait till we get the other issues you've implemented are merged first.  I'd like to give others a chance (@Kn99HN for example) to jump in if they're interested.  We can check back in here in a couple days to see if any progress is apparent.

[2020-09-30 18:08] mathemancer commented on #274
Hey @dylan-k !  Thanks for the invitation.  To reciprocate, we have a public slack (instructions for joining at https://opensource.creativecommons.org/community/)  .  You might be interested in the #cc-dev-catalog channel, where we discuss integrations with various APIs such as the one provided by the Walters Art Museum!

[2020-09-30 23:14] Kn99HN commented on #423
@mathemancer Thank you so much for the opportunity! I don't think I can work on it anytime soon as school work is ramping up. So others can feel free to work on this!

[2020-10-02 12:49] mathemancer opened #509 "[Bug] JSONColumn class should not enforce ASCII charset"
## Bug Description

Currently, the method `JSONColumn.prepare_string` defined in `src/cc_catalog_airflow/dags/provider_api_scripts/common/storage/columns.py` uses the default `ensure_ascii=True` when dumping the given object to a string.  This is not necessary, since PostgreSQL (and all downstream machinery) can handle the full UTF-8 charset.  Thus, we should set `ensure_ascii=False` in the `json.

[2020-10-02 12:49] mathemancer commented on #509
Note that the implementer should include a test to make sure that the new functionality is correct.

[2020-10-02 13:16] Runanka commented on #509
Let me try this

[2020-10-02 15:06] mathemancer commented on #509
Go for it!

[2020-10-03 16:47] amartya-dev commented on #424
@ChariniNana are you still working on this?

[2020-10-04 21:57] ChariniNana commented on #424
@amartya-dev No. Feel free to start working on this ticket

[2020-10-05 07:09] dravadhis commented on #362
Is anyone working on this? If not I would like to work on this. @mathemancer Please point out if there are some specific things I will need to pay attendtion to while working on this (apart from the ones mentioned in the discussions above and in the linked PRs).
Thank You!

[2020-10-05 07:41] dravadhis commented on #211
@mathemancer Why is this blocked? #321 seems to be completed. If possible can I work on this?

[2020-10-05 09:19] amartya-dev commented on #424
@annatuma @mathemancer
I looked into the documentation provided, I have a couple of questions before I can start the implementation
- Since this issue does not have the checklist for verifying the API providers before starting development, should I include that here?
- The systematic way of retrieving info from the API in my opinion is to query using fromYear and toYear, there is a published date

[2020-10-05 11:43] #373 closed

[2020-10-05 13:50] mathemancer commented on #362
@dravadhis Go for it.  I think the main thing is to take note of the clarification above.  Thanks!

[2020-10-05 13:53] mathemancer commented on #211
@dravadhis I think you're correct.  I'll unblock the issue.  Please make sure not to take too many things onto your plate at once :smiley:

[2020-10-05 13:58] dravadhis commented on #211
I will make sure to tackle them one at a time so that I don't mess up things. Thanks for your guidance.

[2020-10-05 13:59] mathemancer commented on #424
@amartya-dev From that sample, it looks like the `publishedDate` is more appropriate, since it seems to be the date of actual upload.  In the end, it doesn't matter much as long as the whole collection gets into our DB.  Is there any less-than/more-than functionality for any of the date fields in the API ?

As for the checklist, I've edited the original issue comment to add it.

[2020-10-05 14:16] amartya-dev commented on #424
I do not think they provide a less than or more than search functionality, actually, they have two different lists of fields as follows:

This list of the fields that are "fields in index, unprocessed and for display:"
[code]

whereas, this list is of the fields that are "Indexed fields, processed and search only":

[code]
I have tried querying the API with different date strings, all that it retu

[2020-10-05 15:33] dravadhis commented on #211
@mathemancer While going throught the script `raw_pixel.py` I found that the `_get_foriegn_id_url` function checks if the image is CC0 licensed or not by using `if image.get('freecc0'):`.
![_get_foreign_id_url](https://user-images.githubusercontent.com/56121942/95099517-96465500-074d-11eb-9e72-70f768222f10.png)
However this seems unnecessary to me because while making the request to get the list o

[2020-10-05 15:48] dravadhis commented on #211
Also the `pinterest_description` that is returned has character entities like `/"` or `&ndash` in the description (for e.g. ` ...by Joseph August Knip (1777&ndash;1847)...` This may be because the default responses are meant to be HTML. Should this be handled to display the symbols they are meant to or left as it is?

[2020-10-05 15:55] mathemancer commented on #211
@dravadhis You can leave it as-is.  It's not actually displayed, but rather used for search indexing.

For the CC0 redundancy, I think we should leave it in for the moment.  It's not hurting anything (performance is a non-issue, since we're limited by a rate limit on the API, not by processing speed), and it may have been added for some reason (perhaps there is some bug resulting in non-CC0 images

[2020-10-05 17:56] #274 closed

[2020-10-06 07:12] dravadhis commented on #362
This was mentioned by you(@mathemancer) in PR 365 [(here)](https://github.com/creativecommons/cccatalog/pull/365#pullrequestreview-400677541l). Does this mean that we should define `ARG` s in the `docker-compose.yml` file for production and override them during development by defining another `ARG`s set in `docker-compose.override.yml` (which would happen automatically since the `.override` file i

[2020-10-06 08:22] #507 closed

[2020-10-06 08:34] mathemancer commented on #362
@dravadhis  WRT the ARG question, you can just set up two different requirements files, and use a variable in the Dockerfile that takes an ARG to define which requirements file to use.

As for dependencies, you need to get the dependencies from both places, but not the `venv` directory.  I suggest building the image with the current setup, and using `pip freeze` from within the running airflow web

[2020-10-06 08:35] #211 closed

[2020-10-06 08:35] mathemancer commented on #423
@dravadhis This one appears to be back on the table if you're still interested.

[2020-10-06 08:37] dravadhis commented on #423
Sure! I will be more than happy to work on this.

[2020-10-07 07:00] dravadhis commented on #362
This is about the ARG. From what I understood the thing I need to do is define an `ARG` in the ` Dockerfile` and make a corresponding `arg` in the `docker-compose.yml` file. The default value will be `requirements_prod.txt`.
Then the `requirement_dev.txt` can be passed to docker-compose with the following command during development:
`REQUIREMENTS_FILE=requirements_dev.txt docker-compose up -d`.

[2020-10-07 07:47] dravadhis commented on #362
@mathemancer I managed to get a list of the dependencies using `pip freeze`. I removed those used for testing (the bold ones) for the prod version but I am not clear about which ones to freeze (and which ones to not).
alembic==1.4.3
apache-airflow==1.10.9
apispec==1.3.3
argcomplete==1.12.0
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
boto3==1.15.5
botocore==1.18.5
cached-property==1.5.2
cattrs==0.9.

[2020-10-07 09:17] mathemancer commented on #362
@dravadhis I think the best thing to do would be to
0. Build using the current `requirements.txt` and run the tests (to make sure it's a working state).
1. `pip freeze` in the container and save the result somewhere for future inspection.
2. Modify `requirements.txt` to contain only the  "prod" requirements:

3. Build the docker image using only that `requirements.txt` -- This way, no dependencies

[2020-10-08 21:45] tinafitriani opened #513 "[Source Suggestion] Insert source name here"
## Source Site

## Value Provided

## Licenses Provided

[2020-10-08 21:46] tinafitriani opened #514 "[Source Suggestion] Insert source name here"
## Source Site

## Value Provided

## Licenses Provided

[2020-10-08 21:46] #514 closed

[2020-10-09 14:23] tushar912 commented on #509
@Runanka are u working on this. If not can i take it up

[2020-10-09 19:20] mathemancer commented on #509
@tushar912 I think you can go for it.  It's been quite some time, and it's a pretty quick issue.

[2020-10-09 20:10] #362 closed

[2020-10-10 10:38] dravadhis commented on #423
@annatuma @mathemancer While working on the script I realised that in the dataset (`collections` dataset) which has the 4.5M images, the image list cannot be accessed. This is due to two problems: first that the dataset is in `dwc` format and second that for some reason that file is not accessible.
This can be verified by opening the link in the `url` field in the response obtained by sending the

[2020-10-10 14:34] tushar912 commented on #382
I am interested in working on this. Can you assign it to me?

[2020-10-11 10:04] #513 closed

[2020-10-11 10:04] akshgpt7 commented on #513
Irrelevant.

[2020-10-12 06:23] dravadhis commented on #423
@mathemancer I have been working on this script for some time now. I am facing following problems:
1. There are 171 packages on the website out of which only the following can be used to obtaine images:
[code]
Some of these provide CSV resources while some give PDF resources. Since the resources do not follow a common standard it is not possible to get the image URL with a common function(s).

2.

[2020-10-12 09:18] #509 closed

[2020-10-12 09:22] mathemancer commented on #382
@tushar912 This one is still in the 'research' phase.  If you'd like to help with that, please see the check boxes above.  If you can figure out the answers to anything there, please put it here, and we'll check the appropriate boxes.

[2020-10-12 09:32] mathemancer commented on #423
@dravadhis Please don't worry about the timing; there's no rush!  For your questions:
1. I wouldn't worry terribly about efficiency at the scale we're currently looking at.
2. Does the `url_type` field help differentiate between different results (i.e., whether the result is a csv or image)?  If so, while it's not very "nice", we can at least avoid saving results that are of the wrong type.
3. Wha

[2020-10-12 09:37] mathemancer commented on #423
@dravadhis Also, I'm curious whether you know what the `_image_field` in the response is pertaining to?

[2020-10-12 10:20] tushar912 commented on #382
Ok @mathemancer

[2020-10-12 10:25] dravadhis commented on #423
@mathemancer The data structure returned in the response can be understood as:
Package metadata--> Contains a list of resources: Each resource is of different type (csv/pdf/xls/dwc). There is the url field which points to a file --> This file (if `CSV`) contains a list of images.

[code]
Above is a sample response.
1. The relevant field for file type is `format`. There is no point in differentiati

[2020-10-12 14:08] tushar912 commented on #492
Is anyone working on this. If not can i take it up?

[2020-10-14 06:24] dravadhis commented on #492
@tushar912 I have been working on this.

[2020-10-14 13:44] tushar912 commented on #382
@mathemancer I think before we make any progress in this issue ,We would need an authorization method as the api requires it.
There are three methods available client id , client id and secret and api key . The first two are encoded in the url whereas the last ie key is in query . I think the api key would be the easiest method and would suit our need.

[2020-10-14 13:51] dravadhis commented on #492
@tushar912 @avats-dev
False - Verify there is a way to retrieve the entire relevant portion of the provider's collection in a systematic way via their API.
False - Verify the API provides license info (license type and version; license URL provides both, and is preferred)
False - Verify the API provides stable direct links to individual works.
False - Verify the API provides a stable landing page

[2020-10-16 10:52] tushar912 commented on #382
I analyzed responses from the api and found that the best way to access the images would be to query by category on the search endpoint of the api (something like <code>https://www.myminifactory.com/api/v2/search?cat=112&rec_cat=1&page=1&per_page=100</code> rec_cat true to search on children category) . This gives the response as total count which is currently 17381(not all are cc licensed) and an

[2020-10-16 10:58] tushar912 commented on #382
The thing i am not sure is how many models are cc licensed and as there is no option in api to query by license . We would have to check individually for each object if it is cc licensed or not . @mathemancer @annatuma Please tell if my approach is correct.

[2020-10-19 10:13] mathemancer commented on #382
@tushar912 What's the rate limit on the API?  If it's reasonable, we can page through all responses without a problem (there's only 17-18 thousand as per your above comment

[2020-10-19 13:54] tushar912 commented on #382
@mathemancer I contacted myminifactory regarding rate limit and they told that for trusted clients there isn't any specific rate limit.It only depends on nginx limit which is 5 requests per second. So, I think it shouldn't be a problem.

[2020-10-20 09:32] mathemancer commented on #382
@tushar912 In that case, I think it makes sense to proceed with the one-record-per request approach.  Please limit to 1 request per second, since I don't think there's any point in hitting their endpoint harder than that.

[2020-10-20 10:36] tushar912 commented on #382
@mathemancer Can you explain a bit about what you mean by one-record-per request approach? Do you mean to process only one object in one request (per_page=1) .

[2020-10-20 14:23] mathemancer commented on #382
@tushar912 Ah, sorry I misunderstood your earlier comment.  I think your plan of pulling whatever is allowed (in your example it's 100 objects) per request, then looping through the objects in each page makes sense.

[2020-10-20 18:03] tushar912 commented on #382
Ok

[2020-10-20 18:16] #356 closed

[2020-10-21 17:32] susannaanas opened #518 "[Source Suggestion] Finna.fi"
## Source Site
https://www.finna.fi/

## Value Provided
This is the content aggregator of Finnish libraries, archives and museums

## Licenses Provided
CC licenses and Rights Statements for media, CC0 for metadata

[2020-10-21 18:19] tushar912 commented on #382
@mathemancer should I create an issue for the worklow for this and start working on it .

[2020-10-22 08:11] mathemancer commented on #518
API docs:  https://api.finna.fi/swagger-ui/?url=%2Fapi%2Fv1%3Fswagger

[2020-10-22 08:14] mathemancer commented on #382
@tushar912 I think this issue should be implemented first.  Am I misunderstanding something?  I.e., _this_ is the correct issue for the work of the Provider API Script.

[2020-10-22 08:25] tushar912 commented on #382
@mathemancer Oh Sorry I meant that after I implemented provider script . Do I have to write the workflow as well.

[2020-10-22 08:48] susannaanas commented on #518
I notices it had just been listed recently. It would make sense merging them. I can help in deciphering open questions about this and I can connect with the personnel.

[2020-10-22 19:10] hkmiller opened #520 "[Source Suggestion] Multiple diversity-focused image sources"
## Source Site
<https://www.cccoer.org/2018/10/09/on-equity-diversity-inclusion-and-open-education/#DEI-Photo>

## Value Provided
This is a list of resources compiled by Heather Blicher and members of the CCCOER email group for openly licensed photos and images featuring people of color, trans, non-binary, indigenous, and other diverse population groups. The sources not yet included in CC Search a

[2020-10-23 04:39] dravadhis commented on #520
I went through the API documentations of given sources. I found that:

1. Source Site: https://www.imagesofempowerment.org
   API Endpoint: No API reference visible on the source site.

2. Source Site: https://affecttheverb.com
   API Endpoint: No API reference visible on the source site.

3. Source Site: https://genderphotos.vice.com
   API Endpoint: No API reference visible on the source site.

[2020-10-23 05:33] zackkrida commented on #520
@hkmiller _thank you_ for this wonderful list of resources, and @dravadhis for your thorough follow-up research.

Excitingly, **nappy.co** is already part of our "Meta Search" feature. On any results page you can click the "Not finding what you need? Search other sources" text to see the following:

<img width="1785" alt="Screen Shot 2020-10-22 at 7 31 01 PM" src="https://user-images.githubusercon

[2020-10-23 05:37] zackkrida commented on #520
Sadly, https://genderphotos.vice.com/ and https://affecttheverb.com/disabledandhere lack search functionality, so would be difficult to include in Meta Search.

[2020-10-23 05:49] dravadhis commented on #520
@zackkrida Thank you for confirming. In that case two of the mentioned sources remain. I am willing to work on them if possible. @annatuma Please confirm for source `5.`.

[2020-10-23 06:03] mathemancer commented on #382
@tushar912 Yes, in order to get the provider into the UI, we'll have to make an Apache Airflow DAG to run it in prod.

[2020-10-23 06:05] mathemancer commented on #518
Good catch.  Closing this issue as duplicate.  Anyone interested should head over to #435 .

[2020-10-23 06:05] #518 closed

[2020-10-23 06:20] dravadhis commented on #435
I am interested in working on this. Can I begin work if possible?

[2020-10-23 06:20] mathemancer commented on #520
@dravadhis I think it makes sense to proceed on source 5.  Please make a separate issue with the before starting using the Provider API Integration template:

[Image Provider API Integration Request](https://github.com/creativecommons/cccatalog/issues/new?assignees=&labels=enhancement%2C+awaiting+triage%2C+ticket+work+required%2C+providers&template=image-provider-api-integration-request.md&title=%

[2020-10-23 06:22] mathemancer commented on #435
@dravadhis Yes, this is open.  Please make sure it's clear to others _which_ you're working on, though, and try to make sure it's just one at a time.

[2020-10-23 06:26] dravadhis opened #521 "[API Integration] The Noun Project"
## Provider API Endpoint / Documentation

http://api.thenounproject.com/

## Provider description

The Noun Project API provides a collection of icons and photos.

## Licenses Provided

CC BY 3.0
Public Domain Mark 1.0

## Provider API Technical info

Rate Limits: 5000 requests/month
Overall volume: 3 million (Rough Indication)

## Checklist to complete before beginning development

No development

[2020-10-23 06:35] dravadhis commented on #521
@mathemancer As mentioned in #520 I will begin work on this.
Thank You!

[2020-10-23 06:38] dravadhis commented on #435
@mathemancer I am currently working on #521. I will comment here if and when I begin work on this. Anyone is free to take this up until then.
Thank You!

[2020-10-24 14:18] dravadhis commented on #520
I started work on #521 for now.
I checked with the API and found that 50 is the default and maximum possible limit for the API. Nonetheless I am trying to cover all images in the integration.

Thank You!

[2020-10-27 11:05] mathemancer opened #522 "[Bug] DB cleaner DAG cannot clean when tags or metadata are defective"
## Bug Description

The new DB cleaner DAG (at `src/cc_catalog_airflow/dags/cleaner_workflow.py`) implemented in #517 fails whenever:
- tags are missing defective, or
- metadata is missing or defective

## Expected behavior

Whenever the above are true, the cleaner DAG should log the defect, then clean the rest of the row.

[2020-10-28 06:10] dravadhis commented on #521
@mathemancer I am working on issue on issue #521. The API requires OAuth 1.0 authorisation via an api_key and consumer_secret. To send an authorised request I need to use a library called requests-oauthlib (See [here](https://requests.readthedocs.io/en/master/user/authentication/#oauth-1-authentication) for reference). Should I add this library in the requirements file? Or is there any other way t

[2020-10-29 10:46] mathemancer commented on #521
@dravadhis  I think that should be fine.  Just add it to both requirements files (make sure to freeze the version in prod requirements, but not dev).

[2020-10-29 10:46] #522 closed

[2020-10-29 11:31] dravadhis commented on #521
@mathemancer Also the API does not provide any specific response in the case of crossing the last page (nor is their any field in the regular responses which helps us to check if there is a nextpage or not). In this case the current script I am making just checks for a None response to determine "last page reached". However this prevents differentiating from an actual Bad response and "last page r

[2020-10-31 06:33] tushar912 commented on #435
@annatuma @mathemancer I am interested to work on this .

[2020-11-02 15:40] mathemancer commented on #435
@tushar912 Since I'm still waiting on an API key from Scan the World, I think it's fine if you jump in on this one.  Please make sure the boxes in the issue description are checked before beginning coding.  Comment here with any relevant info.

Thank you!

[2020-11-02 15:53] mathemancer opened #526 "[Infrastructure] Replace "Common Crawl ETL" (AWS Data Pipeline) with Apache Airflow DAG"
## Current Situation

"Common Crawl ETL" is an AWS Data Pipeline. It's difficult to work on, and when it fails, the first notification is usually when data isn't where we expected it to be.  Further, when this pipeline fails, dependent pipelines try to run, subsequently failing, but not before incurring costs.

## Suggested Improvement

We should define an Apache Airflow DAG that runs the PySpark

[2020-11-02 15:54] mathemancer commented on #458
It's likely that we'll actually extend the DAG defined by the implementation of #526 instead of making a separate DAG.  This will help manage dependencies between the data pipelines involved.

[2020-11-03 09:37] dravadhis opened #527 "[Feature] Apache Airflow DAG to run the new noun_project.py script"
## Problem Description

In order to get the noun_project.py script (see [#525  ]) into production, we need to implement a new Apache Airflow DAG to run the script.

## Solution Description

Implement such a dag. For an example, see src/cc_catalog_airflow/dags/flickr_workflow.py (note the use of the new DAG Factory). The DAG should be configured to run the main function from src/cc_catalog_airflow/

[2020-11-05 07:20] tushar912 commented on #435
@mathemancer I searched the API and found out that the best way to retrieve the images is to filter the search endpoint by category(Image) and Building(name of Museum ie <code>0/Suomen kansallismuseo/</code>(Kansallismuseo),<code>0/Museovirasto/</code>,<code>0/SATMUSEO/</code>(Satakunnan Museo),<code>0/SA-kuva/</code>(Sotamuseo) one at a time) we can do this like
<code>https://api.finna.fi/api/v1/

[2020-11-05 07:28] tushar912 commented on #435
Currently I am trying to find a way to get a landing page url. Also another problem is that images don't have a thumbnail url and some don't even have a title .So ,can we save image without title or thumbnail url.

[2020-11-05 07:36] susannaanas commented on #435
I can help here! Also, the personnel of Finna have been informed, but they are apparently busy until a bit later.

There are several museums with openly licensed materials, not only those listed in the initial ticket. In the next few hours, an am occupied, but I would very much like to help out get the best out of the effort.

[2020-11-06 07:00] dravadhis opened #529 "[API Integration] Rijksmuseum"
## Provider API Endpoint / Documentation

https://data.rijksmuseum.nl/object-metadata/api/

## Provider description

The object-metadata API provides the images collected by the Rijksmuseum.

## Licenses Provided

Majority items are under Public Domain; Very samll amount of data may fall under CC-BY

## Provider API Technical info

Rate Limits: An exact number has not been mentioned in the documen

[2020-11-08 11:26] dravadhis commented on #463
@mathemancer Noting @akshgpt7 's comment here I have the following two approaches in mind:-
Approach 1:
1. Create a `mock_resources` folder. This houses the `MockImageStore` file. Since we know which tests are calling the internet via `ImageStore` we can change the implementation in those code pieces to use `MockImageStore`.
2. The `mock_resources` folder will also contain all the common mocks and

[2020-11-09 07:50] tushar912 commented on #435
@mathemancer I have verified that we can get landing url for individual works as <code>https://www.finna.fi/Record/{id of image}</code>. But I think there is no way to get thumbail url. Please tell if we can save image without thumbnail url.

[2020-11-09 08:48] dravadhis commented on #435
@tushar912 `thumbnail_url` is not a compulsory argument to be filled. See `src/cc_catalog_airflow/dags/provider_api_scripts/common/storage/image.py` to know which are the required arguments. (As mentioned there they are: `foreign_landing_url`, `image_url` and `license_url`. In case there is no valid `license_url` available, a valid `license_`, `license_version` pair must be given).

[2020-11-09 10:12] tushar912 commented on #435
Thanks @dravadhis .I think now I can begin work in this.

[2020-11-11 06:15] dravadhis commented on #529
@mathemancer Please review this. I am interested in working on this.

[2020-11-11 11:12] mathemancer commented on #527
Blocket until #525 is sorted

[2020-11-11 11:23] mathemancer commented on #463
I think MockImageStore should just be used to override the ImageStore in every script that uses ImageStore (except for in `test_image.py`.  I.e., in `src/cc_catalog_airflow/dags/provider_api_scripts/test_flickr.py`, just after the import, this could look like:
[code]
It shouldn't be necessary to configure it per provider, since if someone wants to mock out specific responses they can do that thems

[2020-11-11 11:28] mathemancer commented on #435
@tushar912 Great, please let me know if you have further questions

[2020-11-11 11:30] mathemancer commented on #529
@dravadhis I think we're pulling Rijksmuseum data through our Europeana integration.  @annatuma can you confirm?

If this is the case, we don't need a separate integration.

[2020-11-11 11:32] dravadhis commented on #463
@mathemancer So the implementation would be like this then:
1. A `MockImageStore` in the `image.py` file.
2. The sample responses (required for data verification) will live in some other directory.
3. The `MockImageStore` will be called whenever a test tries to call the internet or write to the disk.

Have I got it right? Please confirm. If possible I can take this up.

[2020-11-11 12:41] mathemancer commented on #463
For the moment, just try to get it working for internet calls.  I don't think any sample responses should need to be added or moved, since they're already associated with the necessary tests.

Please let me know if you have other questions.  Thank you!

[2020-11-11 16:57] #526 closed

[2020-11-12 10:20] mathemancer opened #531 "[Feature] Use Airflow's scheduling feature to choose correct CommonCrawl index"
## Problem Description

Currently, the CommonCrawl ETL jobs choose which CommonCrawl index to use based on which is the most recent.  This is brittle, since this can change over the course of the 10-day sequence of Pipeline runs.  This occasionally causes breakage.

## Solution Description

Apache Airflow is date-aware, that is Airflow DAGs run from the context of a specific date.  Now that we are

[2020-11-12 14:27] annatuma commented on #529
That's correct @mathemancer - previously we had their data through Common Crawl (I think) but with the Europeana integration we'll be able to get a fuller collection.

Thank you for the suggestion though @dravadhis

[2020-11-12 14:27] #529 closed

[2020-11-18 09:37] #531 closed

[2020-11-22 05:17] dravadhis commented on #463
Some other work came up after I took this up. I will resume work on this from today.
Thank You!

[2020-11-23 12:02] #435 closed

[2020-11-23 12:15] mathemancer opened #534 "[Feature] Apache Airflow DAG to run finnish_museums.py"
## Problem Description

The script at `src/cc_catalog_airflow/dags/provider_api_scripts/finnish_museums.py` needs to be run via an Apache Airflow DAG.

## Solution Description

Use the DAG factory to create the appropriate DAG.  It should run monthly.  See `src/cc_catalog_airflow/dags/brooklyn_museum_workflow.py` for an example

[2020-11-23 12:16] mathemancer commented on #534
Context:  #532

[2020-11-23 12:26] tushar912 commented on #534
Taking it up @mathemancer

[2020-11-24 10:00] #534 closed

[2020-11-25 10:05] dravadhis commented on #463
@mathemancer After analysing `image.py` and related scripts I found that the only part where the internet is called by `ImageStore` is by the `licenses.get_license_info` function (which by a chain of function callings, calls `urls.rewrite_redirected_url` which in turn calls the internet).
Are there any other parts calling the internet? Please confirm.

For the above part, the solution I came up wi

[2020-11-30 11:06] tushar912 commented on #377
@mathemancer I am interested to work on this.

[2020-11-30 12:12] tushar912 commented on #377
@mathemancer Just a doubt the <code>loader_workflow</code> contains two dags <code>tsv_to_postgres_loader</code> and <code>tsv_to_postgres_loader_overwrite</code> .Does the meta dag need to contain both subdags.

[2020-12-01 05:48] #463 closed

[2020-12-02 10:43] mathemancer commented on #377
@tushar912 It should be both.

[2020-12-04 05:40] dravadhis commented on #182
@kgodey  @annatuma  @mathemancer Is it possible to work on this for the upcoming GSoC? If possible I can take this up.

[2020-12-05 09:54] tushar912 commented on #392
@mathemancer @annatuma Is the Wikimedia Commons part still pending and available to work on .If so , I am interested to work on it.

[2020-12-06 09:32] kshitij86 commented on #492
@kgodey @dravadhis Does this issue still need to be worked on? I'd be happy to take it up.

[2020-12-06 13:32] dravadhis commented on #492
@kshitij86 The issue still needs to be worked on although there are some problems with the source API (see tagged comment).
Also I am not the right person to be asked whether you can take this or not. Please ask @kgodey @mathemancer @annatuma.

Thank You!

[2020-12-07 05:43] mathemancer commented on #492
@kshitij86:  @dravadhis is correct, this issue is still in the research phase.  The problems noted in that comment need to be solved before proceeding with coding.

[2020-12-08 11:44] dravadhis commented on #182
Is there some internal discussion pending regarding this? Please confirm. (If yes then I'll look for something else).

[2020-12-08 13:27] mathemancer commented on #182
@dravadhis Unfortunately, CC Catalog is going to be put on "maintenance mode" very soon.  This means that undertaking a major project like this would be a mistake at this point.  Please see https://opensource.creativecommons.org/blog/entries/2020-12-07-upcoming-changes-to-community/

[2020-12-09 03:56] dravadhis commented on #182
Thank you for the info. I will lookup the other projects as suggested in the blog post.

[2020-12-09 09:47] mathemancer commented on #392
@tushar912 Because this project is going into "maintenance mode" in a couple weeks (see https://opensource.creativecommons.org/blog/entries/2020-12-07-upcoming-changes-to-community/), I don't think it would be a good idea to start work on something this major.

[2020-12-16 17:43] #367 closed

[2020-12-16 17:43] #376 closed

[2020-12-16 17:43] #377 closed

[2020-12-16 17:43] #382 closed

[2020-12-16 17:43] #391 closed

[2020-12-16 17:43] #392 closed

[2020-12-16 17:43] #396 closed

[2020-12-16 17:43] #397 closed

[2020-12-16 17:43] #421 closed

[2020-12-16 17:43] #422 closed

[2020-12-16 17:43] #423 closed

[2020-12-16 17:43] #424 closed

[2020-12-16 17:43] #430 closed

[2020-12-16 17:43] #436 closed

[2020-12-16 17:43] #438 closed

[2020-12-16 17:43] #445 closed

[2020-12-16 17:43] #456 closed

[2020-12-16 17:43] #457 closed

[2020-12-16 17:43] #458 closed

[2020-12-16 17:43] #471 closed

[2020-12-16 17:43] #472 closed

[2020-12-16 17:43] #492 closed

[2020-12-16 17:43] #520 closed

[2020-12-16 17:43] #521 closed

[2020-12-16 17:43] #527 closed

[2020-12-16 17:46] #187 closed

[2020-12-16 17:46] #193 closed

[2020-12-16 17:46] #214 closed

[2020-12-16 17:46] #215 closed

[2020-12-16 17:46] #231 closed

[2020-12-16 17:46] #236 closed

[2020-12-16 17:46] #243 closed

[2020-12-16 17:46] #252 closed

[2020-12-16 17:46] #267 closed

[2020-12-16 17:46] #271 closed

[2020-12-16 17:46] #280 closed

[2020-12-16 17:46] #281 closed

[2020-12-16 17:46] #282 closed

[2020-12-16 17:46] #286 closed

[2020-12-16 17:46] #299 closed

[2020-12-16 17:46] #315 closed

[2020-12-16 17:46] #316 closed

[2020-12-16 17:46] #317 closed

[2020-12-16 17:46] #319 closed

[2020-12-16 17:46] #322 closed

[2020-12-16 17:46] #323 closed

[2020-12-16 17:46] #326 closed

[2020-12-16 17:46] #345 closed

[2020-12-16 17:46] #351 closed

[2020-12-16 17:46] #363 closed

[2020-12-16 17:47] #135 closed

[2020-12-16 17:47] #163 closed

[2020-12-16 17:47] #164 closed

[2020-12-16 17:47] #169 closed

[2020-12-16 17:47] #178 closed

[2020-12-16 17:47] #180 closed

[2020-12-16 17:47] #182 closed

[2020-12-16 17:47] #183 closed

[2020-12-16 17:47] #184 closed

[2020-12-16 17:47] #185 closed

[2020-12-16 22:37] stragu commented on #231
Hi @kgodey ! What does "not suitable for work as repo is in maintenance" mean?
Did the feature make it into the addon at all?

[2020-12-17 15:36] kgodey commented on #231
@stragu Please see this blog post for more details: https://opensource.creativecommons.org/blog/entries/2020-12-07-upcoming-changes-to-community/

[2020-12-18 02:26] stragu commented on #231
Oh that's a real shame about the reduced capacity.
So if we would like the Internet Archive to be added to the CC Search Browser Extension, I should reopen this issue there? https://github.com/creativecommons/ccsearch-browser-extension/issues/64

Or does it simply mean that no new sources will be added to the extension?

[2020-12-18 02:28] kgodey commented on #231
Unfortunately, no new sources will be added at this time. Hopefully that will change in the future.

[2020-12-18 02:30] stragu commented on #231
@kgodey that's unfortunate, but thank you for your work and your quick replies. All the best!

[2020-12-18 11:07] ShareTextures opened #541 "[Source Suggestion] ShareTextures.com"
## Source Site
https://www.sharetextures.com/

## Value Provided
Like photos, textures are the most used actors for 3D modelers, renderers, game creators, filmmakers, and more.
I'm creating CC0 textures for more than 2 years up to 4096x4096 px resolution. I would like to become a part of CC Library.

## Licenses Provided
CC0

[2020-12-18 14:03] mathemancer commented on #541
Unfortunately, this project is being put into maintenance mode.  Please see
https://opensource.creativecommons.org/blog/entries/2020-12-07-upcoming-changes-to-community/

Thank you for your interest, however!

[2020-12-18 14:03] #541 closed

[2020-12-27 00:09] aashrafh opened #542 "README broken links"
The following links are broken in the ```README.md``` file:
1. ```monthlyWorkflow.py ```.
2. ```RawPixel```. I found the right link [here](https://github.com/creativecommons/cccatalog/blob/master/src/cc_catalog_airflow/dags/provider_api_scripts/raw_pixel.py)
3. ```Cleveland Museum of Art```. I found the right link [here](https://github.com/creativecommons/cccatalog/blob/master/src/cc_catalog_airfl

[2021-01-06 11:03] mathemancer commented on #542
Hey, @aashrafh.  Unfortunately, this project is paused for the moment.  Please see https://opensource.creativecommons.org/blog/entries/2020-12-07-upcoming-changes-to-community/

[2021-01-06 11:03] #542 closed

[2021-02-11 16:14] iSlide-PowerPoint opened #546 "iSlide-powerpoint.com"
## Source Site

## Value Provided

## Licenses Provided

[2021-02-11 16:32] zackkrida commented on #546
Closing for **spam**.

[2021-02-11 16:32] #546 closed

[2021-02-11 18:58] Anhzazai1601 opened #547 "[Bug] Replace with Title"
## Bug Description

## To Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected behavior

## Screenshots

## Additional context

[2021-02-11 18:59] Anhzazai1601 opened #548 "[Source Suggestion] Insert source name heee"
## Source Site

## Value Provided

## Licenses Provided

[2021-02-11 19:46] #548 closed

[2021-02-11 19:46] #547 closed

[2021-02-12 04:44] iSlide-PowerPoint commented on #546
Too bad you are directly flagged as spam as we are trying something out.

[2021-02-17 12:09] dgbdgb opened #549 "[Source Suggestion] Unsplash.com"
## Source Site

unsplash.com
## Value Provided

really good quality photographs for many topics
## Licenses Provided

CC0

[2021-02-19 19:22] #549 closed

[2021-02-26 00:37] victoriat31 opened #550 "[Feature] Replace with Title"
## Problem Description

## Solution Description

## Alternatives

## Additional context

[2021-02-26 00:37] victoriat31 opened #551 "[Feature] Replace with Title"
## Problem Description

## Solution Description

## Alternatives

## Additional context

[2021-02-26 00:37] victoriat31 opened #552 "[Quality] Replace with Title"
## Current Situation

## Suggested Improvement

## Benefit

## Additional context

[2021-02-26 00:43] victoriat31 opened #553 "[API Integration] Provider name here I can’t find my crypto currency, how can I get a record of all my transactions? Robinhood is holding my money because I reported them for doing fraudulent things. And nobody has being able to help. Nut important enough for the Sec.gov"
## Provider API Endpoint / Documentation

## Provider description

## Licenses Provided

## Provider API Technical info

## Checklist to complete before beginning development

No development should be done on a Provider API Script until the following info is gathered:

- [ ] Verify there is a way to retrieve the entire relevant portion of the provider's collection in a systematic way via their API

[2021-04-11 22:28] SinEstresOrrantia opened #558 "[Feature] Replace with Title"
## Problem Description

## Solution Description

## Alternatives

## Additional context

[2021-04-12 12:41] #558 closed

[2021-05-02 07:15] javiergutierrezchamorro opened #559 "[Source Suggestion] Insert source name here"
## Source Site
https://www.javiergutierrezchamorro.com

## Value Provided
Being using CC since 2004!

## Licenses Provided

[2021-05-03 15:08] #559 closed

[2021-05-10 15:27] MsalikMajid-del opened #561 "[Source Suggestion] Insert source name here"
## Source Site

## Value Provided

## Licenses Provided

[2021-05-10 15:30] MsalikMajid-del commented on #561
Website this is very useful website that help you for searching information on internet I use this I think it is useful for all so I suggest