[2018-04-26 16:31] pa-w opened #2 "Identify training and testing data set for topic modelling"

[2018-04-26 16:32] pa-w opened #3 "Optimization of algorithm for topic modelling"

[2018-04-26 16:33] pa-w opened #4 "Validation of topic modelling algorithm"

[2018-04-26 16:33] pa-w opened #5 "Create output tables from topic modelling"

[2018-04-26 16:37] pa-w opened #6 "Reprocess 14 months of crawl data"

[2018-04-26 16:37] #6 closed

[2018-04-26 16:45] pa-w opened #7 "Process april's data from common crawl"

[2018-04-26 16:46] pa-w opened #8 "Backup parquet file"

[2018-04-26 16:46] pa-w opened #9 "Update priority list with April's data"

[2018-04-26 16:54] pa-w opened #10 "Move code from gitlab to github"

[2018-05-01 14:35] pa-w opened #11 "[CC Catalog] Save media and links data from the WAT data"

[2018-05-02 15:56] sclachar opened #12 "Create Common Crawl Data Pipeline"

[2018-05-02 16:07] #10 closed

[2018-05-02 17:47] #11 closed

[2018-05-02 19:15] sclachar opened #13 "Create Common Crawl Data Pipeline"

[2018-05-02 19:15] #12 closed

[2018-05-02 19:16] #13 closed

[2018-05-02 20:06] #7 closed

[2018-05-02 21:25] sclachar opened #14 "New Data Format: Re-Process crawl data for Jan to Mar 2018"

[2018-05-02 21:26] #8 closed

[2018-05-09 20:04] sclachar opened #15 "Review Flickr Data"

[2018-05-15 13:07] #14 closed

[2018-05-18 13:04] #9 closed

[2018-05-30 19:37] #15 closed

[2018-06-06 23:23] aldenstpage opened #17 "Backup may parquet files"

[2018-06-08 18:12] sclachar opened #18 "Standardize the ETL methodology for providers"
Develop the framework for all providers based on the Met's ETL modules.

[2018-06-12 14:58] sclachar opened #19 "Identify content providers (collections)"
**Sprint 3**
- Thingiverse

**Sprint 2**
- Brooklyn Museum
- Pexels [On Hold]
- WoRMS
- Flickr

**Sprint 1**
- Met Museum
- Flickr
- Museum Victoria
- Deviantart
- Geograph.org.uk
- McCord Museum
- Animal Diversity Web
- Open Walls
- Soft Icons
- Flora-On
- IHA
- Behance
- Icon Finder
- Thingiverse
- EOL
- Science Museum
- Digitalt Museum
- Europeana

[2018-06-14 17:09] sclachar opened #20 "ETL for DeviantArt"

[2018-06-14 17:09] sclachar opened #21 "ETL for Museum Victoria"

[2018-06-14 17:09] sclachar opened #22 "ETL for Flickr"

[2018-06-14 17:09] sclachar opened #23 "ETL for the Met"

[2018-06-20 19:25] sclachar opened #24 "Create AWS Glue Crawler"

[2018-06-20 19:25] sclachar opened #25 "Schedule ETL job for selected Providers"

[2018-06-20 19:26] sclachar opened #26 "Debug Met Crawl Data for May 2018"

[2018-06-22 13:18] aldenstpage opened #27 "Amazon Glue permissions and network configuration issues"
- adjust security groups
- create s3 gateway endpoint

[2018-06-22 13:31] #27 closed

[2018-06-22 18:06] aldenstpage commented on #27
Also had to fix inter-VPC peering again, which broke due to the database being assigned a public IP

[2018-06-26 20:03] #24 closed

[2018-06-26 20:03] #23 closed

[2018-06-26 20:04] #18 closed

[2018-06-26 20:14] sclachar opened #28 "Create data pipeline to identify CC licensed images in the Common Crawl dataset"
- [x] configure EMR cluster

- [x] Add default execution flag

- [x] Add optional user-defined crawl index

- [x] Create data pipeline

- [x] Test process-flow

- [x] Schedule monthly execution

[2018-06-26 20:17] sclachar opened #29 "ETL for Geograph.org.uk"

[2018-06-26 20:27] #25 closed, assigned to sclachar

[2018-06-28 17:05] pa-w opened #30 "Integrate animaldiversity.org"

[2018-07-02 13:42] sclachar opened #31 "Climbing.co.za"
South African Climbing Wiki

Total links extracted: ~78,000

Sample URLs:
- www.climbing.co.za/w/index.php?title=Special:WhatLinksHere/Donker_Kloof&hidetrans=1
- www.climbing.co.za/w/index.php?title=Bronkies&diff=1671&oldid=1444
- www.climbing.co.za/wiki/index.php?title=Bobbejaans_Berg&diff=2770&oldid=1290

This provider will be challenging to parse because the additional meta data for each image

[2018-07-02 16:23] sclachar opened #32 "ETL for McCord Museum"

[2018-07-02 18:07] sclachar opened #33 "[Data] ETL for McCord Museum"
McCord Museum
The McCord Museum collection celebrates Montreal history. The content is available in English and French; images are watermarked.

Sample URLs
- http://collections.musee-mccord.qc.ca/en/collection/artefacts/M19893
- http://collections.musee-mccord.qc.ca/en/collection/artifacts/I-14067.1
- http://collections.musee-mccord.qc.ca/en/collection/artifacts/II-138346/

[2018-07-02 18:47] sclachar opened #34 "Integrate familysearch.org"
familysearch.org/wiki/en/index.php?title=Bartow_County_Genealogical_Society_and_Family_Research_Library&oldid=1568090

NB: similar to issue: https://github.com/creativecommons/cccatalog/issues/31

[2018-07-02 19:16] sclachar opened #35 "Integrate shroomery.org"
Shroomery
Information about 'magic' mushrooms.
The web pages are cc by-nc-sa (footer).

Sample URL
www.shroomery.org/6008/oldimages-3381-27787-jpg
www.shroomery.org/forums/showflat.php/Number/2913783
www.shroomery.org/forums/showflat.php/Number/3070156

NB: Low image count ~2200

[2018-07-02 19:48] #31 closed

[2018-07-02 19:49] pa-w commented on #31
Let's skip them for the moment. Interesting to see this will be the case for many wikis.

[2018-07-03 00:43] sclachar opened #36 "Integrate openwalls.com"

[2018-07-03 00:48] #35 closed

[2018-07-03 13:00] sclachar opened #37 "Integrate softicons.com"

[2018-07-03 13:22] sclachar opened #38 "Integrate flora-on.pt"

[2018-07-06 14:10] #34 closed

[2018-07-11 16:26] sclachar opened #39 "Create aws crawler to keep tables in sync"
Sync table when new partitions are added

[2018-07-11 16:26] sclachar opened #40 "Extract additional data from common crawl"

[2018-07-11 16:27] sclachar opened #41 "Create job to sync raw data"
Create aws glue job to move data to a new location and sync with raw data (on a monthly basis).
- sync previous crawls
    - filter temporary files
    - partition data
    - apply transformations
- schedule job to run monthly

[2018-07-11 21:06] #39 closed

[2018-07-11 21:06] #40 closed

[2018-07-11 21:06] #41 closed

[2018-07-12 16:32] sclachar opened #42 "Create Glue trigger to initiate monthly sync"
Execute monthly at 2AM UTC.

[2018-07-12 16:51] #42 closed

[2018-07-18 22:13] sclachar opened #43 "Devise a strategy to integrate AIaaS in the data pipeline."

[2018-07-25 16:24] #33 closed

[2018-07-25 16:28] sclachar opened #44 "Re-factor the Image Tagging Scripts"

[2018-07-25 19:30] #32 closed

[2018-07-26 20:42] sclachar opened #45 "Create Crawler for the image meta data"

[2018-07-26 20:43] #45 closed

[2018-07-30 21:22] sclachar opened #46 "ETL for IconFinder"

[2018-07-31 00:13] #46 closed

[2018-07-31 13:37] sclachar opened #47 "ETL for Behance"

[2018-07-31 13:38] sclachar opened #48 "ETL for IHA"

[2018-07-31 18:12] #48 closed

[2018-07-31 18:12] #47 closed

[2018-08-01 16:24] sclachar opened #49 "DB alterations"

[2018-08-01 16:25] sclachar opened #50 "Load sample data with tags"

[2018-08-01 16:39] #49 closed

[2018-08-01 16:39] #50 closed

[2018-08-02 14:06] sclachar opened #51 "Update the Common Crawl ETL script"
Create a default parameter

[2018-08-03 15:39] sclachar opened #52 "ETL for OpenCaching"

[2018-08-03 20:06] sclachar opened #53 "Update common crawl default param logic in Glue scripts"

[2018-08-03 20:07] sclachar opened #54 "Update common crawl pipeline"

[2018-08-03 20:23] #54 closed

[2018-08-03 20:23] #51 closed

[2018-08-03 20:24] #53 closed

[2018-08-03 20:26] sclachar commented on #54
Update AWS pipeline default parameter and upload the updated script.

[2018-08-03 20:28] sclachar commented on #51
Update script to use a default parameter (i.e. the most recent crawl data)

[2018-08-03 20:29] sclachar commented on #53
Change logic to get the most recent crawl index from common crawl (using boto).

[2018-08-10 22:42] sclachar opened #55 "ETL for EOL"

[2018-08-10 22:43] sclachar opened #56 "Common Crawl ETL for July"

[2018-08-13 13:56] #56 closed

[2018-08-13 22:16] #55 closed

[2018-08-14 16:07] sclachar opened #57 "ETL ThingiVerse"

[2018-08-15 19:50] sclachar opened #58 "ETL for DigitaltMuseum"

[2018-08-16 14:03] sclachar opened #59 "ETL for ScienceMuseum"

[2018-08-16 14:06] #58 closed

[2018-08-16 16:55] #59 closed

[2018-08-20 15:39] sclachar opened #60 "ETL for Europeana"

[2018-08-20 15:39] #60 closed

[2018-08-23 16:26] #44 closed

[2018-08-23 16:27] #43 closed

[2018-08-27 23:54] sclachar opened #61 "Process Flickr"

[2018-08-28 04:22] sclachar opened #62 "Get ML tags for 10M images."
3.7/10 million obtained

[2018-09-13 22:04] #62 closed

[2018-09-18 18:43] janeatcc opened #63 "give jane access to categorize and add assignees to issues on this repo"
thanks!

[2018-09-25 13:52] sclachar opened #64 "Debug tag data"
check for erroneous tag meta-data when merging provider and AI tags.

[2018-09-25 17:26] #64 closed

[2018-09-28 12:50] #61 closed

[2018-09-28 12:51] sclachar opened #65 "Validate Flickr"
This involves:

- Validate the total images and their respective license
- Standardize the photo IDs https://github.com/creativecommons/cccatalog/issues/72
    - Remove Duplicates
    - Update user's lists with the correct photo ID https://github.com/creativecommons/cccatalog/issues/74

[2018-10-02 14:04] #26 closed

[2018-10-02 14:57] sclachar commented on #65
Two steps are involved:
1. Validate the numbers
2. Validate the license

[2018-10-03 15:08] sclachar opened #66 "reconfigure Common Crawl data pipeline"

[2018-10-03 21:12] #66 closed

[2018-10-08 15:46] sclachar opened #67 "ETL for WoRMS"
Provider: World Register of Marine Species (WoRMS)

Sample URL
- www.marinespecies.org/aphia.php?p=image&pic=56608
- www.marinespecies.org/cetacea/aphia.php?p=image&pic=49209
- www.marinespecies.org/aphia.php?p=image&pic=21208
- www.marinespecies.org/aphia.php?p=image&album=242&pic=132042&from=rss

[2018-10-08 15:54] sclachar opened #68 "ETL for Pexels"
Provider: Pexels

Sample URL:
- www.pexels.com/photo/mist-misty-fog-foggy-7919/
- www.pexels.com/photo/dinosaur-skeleton-on-museum-201270/
- www.pexels.com/photo/animal-dog-pet-brown-5018/
- www.pexels.com/photo/art-graffiti-women-wall-2724/
- www.pexels.com/photo/close-up-of-illuminated-text-against-black-background-258083/
- www.pexels.com/photo/blush-botanical-decoration-earth-584764/
- www.pex

[2018-10-08 15:54] sclachar opened #69 "ETL for Brooklyn Museum"
Provider: Brooklyn Museum

Sample URL:
- www.brooklynmuseum.org/opencollection/objects/155475/Butter_Knife_Le_Louvre_Pattern
- www.brooklynmuseum.org/opencollection/objects/50979/Colonel_Robert_J._Milligan_House_Parlor/image/79931/interior_with_mannequin
- www.brooklynmuseum.org/opencollection/objects/117201/Small_Statuette_of_a_Mouse/image/116938/image
- www.brooklynmuseum.org/opencollection/obje

[2018-10-08 16:53] sclachar commented on #69
@janeatcc, Brooklyn Museum is potentially a new provider for sprint 2.

[2018-10-08 16:53] sclachar commented on #68
@janeatcc, Pexels is potentially a new provider for sprint 2.

[2018-10-08 16:53] sclachar commented on #67
@janeatcc, WoRMS is potentially a new provider for sprint 2.

[2018-10-08 17:31] janeatcc commented on #68
So Pexels has changed its platform and (c) policy so some images are covered by CC0 and some by its own custom license, see

https://www.pexels.com/creative-commons-images/

We should just make sure to ingest images that are CC0 but not Pexels license.

@sarahpearson can you confirm that https://www.pexels.com/terms-of-service/ is kosher?

[2018-10-08 17:32] janeatcc commented on #63
Ping -- tried assigning someone just now and could not!

[2018-10-08 18:04] janeatcc commented on #67
Checking w/legal on this one

[2018-10-08 18:31] janeatcc commented on #68
Looks good to me, but let's make sure to only pull in CC0 images as they have both CC0 and Pexels custom license.

[2018-10-08 18:36] janeatcc commented on #67
So WoRMs has a line that points out that dif pathways could lead to outdated content.

I know we're doing this through Common Crawl, so what is our approach for making sure the catalog is up-to-date?

Otherwise WoRMS raises no red flags for me.

[2018-10-09 15:56] aldenstpage opened #70 "Escape characters in certain Clarifai tags"
See https://api.creativecommons.engineering/image/d064b30c-9e77-45bf-91f2-42c5b7becd51 . There are a lot of escape characters sneaking in there.
[code]

[2018-10-11 13:40] sclachar opened #71 "Archive parquet files"

[2018-10-18 16:46] sclachar commented on #68
On hold for now

[2018-10-18 16:46] #68 closed

[2018-10-18 20:43] aldenstpage commented on #70
Sophine noted that the issue also occurs in titles

[2018-10-19 15:28] sclachar commented on #70
The title is a slightly different issue and it was resolved by @sebworks .
@aldenstpage please update ES.

[2018-10-19 15:28] #70 closed

[2018-11-02 16:02] sclachar opened #72 "replace old flickr foreign IDs with their respective photo IDs"

[2018-11-05 18:39] #71 closed

[2018-11-07 21:32] sclachar opened #73 "Load Flickr 200M"

[2018-11-07 21:32] #72 closed

[2018-11-07 21:33] sclachar opened #74 "Update User Lists to reference the correct photo ID"

[2018-11-07 22:02] sclachar commented on #74
the changes, as of 11/06, are reflected in prod.

[2018-11-07 22:02] #74 closed

[2018-11-07 22:03] sclachar opened #75 "Verify October Crawl Data was Processed"

[2018-11-07 22:04] sclachar commented on #75
increase driver memory.

[2018-11-07 22:04] #75 closed

[2018-11-07 22:07] #65 closed

[2018-11-09 15:43] #73 closed

[2018-11-09 16:02] sclachar opened #76 "Load Flickr Feeds"

[2018-11-09 16:02] sclachar opened #77 "Flickr API - Process & Load Oct 2018"

[2018-11-09 20:13] #76 closed

[2018-11-09 21:00] #77 closed

[2018-11-15 14:48] sclachar opened #78 "DB and S3 Cleanup"

[2018-11-15 17:47] sclachar opened #79 "Explore Thingiverse API"

[2018-11-15 17:47] sclachar opened #80 "Load Flickr Feed Data"

[2018-11-16 13:48] #80 closed

[2018-11-16 13:50] #78 closed

[2018-11-19 17:54] #67 closed

[2018-11-19 17:54] #69 closed

[2018-11-19 17:54] sclachar opened #81 "Review Flickr thumbnails"

[2018-11-26 12:00] sclachar commented on #81
@aldenstpage please sync to prod.

[2018-11-26 12:00] #81 closed

[2018-11-26 12:01] sclachar opened #82 "ETL - Thingiverse API"

[2018-11-26 12:01] #79 closed

[2018-11-28 13:04] sclachar commented on #82
Extracted 22K CC0 3D models

[2018-11-28 13:04] #82 closed

[2018-11-28 14:48] #17 closed

[2018-11-28 16:54] sclachar opened #83 "Review API docs for Cleveland & Met Museums"

[2018-11-29 13:50] sclachar opened #84 "load weekly Flickr feed"

[2018-11-29 14:53] #84 closed

[2018-11-29 15:49] #83 closed

[2018-11-30 15:41] sclachar opened #85 "Review Clarifai Alternatives"

[2018-12-03 12:56] sclachar opened #86 "Flickr API - Process & Load November 2018"

[2018-12-04 14:12] sclachar commented on #86
1.2 M (API only)

[2018-12-04 14:12] #86 closed

[2018-12-05 13:50] sclachar opened #87 "ETL - Cleveland Museum"

[2018-12-06 13:31] sclachar opened #88 "Load weekly flickr feed"

[2018-12-06 21:37] #85 closed

[2018-12-11 23:49] sclachar opened #89 "Flickr-ing"

[2018-12-13 19:23] sclachar opened #90 "Load weekly Flickr data"

[2018-12-13 19:51] sclachar commented on #90
143K CC licensed images

[2018-12-13 19:51] #90 closed

[2018-12-18 14:43] sclachar opened #91 "Optimize CC Pipeline"

[2018-12-18 17:23] sclachar commented on #91
Data: 220 TiB (uncompressed)
Processing Time: 64 minutes
- Job: 34 minutes
- I/O: 30 minutes *needs improvement

Cost: <$70

NB
driver/executor memory: 12G*
driver/executor core: 8

[2018-12-18 17:23] #91 closed

[2018-12-20 13:19] sclachar opened #92 "Load weekly Flickr data"

[2018-12-20 17:19] sclachar commented on #92
Extracted 136K CC licensed images

[2018-12-20 17:19] #92 closed

[2019-01-05 00:41] kgodey commented on #63
Fixed!

I created @creativecommons/cc-search (me, @janeatcc, @aldenstpage, @sclachar, Breno) and gave the team Write permissions and gave the SRE team Admin permissions I set this up for all the active CC Search related repos. We have one private repo and I granted Read permissions to the Staff team for that one.

We should follow this pattern for future repositories so that access can be granted

[2019-01-05 00:42] #63 closed

[2019-01-05 00:44] kgodey opened #93 "ETL for Cleveland Art Museum [New Content]"

[2019-01-05 00:45] kgodey opened #94 "ETL for the Met using their API"

[2019-01-05 00:47] kgodey opened #95 "Process Flickr data [Dec 2018 to Jan 2019]"

[2019-01-05 00:47] kgodey opened #96 "Process Common Crawl data for December 2018"

[2019-01-05 00:47] kgodey opened #97 "ETL for Europeana via API"

[2019-01-05 00:47] kgodey commented on #97
Assigning this to Jane since it's not ready to work on yet.

[2019-01-05 00:51] kgodey opened #98 "Tag selected images using Clarifai (Jan 2019)"
- [x] Refactor and test code (to accommodate recent changes to their API)

- [x] Identify unprocessed image urls

- [x] Process image urls using Clarifai API

- [x] Update images with their respective tags

- [x] Create a new table to log images that were rejected by their API

[2019-01-05 00:52] kgodey commented on #98
Assigning this to until we have more clarity on the number of operations we've been whitelisted for.

[2019-01-05 01:02] kgodey opened #99 "Set up infrastructure to run API consumption jobs and load data into CC search automatically"
We are currently consuming content from one API (i.e. Flickr) and in this sprint this will change to at least 3-4 APIs so this is a good time to get the infrastructure set up to run these jobs on a schedule and load the content into CC search.

- [x] Setup Infrastructure

- [x] Alter table index and unique constraints

- [x]  Integrate API jobs

- [x] Schedule Data Ingestion

- [x] Metrics & Monit

[2019-01-07 17:18] kgodey commented on #97
Taking this out of the sprint per today's discussion @sclachar @janeatcc.

[2019-01-08 16:58] kgodey commented on #63
@TimidRobot and I discussed this on Slack. We have our Github permissions such that all members have read access to all repositories, so setting Read permissions to the Staff team for private repos is unnecessary/misleading.

[2019-01-08 17:58] sclachar commented on #93
Extracted 29K CC-licensed images

[2019-01-08 18:36] sclachar commented on #93
Completed! @aldenstpage please sync to prod.

[2019-01-08 18:36] #93 closed

[2019-01-09 15:47] sclachar opened #100 "Load Flickr Backlog"

[2019-01-10 21:58] kgodey commented on #98
@sclachar Assigning this to you now that we've discussed which images to tag and we are whitelisted on Clarifai's end.

[2019-01-16 12:16] #96 closed

[2019-01-17 16:10] sclachar opened #101 "Create a table for the various content providers"

[2019-01-17 17:59] #101 closed

[2019-01-22 18:23] little-wow opened #102 "Error fetching images"
<img width="1435" alt="screen shot 2019-01-22 at 1 19 43 pm" src="https://user-images.githubusercontent.com/7093838/51556669-d6b25200-1e48-11e9-8db3-228957f904ee.png">

Google Chrome
Version 71.0.3578.98 (Official Build) (64-bit)

[2019-01-22 22:35] sclachar commented on #94
Removed 20K duplicate records returned from their API.
Updated 180K records.
Inserted 252K

Total in CC Search: ~447K

[2019-01-22 22:35] #94 closed

[2019-01-23 15:39] sclachar commented on #95
Feed: 600K

[2019-01-23 16:35] #89 closed

[2019-01-23 17:17] aldenstpage commented on #102
This message will show up if your browser is unable to communicate with the API server. This could be because the server is down or because of problems with your internet service provider. Additionally, HTTP is not 100% reliable, so these things just happen once in a great while.

Based on the data I have from our logging and monitoring tools, I don't believe that the API was down at all yesterday

[2019-01-23 17:17] #102 closed

[2019-01-28 20:55] #28 closed

[2019-01-31 13:13] #100 closed

[2019-01-31 15:37] #95 closed

[2019-02-11 13:18] sclachar opened #105 "Load common crawl data (Feb 2019)"

[2019-02-11 18:12] kgodey commented on #105
Added the date to the title so this can be distinguished from other common crawl issues.

[2019-02-11 18:59] sclachar commented on #105
Inserted: 510K

[2019-02-11 18:59] #105 closed

[2019-02-15 15:20] sclachar opened #106 "review clarifai image errors"
- [x] review errors

- [x] flag 404 images in the DB

[2019-02-19 12:47] sclachar commented on #98
|**Provider**			|**Total images**	|**# Prev. tagged**|
| ------------- |:-------------:| -----:|
|Met Museum			|447,308 		|190, 332|
|Cleveland Museum*	|29,073		        |0|
|McCord				|109,160		        |0|
|Museums Victoria		|71,706		        |20,947|
|Nypl				|168,550		        |168,332|
|Rijksmuseum			|30,000		        |30,000|
|Digitalt Museum		|122,335		        |79,574|
|Thingiverse			|22,146

[2019-02-19 13:10] sclachar commented on #98
|**Provider**			|**Success**	|**Error**|
| ------------- |:-------------:| -----:|
|Met Museum			| 255,392 		| 1,584 |
|Cleveland Museum	| 29,073		        |0|
|McCord				| 109,073		        |87|
|Museums Victoria		| 50,756		|3|
|NYPL				|1		        | 217 |
|Rijksmuseum			|--		        |--|
|Digitalt Museum		|42,758		        |3|
|Thingiverse			| 21,916		        |230|
|Animal Diversity		| 15,538

[2019-02-19 13:10] #98 closed

[2019-02-22 19:07] mmoreshead opened #107 "\xe9 appearing in result titles and/or creators"
See this result: https://ccsearch.creativecommons.org/photos/d1fa32e1-be78-4f22-8775-6177c9420450

Creator is: Jos\xe9 Guadalupe Posada  which I suspect is likely supposed to be José,

Browser: Firefox 65.0.1

[2019-02-22 21:33] kgodey commented on #107
@aldenstpage yeah, I meant in addition to @sclachar fixing it, I thought it might make it easier than re-ingesting the database but I remembered that you create a new database every time the ingestion process runs so it wouldn't make any difference.

[2019-02-22 21:37] aldenstpage commented on #107
Right, my changes would be wiped out by the weekly ingestion.

I could also write a custom DRF JSON renderer to fix this without updating all 285MM images but it will likely slow down the API response time a bit and take me a day or two to implement

[2019-02-22 21:38] kgodey commented on #107
I don't think that's worth it.

[2019-02-25 19:09] kgodey opened #108 "Identify 1-2 new providers using Common Crawl data"

[2019-02-26 12:12] sclachar opened #109 "Identify new CC licensed images on Flickr"

[2019-02-26 14:05] brenoferreira commented on #107
@aldenstpage one thing I saw is that the API seems to be escaping the `\` character. If you `curl https://api.creativecommons.engineering/image/966cfb20-5071-42d4-a70b-3faf961be5fc`, you see in the response:
`"creator":"Andr\\xe9-Adolphe-Eug\\xe8ne Disd\\xe9ri"` with `\\` instead of `\`. This is causing the bug on the frontend

[2019-02-26 15:21] aldenstpage commented on #107
@brenoferreira The characters are double escaped during rendering of the JSON response because the escape sequence is not rendered properly inside of the database. As demonstrated [above](https://github.com/creativecommons/cccatalog/issues/107#issuecomment-466543110), if correctly encoded UTF8 data is stored in the database, it will be appropriately rendered in API responses.

[2019-02-26 22:08] sclachar opened #110 "Reprocess CMA"

[2019-02-26 22:13] sclachar commented on #110
Updated: 29069
Inserted: 100

[2019-02-26 22:13] #110 closed

[2019-03-01 22:57] #107 closed

[2019-03-01 23:09] kgodey opened #111 "Document API consumption pipeline on CC internal wiki"

[2019-03-04 13:34] sclachar opened #112 "Identify new Common Crawl providers"

[2019-03-04 14:29] sclachar commented on #112
- www.rawpixel.com
- www.thorvaldsensmuseum.dk
- eunis.eea.europa.eu
- svgsilh.com **
- digital.smb.museum
- capl.washjeff.edu
- www.perseus.tufts.edu
- digi.ub.uni-heidelberg.de
- www.free-photos.biz
- www.ipernity.com
- www.maxpixel.net

**do we want to integrate SVG in CC Search or are the concerns similar to icons? @janeatcc

[2019-03-04 14:29] #112 closed

[2019-03-04 16:26] janeatcc commented on #112
I'd have to take a look. But the issue is closed already?

[2019-03-04 17:45] kgodey commented on #112
Here's some potential providers I found:

- www.rawpixel.com
    - 97353 CC0 images (C-MAIN-2019-04)
- http://www.bcx.news/
     - 84856 CC-BY-NC
     - 84856 CC-BY (probably duplicates)
- townmapsusa.com
     - 44297 CC BY-NC
     - 22150 CC-BY-SA
     - these seem programmatically generated (a map containing the location of a single US city for every US city), but they're unique and the site enc

[2019-03-04 17:50] kgodey commented on #108
Posted on https://github.com/creativecommons/cccatalog/issues/112

[2019-03-04 17:50] #108 closed

[2019-03-04 18:21] sclachar opened #113 "Tag new images using Clarifai API"

[2019-03-05 11:56] #19 closed

[2019-03-06 14:01] sclachar opened #114 "Verify Common Crawl ETL for CC-MAIN-2019-09"

[2019-03-06 14:12] #114 closed

[2019-03-06 19:21] janeatcc opened #115 "Review identified Common Crawl providers for inclusion"
- www.rawpixel.com
- www.thorvaldsensmuseum.dk
- eunis.eea.europa.eu
- svgsilh.com **
- digital.smb.museum
- capl.washjeff.edu
- www.perseus.tufts.edu
- digi.ub.uni-heidelberg.de
- www.free-photos.biz
- www.ipernity.com
- www.maxpixel.net

**do we want to integrate SVG in CC Search or are the concerns similar to icons? @janeatcc

_Originally posted by @sclachar in https://github.com/creativecommon

[2019-03-07 22:10] janeatcc commented on #115
reviewed. review strategy & process is in development, but for the purposes of this list, let's add the following providers:

rawpixel
thorvaldsen
svgsilh
capl.washjeff.edu

will send @sclachar deets

[2019-03-07 23:59] sclachar commented on #109
Feed: 375K
API: 3.4M

[2019-03-07 23:59] #109 closed

[2019-03-11 13:21] sclachar commented on #99
The Met's API job was integrated and configured to run daily.

[2019-03-11 13:21] #99 closed

[2019-03-11 15:32] sclachar opened #116 "Decouple the loader & API jobs"

[2019-03-11 17:38] #116 closed

[2019-03-11 18:22] sclachar commented on #116
Scheduled to load data every 4 hours.

[2019-03-12 13:02] sclachar commented on #106
Prominent status codes from the previous analysis are:

- 39996: Connection attempts to the input URL failed
- 30105: Input image is larger than the allowed limit
- 30002: Download failed; check URL
- 30101: Input image format unsupported
- 30104: Input invalid argument
- 40031: Sorry, the server is unavailable at the moment. Please try again later.

Images with the status codes 30002 & 39996 will

[2019-03-12 13:02] #106 closed

[2019-03-12 14:26] sclachar commented on #113
@janeatcc & @kgodey are we ready to schedule the processing for all image providers with the exception of flickr?

[2019-03-12 16:29] janeatcc commented on #113
As long as it's the ones we defined in the engagement doc, I'm good with it!

[2019-03-12 17:02] sclachar commented on #113
@janeatcc the preliminary list was completed in issue #98. There are images, from other providers, that have not been tagged. Do you still want to exclude them moving forward?

[2019-03-12 17:47] janeatcc commented on #113
Let me review with Kriti tomorrow what platforms are remaining. We may not want to tag depending on the provider.

[2019-03-13 12:13] sclachar opened #117 "Integrate Thingiverse into the ETL Data Pipeline"
Identify all CC0 3D models and their respective images.

- [x] Generate API keys

- [x] Process backlog

- [x] Update code to identify and extract new CC0 content (daily)

- [x] Integrate into the workflow (Test & Deploy)

[2019-03-13 12:25] sclachar commented on #115
@janeatcc any concerns over svgsilh.com since there is a notice on their page which states the following "These SVG images were created by modifying the images of Pixabay."

[2019-03-13 12:32] sclachar opened #118 "Integrate CMA into the ETL Data Pipeline"
Integrate Cleveland Museum of Art in the data pipeline. Currently, they do not provide an option to identify new or updated artwork. Therefore, we will reprocess the entire collection.

[2019-03-13 13:11] sclachar commented on #118
@kgodey i propose that we schedule this monthly because I haven't noticed significant changes since their big release. However, since their collection isn't very large we can reprocess their data weekly. Do you have a preference?

[2019-03-13 13:53] sclachar opened #119 "Create & Test Monthly Workflow"
- [x] Define new workflow

- [x] Test with a scheduled job

[2019-03-13 17:38] kgodey commented on #118
I think monthly is fine.

[2019-03-13 18:50] #118 closed

[2019-03-13 19:39] janeatcc opened #122 "improving search results"
This is more of a general issue around improving search results. For example, it is really difficult for me to replicate any search result for London Natural History Museum, even if I use terms from the title and page of where this image exists under CC0 on the platform: http://data.nhm.ac.uk/dataset/collection-specimens/resource/05ff2255-c38a-40c9-b657-4ccb55ab2feb/record/8304314.

This could b/c

[2019-03-14 13:07] sclachar opened #120 "Provider review"

[2019-03-14 16:44] #119 closed

[2019-03-14 16:45] sclachar commented on #119
The ETL for Cleveland Museum is scheduled monthly.

[2019-03-14 16:45] #115 closed

[2019-03-14 16:46] sclachar opened #121 "Ongoing Flickr work"

[2019-03-15 14:51] janeatcc commented on #122
I'd like @sclachar to confirm whether these are still under CC licenses. If they are, I see no reason to remove them at this time according to our updated provider review process. If they aren't, then yes, let's remove them.

[2019-03-15 16:25] kgodey commented on #122
I wanted to know if we should add the rest of images to the site since we only have 170 of them currently.

[2019-03-15 18:41] janeatcc opened #123 "no data showing even though it says there are photos"
see https://ccsearch.creativecommons.org/search?q=galium&provider=floraon&li=&lt=&searchBy

[2019-03-18 07:01] kgodey opened #124 "Make repository contribution ready."
See: https://wikijs.creativecommons.org/tech/github-repo-guidelines

- [x] Code owners should be defined in the [`CODEOWNERS` file](https://help.github.com/en/articles/about-code-owners) in the `.github` directory in the project root.
- [x] Add Code of Conduct in a [`CODE_OF_CONDUCT.md` file](https://help.github.com/en/articles/adding-a-code-of-conduct-to-your-project) in the root directory. We ca

[2019-03-18 13:43] sclachar commented on #117
Thingiverse API job is configured to run daily.

[2019-03-18 13:43] #117 closed

[2019-03-18 14:16] sclachar commented on #122
@janeatcc, as @aldenstpage mentioned this data was collected by Liza, therefore we do not have any control over the meta data except to delete or reprocess them.

Also, the source url for these points to Europeana. @aldenstpage can we suppress these results somehow until @janeatcc confirms the inclusion of Europeana? Otherwise, they should be removed.

[2019-03-18 17:09] janeatcc commented on #122
I see!

Let's remove them for now. Once we re-include Europeana these may be part of that set. If not, we decide whether to reach out separately.

[2019-03-18 18:31] aldenstpage commented on #123
This is going to be fixed by https://github.com/creativecommons/cccatalog-api/issues/244

[2019-03-18 19:47] sclachar commented on #122
London Natural History Museum is removed from the catalog.

[2019-03-18 19:47] #122 closed

[2019-03-19 11:22] sclachar opened #125 "ETL for Rawpixel"

[2019-03-20 20:07] sclachar commented on #121
~1.2M new CC licensed images.

[2019-03-20 20:07] #121 closed

[2019-03-20 20:07] sclachar opened #126 "ETL for Thorvaldsen Museum"

[2019-03-20 20:11] sclachar opened #127 "Some images from the met are no longer CC0"

[2019-03-20 20:12] sclachar commented on #127
@janeatcc please follow-up at your earliest convenience.

[2019-03-20 21:41] janeatcc commented on #127
Repinged!

[2019-03-26 03:12] kgodey opened #128 "Tag all AWS resources according to the new guidelines"
Tags are defined on the CC Staff internal wiki here: https://wikijs.creativecommons.org/tech/sre/aws-guidelines

[2019-03-26 21:29] sclachar commented on #128
Completed

[2019-03-26 21:29] #128 closed

[2019-04-01 14:19] sclachar opened #129 "ETL for Free SVG Image & Icon"

[2019-04-01 22:45] janeatcc commented on #127
Hi Sophine -- let's use the API as the canonical source going forward. Forwarding you a thread via email, let me know via email if you have any questions

[2019-04-02 12:42] sclachar opened #130 "Load new images from Flickr"

[2019-04-02 18:12] #127 closed

[2019-04-04 16:33] #113 closed

[2019-04-04 16:33] #130 closed

[2019-04-05 16:21] kgodey opened #131 "[CCCatalog] Technical Blog Post"

[2019-04-05 16:24] sclachar opened #132 "Review Open Textbook Providers"

[2019-04-05 16:28] #52 closed

[2019-04-05 16:31] sclachar opened #133 "Identify new image providers"

[2019-04-08 16:16] sclachar opened #134 "Debug AWS Image ETL Job"

[2019-04-08 18:41] #134 closed

[2019-04-08 21:50] janetpkr opened #135 "[API Integration] Cleveland Public Library"
see relevant email thread

[2019-04-10 13:06] sclachar commented on #126
Added 8K images.

[2019-04-10 13:06] #126 closed

[2019-04-10 13:07] sclachar commented on #129
Added 17K images.

[2019-04-10 13:07] #129 closed

[2019-04-10 15:35] sclachar commented on #132
Email sent to @janeatcc regarding providers without APIs

[2019-04-10 15:37] sclachar opened #136 "Load new images from Common Crawl providers"
- [x] Animal Diversity Web

- [x] Behance

- [x] Brooklyn Museum

- [x] DeviantArt

- [x] Digitalt Museum

- [x] Flora-on

- [x] Geograph UK

- [x] IHA Holiday Ads

- [x] McCord Museum

- [x] Museums Victoria

- [x] Science Museum

- [x] SVG Silh

- [x] Thorvaldsens Museum

- [x] World Register of Marine Species

[2019-04-10 15:38] sclachar opened #137 "Load new images from Flickr"

[2019-04-11 11:47] sclachar opened #138 "Update Behance script to parse the new HTML structure"

[2019-04-11 17:24] #136 closed

[2019-04-11 17:24] #138 closed

[2019-04-12 11:38] sclachar opened #139 "Flickr data analysis"

[2019-04-15 16:30] sclachar opened #140 "Update Met thumbnails"

[2019-04-16 16:18] sclachar commented on #140
@aldenstpage the updated thumbnails are available upstream. Let me know if you have any questions.

[2019-04-16 16:18] #140 closed

[2019-04-17 11:29] sclachar commented on #139
Duplicates were introduced into the catalog due to reformatted image urls. All duplicates have been removed and new records reinserted.

[2019-04-17 13:57] sclachar opened #141 "Update catalog with flickr's new image URLs."

[2019-04-17 13:57] sclachar opened #142 "Reformat the identifier for openimages data [Flickr]"

[2019-04-17 19:12] sclachar commented on #142
~300 records exist that use shortened URLs and the identifier cannot be directly parsed. These need to be extracted using Flickr's API.

[2019-04-17 19:12] #142 closed

[2019-04-18 01:25] #139 closed

[2019-04-18 12:47] sclachar opened #143 "ETL for CAPL"

[2019-04-18 19:46] janeatcc opened #144 "Hide 500px on front end search results"
but keep in catalog for now

[2019-04-18 20:19] janeatcc opened #145 "NYPL images still under CC0?"
See https://ccsearch.creativecommons.org/photos/25f499b7-ec62-42ca-8723-2721b60492ea and https://digitalcollections.nypl.org/items/b86eea80-c6b7-012f-5df3-58d385a7bc34#/?uuid=510d47d9-51e2-a3d9-e040-e00a18064a99 for example.

Can't find CC0 on image at provider.

[2019-04-18 20:38] janeatcc opened #148 "search for relevant key term on EOL returns zero results"
see https://eol.org/pages/491995

and https://ccsearch.creativecommons.org/search?q=octopus&provider=eol&li=&lt=&searchBy

[2019-04-19 16:12] #132 closed

[2019-04-19 16:36] janeatcc commented on #145
hide on

/about
search results
provider drop-down

[2019-04-19 17:17] sclachar commented on #145
@janeatcc and @kgodey the above comment seems to be front-end related. Should i move this issue to that repo?

[2019-04-19 17:24] janeatcc opened #146 "make sure black hole image is in our catalog"
https://www.flickr.com/photos/esoastronomy/40615354273/

[2019-04-19 17:26] kgodey commented on #145
removing it from the catalog would remove it from the frontend too, right?

[2019-04-19 17:28] sclachar commented on #145
it would remove the data but we would still need to update the front-end.

[2019-04-19 17:34] janeatcc commented on #145
Yeah, let's move this to front end repo

[2019-04-19 19:44] janetpkr opened #147 "[API Integration] NYPL"
Use NYPL API to get CC0 images: "If you're using our API, you'll find a rightsStatement property and URI. Although we don't yet display the URI for the statement in the digital collections platform today, you can pull it using the API"

Example image under CC0 at NYPL: https://digitalcollections.nypl.org/items/510d47df-e519-a3d9-e040-e00a18064a99

http://api.repo.nypl.org

Also see email with addi

[2019-04-19 23:37] #146 closed

[2019-04-19 23:39] sclachar commented on #144
@kgodey shouldn't this be assigned to the front end repo?

[2019-04-19 23:45] janeatcc commented on #144
already there, closing this one

[2019-04-19 23:45] #144 closed

[2019-04-22 15:31] sclachar commented on #133
Email sent with the details!

[2019-04-23 20:25] sclachar commented on #143
Inserted 15K images.

[2019-04-23 20:25] #143 closed

[2019-04-23 22:56] sclachar commented on #125
Insert 147K images.

[2019-04-23 22:56] #125 closed

[2019-04-24 11:38] sclachar commented on #144
Hidden from the content provider table.

[2019-04-24 21:32] #137 closed

[2019-04-24 22:04] sclachar commented on #148
@aldenstpage its possible that there has been a change to this platform. Images are no longer being served from media.eol.org Instead it is now content.eol.org. This provider has an API and @janeatcc  i recommend that we explore that option at some point.

[2019-04-24 22:11] sclachar commented on #148
Some links are also outdated but thats not the cases for all links from EOL. [Here](http://api.creativecommons.engineering/image/61c270c3-4076-4a94-b506-be23bd0141e2) is a case where the landing page works however the image urls are invalid.

[2019-04-24 22:24] janeatcc commented on #148
Right. The links on EOL work.

So at @sclachar is there anything we can do to resolve this before flip, or should we hide EOL for now until we ingest them using their API?

[2019-04-25 11:23] sclachar commented on #148
There are working links to the provider's website however the images will not be displayed in search. Its best to suppress them for now.

[2019-04-25 14:38] sclachar commented on #148
@aldenstpage & @brenoferreira, I have updated the data to indicate that EOL should be removed from the list of providers.

[2019-04-25 14:44] #148 closed

[2019-04-25 17:19] kgodey commented on #133
I also added did some research and added potential providers to the (internal only) spreadsheet, closing this issue.

[2019-04-25 17:19] #133 closed

[2019-04-25 18:06] janeatcc opened #149 "are all images from Science Museum K CC BY-NC-SA?"
in reference to this issue: https://github.com/creativecommons/cccatalog-frontend/issues/299

if all images are CC BY-NC-SA, we have a solution.

[2019-04-26 13:47] sclachar commented on #149
@janeatcc Science Museum uses both CC BY-NC-SA and CC BY-NC-ND

| License  | No. Images |
| ----------- | ----------- |
| by-nc-nd |   858|
| by-nc-sa | 58376|

[2019-04-26 14:55] janeatcc commented on #149
Ok, let's just leave as is for now. Status quo, no change. Thanks!

[2019-04-30 14:41] janeatcc opened #150 "Look into adding Wikimedia Commons via API"
They have an API and I'm not convinced there's anything holding us back from adding them as a provider as we do the others: https://commons.wikimedia.org/wiki/Commons:API. @sclachar can you look into it at your convenience, but also prioritize above other new providers?

[2019-04-30 17:00] janeatcc commented on #150
fyi - people keep asking where is Wikimedia commons and google images in the new search since the flip. we can't add google images, but we can add Wikimedia commons!

[2019-05-01 09:15] theduke opened #151 "GDPR compliance - Google Analytics"
A fair warning - the search site uses Google Analytics, but does not offer a confirmation or opt out prompt, which is in violation of GDPR rules.

[2019-05-01 14:37] janeatcc commented on #151
I think this is a front end issue. @brenoferreira assigning you, but can you please move it to the front end repo as well?

[2019-05-01 14:37] janeatcc commented on #151
thank you @theduke ! if you have any more info, please let us know while we look into it.

[2019-05-01 18:39] janeatcc opened #152 "API is not returning CAPL"

[2019-05-01 20:11] sclachar commented on #152
The provider name is case sensitive and should be 'CAPL'.  @aldenstpage i updated the provider table upstream, please sync in the API database.

[2019-05-02 17:21] #151 closed

[2019-05-09 11:56] sclachar opened #153 "Integrate Flickr into the ETL Data Pipeline"
- [x] Refactor existing code
- [x] Generate prod. API keys
- [x] Integrate into the workflow
- [x] Test & Deploy

[2019-05-09 11:56] sclachar opened #154 "ETL for Brooklyn Museum"
- [x] Generate prod. API keys
- [x] Process backlog
~Integrate into the workflow~
- [x] Test & Deploy

[2019-05-10 14:41] JeanFred commented on #150
Hi, Wikimedia Commons user & sysop here :-)

We are lacking structured data and API support in lots of areas of Wikimedia Commons, but licensing metadata is probably the place where we have the most decent :)

Since 2013 (with the deployment of the [CommonsMetadata extension](https://www.mediawiki.org/wiki/Extension:CommonsMetadata)) you can retrieve the licensing information via the normal MediaW

[2019-05-10 21:07] sclachar commented on #153
The code have been refactored and scheduled to run hourly in the data pipeline.

[2019-05-10 21:07] #153 closed

[2019-05-16 15:55] rossmounce opened #155 "Add PhyloPic.org to the catalog?"
I see you have https://svgsilh.com/ in the catalog which got me thinking, especially now that the emphasis is on quality, that http://phylopic.org/ would be a great image source to integrate.

Admittedly there's not much content there; just 3443 images. But, the science community leverages this a lot because the silhouettes here are scientifically accurate and properly taxonomically identified wit

[2019-05-20 11:42] #124 closed

[2019-05-28 13:37] sclachar commented on #154
Identified 61503 CC licensed images.

[2019-05-28 13:37] #154 closed

[2019-05-29 01:30] Abittaker commented on #150
Hullo!  The Multimedia Team at the Wikimedia Foundation is working on adding structured metadata fields to Commons images.  It's very likely to be used for licensing, once the discussions at https://www.wikidata.org/wiki/Help:Copyrights are worked out.  The API for this would likely be less brittle than current options, but you would have to wait until the license metadata field is adopted by the

[2019-05-29 16:22] lucaswerkmeister commented on #150
FWIW, [here’s some sample code](https://github.com/lucaswerkmeister/tool-wd-image-positions/blob/dfaa0c4093f254b4f5458b903853f7059ff98f85/app.py#L526-L560) how I’m using that API to get attribution information. (AGPLv3+, but I’d be happy to publish that part under another license as well if it’s useful to you.)

[2019-05-30 16:41] sclachar opened #156 "Load Common Crawl Data for May"

[2019-05-30 17:03] kgodey opened #157 "Research AI for image analysis/tagging"

[2019-05-30 22:38] janeatcc opened #158 "Review identified common crawl providers for inclusion (June)"
1) Review June data.
2) Pull fresh data, and review that.

Goal is to have identified new providers prior to DE start date.

[2019-05-31 18:17] sclachar commented on #150
Hi @JeanFred , @Abittaker and @lucaswerkmeister thanks for the suggestions. We are still looking into the best way to integrate WMC. We appreciate your willingness to help and will let you know if we have any questions.

[2019-05-31 23:01] janeatcc opened #159 "add raw pixel using their API"
they say they have 20,000 images under CC0 they would like us to include: https://www.rawpixel.com/search?sort=curated&freecc0=1&page=1

[2019-06-03 04:59] rawpixel-vincent commented on #159
Hi @janeatcc, @sclachar,
you can use our json api to get the images, please note that the JSON format can change at any time since it's meant to be consumed only by our services for now.
Please use it only to save the data and not for live search usage
https://api.rawpixel.com/api/v1/search?freecc0=1&html=0&page=1

thanks a lot for looking into this, let us know if you have any questions

[2019-06-03 11:36] sclachar commented on #157
Email sent on 05/31/2019 with possible options.

[2019-06-03 11:36] #157 closed

[2019-06-07 15:05] sclachar commented on #131
[CC Catalog: Leveraging Open Data and Open APIs](https://creativecommons.github.io/blog/entries/cc-catalog-leverage-open-data-1/)

[2019-06-07 15:05] #131 closed

[2019-06-07 15:51] sclachar opened #160 "Automate Ingesting Common Crawl Image Data"
- [x]  Create a job to sync the S3 bucket with the EC2 Instance
- [x]  Create loader for the common crawl image data
- [x]  Define data preparation rules for the workflow
- [x]  Create the workflow and schedule it with the monthly airflow job
- [x] Test & Deploy

[2019-06-10 20:57] sclachar opened #161 "Extract popularity metrics"

[2019-06-12 10:09] SandraF-WMF commented on #150
Building upon [structured data](https://commons.wikimedia.org/wiki/Commons:Structured_data) is IMHO the more sustainable and future-oriented option, as this is likely going to be the system supported by Wikimedia's platforms, communities and partners over the long term. A Wikimedia hackathon like [the one before next Wikimania](https://wikimania.wikimedia.org/wiki/2019:Hackathon/GLAM_focus_area) m

[2019-06-12 18:18] janeatcc commented on #150
@SandraF-WMF Thank you! We had chatted a bit at summit and thought this might be the longer term option, but not good for short term, e.g. if we wanted to get WMC in this next month. Would that still be correct?

If so, I think we should focus on both a shorter term option, while sending someone to Wikimania to also focus on the longer term.

[2019-06-13 07:19] SandraF-WMF commented on #150
Hello @janeatcc - definitely! If you want to include Wikimedia Commons in CC Search soon, the suggestions above are the way to! With the longer-term structured data option: it will indeed take some time before all files on Wikimedia Commons have the structured license data that you need. I currently expect the Wikimedia Commons community to address this at scale starting late 2019, early 2020, and

[2019-06-14 18:00] kgodey opened #162 "Automate ingesting Common Crawl image data"
- Create the workflow and schedule it with the monthly airflow job
- Create syncer between S3 and Airflow EC2 Instance
- Define data preparation rules for the workflow
- Create loader for the common crawl image data (or update the existing loader to accommodate the common crawl images)

[2019-06-14 18:23] janetpkr opened #163 "[API Integration] Behance"
see email

[2019-06-14 19:11] kgodey opened #164 "Systematically update CC catalog records"
Currently, when we pull data into the Catalog, it is stored, but never refreshed on future pulls from those sources.

We need to discuss how we want to go about maintaining/updating data in the Catalog.

For a description of the strategy for reingestion we're using (but not the implementation), see:
https://opensource.creativecommons.org/blog/entries/date-partitioned-data-reingestion/

[2019-06-17 17:25] janeatcc commented on #150
@SandraF-WMF excellent! @sclachar is looking into the above for the short term option so hopefully we will get the ball rolling on that soon.

Re longer term, @kgodey is looking into who might be able to attend Wikimania, or even start working on it remotely.

[2019-06-18 14:23] sclachar commented on #163
@janeatcc :point_up_2:

[2019-06-20 00:34] sclachar commented on #160
Scheduled CC_MAIN-2019-22 [#156](https://github.com/creativecommons/cccatalog/issues/156)

[2019-06-20 12:59] #156 closed

[2019-06-20 12:59] #160 closed

[2019-06-20 23:27] janeatcc commented on #155
Yes, let's add this. Thanks @rossmounce !

I see the files are not standard png or jpg so @sclachar you may have to check with @brenoferreira on simplest way to link/render when it comes time for front end.

[2019-06-24 12:32] brenoferreira commented on #155
@janeatcc I see only pngs on that website. Am I missing something?

[2019-06-24 16:35] janeatcc commented on #155
@brenoferreira you're right. I was looking at the add'l formats they had available.

[2019-06-26 18:14] sclachar opened #165 "Add WMC via Common Crawl"

[2019-07-02 14:39] sclachar opened #166 "Add PhyloPic to the ETL workflow"

[2019-07-02 15:24] sclachar commented on #155
Thanks @rossmounce.

@janeatcc PhyloPic is now in the catalog.

[2019-07-02 15:24] #155 closed

[2019-07-02 15:27] sclachar commented on #166
PhyloPic is scheduled to run daily in the API ETL workflow.

[2019-07-02 15:27] #166 closed

[2019-07-05 12:11] sclachar commented on #159
Thanks @rawpixel-vincent !

@janeatcc, Rawpixel is now included via the API. There are 20397 CC0 images.

[2019-07-05 12:11] #159 closed

[2019-07-08 13:00] sclachar opened #167 "Add Flickr 'recentlyUpdated' endpoint to the API job"
Get the recently updated CC licensed images on Flickr using the following endpoint:
https://www.flickr.com/services/api/flickr.photos.recentlyUpdated.html

[2019-07-08 13:04] sclachar commented on #141
Moving forward this will be handled by [#167](https://github.com/creativecommons/cccatalog/issues/167)

[2019-07-08 19:50] #165 closed

[2019-07-09 12:58] sclachar opened #168 "Add RawPixel to the monthly workflow"

[2019-07-09 16:22] sclachar commented on #158
@janeatcc this is completed based on your email, is that correct?

[2019-07-09 16:51] janeatcc commented on #158
I would say it's initially completed -- someone will have to work with Sarah to review the caveats and maybes!

[2019-07-09 16:55] sclachar commented on #158
ok, I wanted to close the issue but i'll leave it open.

[2019-07-10 01:57] kgodey commented on #158
I'll assign to myself to work with Sarah.

[2019-07-10 23:19] janetpkr opened #169 "[API Integration] OpenClipArt.org"
per many twitter user requests! https://twitter.com/rejon/status/1141844914168377346

[2019-07-11 00:44] kgodey opened #170 "Add ETL Workflow info to LastPass"

[2019-07-11 00:48] kgodey commented on #163
Unassigning myself since we have an API key now.

[2019-07-11 00:49] kgodey commented on #97
Removing this from active sprint since it's blocked right now.

[2019-07-15 11:46] #141 closed

[2019-07-15 19:29] #168 closed

[2019-07-17 06:44] rawpixel-vincent opened #171 "rawpixel catalog"
**Is your feature request related to a problem? Please describe.**
It's difficult to find the public domain images rawpixel produced.

**Describe the solution you'd like**
We would love to see rawpixel listed with others catalogs in this section https://search.creativecommons.org/collections

[2019-07-18 23:07] kgodey opened #172 "Q3 Common Crawl provider additions"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

[2019-07-18 23:08] kgodey opened #173 "Q3 2019 catalog expansion"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

Goals:
- Integrate 10 new platforms using Common Crawl data
- Integrate 5 new APIs in the ETL workflow
- Identify 30 CommonCrawl providers
- Add 3 major collections

[2019-07-18 23:12] kgodey opened #174 "Identify 30 new providers in Common Crawl (Q3 2019)"

[2019-07-18 23:14] kgodey opened #175 "Q3 2019 catalog infrastructural improvements"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

[2019-07-18 23:15] kgodey opened #176 "Update CC Catalog Common Crawl test cases"

[2019-07-18 23:16] kgodey opened #177 "Move CC Catalog workflow to production"

[2019-07-18 23:25] kgodey opened #178 "Create a plan/spec for integrating open textbooks into the catalog"

[2019-07-18 23:26] kgodey opened #179 "Create spec for CC Catalog Push API"

[2019-07-18 23:39] kgodey opened #180 "Collect mature content flag data from providers"
I think this is only for Behance but if other providers offer it, please collect it from them as well.

[2019-07-19 01:32] sclachar commented on #161
Email sent to @aldenstpage with the details

[2019-07-19 01:32] #161 closed

[2019-07-19 15:22] sclachar commented on #150
@aldenstpage, @kgodey and @brenoferreira this data is available in the upstream DB and new content will be added incrementally.

[2019-07-19 15:22] #150 closed

[2019-07-19 15:33] sclachar opened #181 "Add Wikimedia Commons to the ETL pipeline"

[2019-07-24 15:05] JeanFred commented on #150
Thanks for the update! I assume this was/is tracked as #165 and #181 ?

Also, I have been trying to find out where in the code this was done ; however I have not found anything in [src/providers/commoncrawl](https://github.com/creativecommons/cccatalog/tree/master/src/providers/commoncrawl) (nor [src/providers/api](https://github.com/creativecommons/cccatalog/tree/master/src/providers/api) )  − am

[2019-07-24 16:21] kgodey commented on #150
@JeanFred the work was tracked in #165 and this issue. @sclachar has not pushed the code yet to https://github.com/creativecommons/cccatalog since she was running the script manually, I think she will do that as part of integrating WMC into our automated workflow in #181. I expect that will happen in mid-August since she just left for vacation.

[2019-07-25 18:47] kgodey opened #182 "Scrape CC REL data to identify CC-licensed images"
This is a placeholder, we need to think it through and add details before we implement.

[2019-08-05 12:22] sclachar commented on #135
@kgodey shouldn't this be in the backlog since we have been waiting for a response?

[2019-08-05 19:01] sclachar commented on #147
@kgodey this is the associated [code](https://github.com/creativecommons/cccatalog/blob/master/src/providers/api/NYPL.py). End to end testing needs to be performed when they follow-up with us. Should this be in the backlog as well, or leave it as is?

[2019-08-05 19:25] kgodey commented on #147
I'll put it in the backlog since they said they needed to do some work on their end to figure out the issue.

[2019-08-07 05:15] sclachar commented on #150
Hi @JeanFred, as @kgodey mentioned I am running the script manually and making this data available to CC Search incrementally.

A part of this process is to integrate WMC in our workflow management system (using Apache Airflow) to identify content based on a user defined date range. I should have it integrated in our workflow later today. I made the code available [here](https://github.com/creativ

[2019-08-08 04:14] sclachar commented on #181
Merging this with issue [#177](https://github.com/creativecommons/cccatalog/issues/177)
@kgodey ☝️

[2019-08-08 05:34] sclachar commented on #177
Data from open API Providers (managed by Apache Airflow):
- [ ] Cleveland Museum #87 & #93
- [ ] Flickr #153
- [ ] Met Museum #94
- [ ] PhyloPic #166
- [ ] RawPixel #159
- [ ] Thingiverse #117
- [ ] WikimediaCommons #150  #165  #181

Common Crawl Image Data (managed by AWS Data Pipeline Service):
- [ ] Common Crawl Data Syncer #160

[2019-08-08 16:53] kgodey commented on #181
@sclachar sounds good, should we close this?

[2019-08-08 18:33] sclachar commented on #181
We can leave it for now and I'll close this issue when #177 is completed.

[2019-08-12 11:52] sclachar commented on #181
Wikimedia Commons has been integrated in the daily ETL pipeline.

[2019-08-12 11:52] #181 closed

[2019-08-14 15:03] sclachar commented on #177
Notes in the internal wiki #111

[2019-08-14 15:03] #177 closed

[2019-08-16 12:25] sclachar commented on #111
Notes and documentation are in the CC internal wiki.

[2019-08-16 12:25] #111 closed

[2019-08-16 15:24] #176 closed

[2019-08-16 15:25] sclachar commented on #176
Compatible with python 3.6

[2019-08-19 18:16] #175 closed

[2019-08-19 18:18] kgodey opened #183 "Add Sörmlands Museum"
https://sokisamlingar.sormlandsmuseum.se

[2019-08-19 18:20] kgodey opened #184 "[API Integration] USC Digital Library"
http://digitallibrary.usc.edu/

[2019-08-19 18:21] kgodey opened #185 "Add Digital Commons @ ACU"
https://digitalcommons.acu.edu/

[2019-08-19 18:24] kgodey opened #186 "Add Institut Cartogràfic i Geològic de Catalunya Cartoteca Digital"
http://cartotecadigital.icc.cat/

[2019-08-20 00:23] kgodey opened #187 "Add Servier Medical Art"
https://smart.servier.com/, user suggestion via email.

[2019-09-03 16:36] aldenstpage opened #188 "Images with the same URL appearing multiple times in the catalog"
There are a number of images with the exact same URL appearing multiple times in the catalog. The problem seems to be that differences in the URL scheme are treated as completely different images (e.g. http://img.com/dog and http**s**://img.com/dog are seen as unique images). This is more pervasive with Geograph but it would be good to solve the problem once and for all everywhere.

Examples:
http

[2019-09-03 16:39] aldenstpage opened #189 "EOL content should probably not be indexed anymore"
https://eol.org/
[code]

As a result of the invalid certificate, none of the images are loading anymore.

[2019-09-03 21:44] kgodey commented on #189
I tweeted at them to let them know.

[2019-09-10 20:56] evanv commented on #188
"exact same URL"  -- not sure if that is true. There are `https://` vs `http://` versions in the examples cited.

Longer term, a hashing / duplication solution would make a ton of sense, but it seems like an extraordinarily low hanging fruit would be to treat https:// and http:// as the same.

[2019-11-08 22:28] annatuma opened #192 "Change the owner output of `WikimediaCommons.py` to match what is shown on Wikimedia Commons"
## The Issue

We currently ingest image data from Wikimedia Commons, which is accessible through CC Search. We need to review how we ingest the data, as we currently do not appear to be taking into account certain fields around authorship, beyond the User field. These fields include, but may not be limited to, Author and Photographer.

### Example
https://ccsearch.creativecommons.org/photos/08128e

[2019-11-11 17:21] aldenstpage commented on #192
We've decided to hide Wikimedia commons images from the search results until we fix our attribution model.

[2019-11-15 15:51] annatuma opened #193 "[API Integration - TEXT] Unglue.it"
**This is a provider of texts and is therefore blocked by the Catalog not being ready to ingest that content type at this time**

## Provider API Endpoint / Documentation

https://unglue.it/api/help

Internal users only: CC has an API key for this service, please check CC's password manager.

## Provider description

A provider of openly licensed ebooks, some of which are available from Project Gu

[2019-11-15 16:45] annatuma opened #194 "Audit & document schema and metadata for all API sources"
### The Problem

We'd like better documentation of the data that we're retrieving and storing from CC Catalog sources to make sure that we're making best use of the data we get. In essence, we need to:
1. Document what each source gives us
2. Document what we’re mapping that to
3. Review what each source gives us that we’re not currently storing, to identify any potential holes or issues
4. Determ

[2019-11-15 16:47] annatuma opened #195 "Ensure regular Common Crawl and API jobs are running smoothly"
This is a maintenance ticket to check that all the automated Common Crawl and API ingestion jobs are running smoothly. If any issues are discovered, please document them here but do not prioritize fixing them yet.

[2019-11-15 16:50] #173 closed

[2019-11-19 00:21] kgodey opened #196 "Separate the DAGs and operators in the project"
Feedback received about project structure via email:

[2019-11-22 18:24] mathemancer commented on #195
Problem found:  Flickr is not syncing properly.  The last successful update for which I could find data from Flickr was 18.09.2019

[2019-11-22 18:27] mathemancer commented on #195
The met was synced today (22.11), so it's not a global problem.

[2019-11-25 17:04] mathemancer opened #201 "Pulling data from Flickr is not working properly"
**Describe the bug**
When the hourly job to pull data from the Flickr API (in airflow) runs, it does not actually pull any data.  Even worse, the node in the airflow interface doesn't turn red when this happens (i.e., it seems upon a quick inspection that the job has succeeded when it in fact hasn't).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the airflow interface.
2. Wait for th

[2019-11-27 16:06] mathemancer opened #203 "Refactor `Thingiverse.py`"
In particular, the `getMetaData` function in `Thingiverse.py` is quite long.  Refactoring the function by extracting smaller bits of logic into their own functions would make this module more testable, and make modification safer.  This refactoring should be combined with writing unit tests for all extracted functions, and trying to write an integration test for the overall functionality.

[2019-11-29 14:10] mathemancer opened #204 "Extract row-writing function from `Flickr.py`"
Currently each provider script writes rows into a .tsv, which is later used to insert data into the image DB.  We should extract the logic to create these rows out of each individual script, and put them into the `etlMods.py` file (module).
The benefit from this would be:

- a descriptive name for the function
- avoid replicating the knowledge of what order the fields need to be over the code base

[2019-11-29 16:12] mathemancer commented on #201
Closer inspection of the DB shows that the Flickr job is, in fact succeeding.

[2019-11-29 16:12] #201 closed

[2019-12-02 13:19] mathemancer opened #205 "Use `has_image` parameter in Cleveland Museum script"
The Cleveland museum API has a new `has_image` parameter.

We currently pull all artwork from the API, then skip pieces for which we can not find an image.  It seems like using the aforementioned parameter in the initial API request would allow us to delete that logic from the script.

[2019-12-02 15:04] mathemancer opened #206 "In ClevelandMuseum.py, for `creatorInfo` fall back to list type, not dict"
**Describe the bug**
In `ClevelandMuseum.py`, we use the `dict.get` method, falling back to a dict type in the event that we do not find a `creators` field in the info returned from the API.  However, the type in the json will actually be deserialized into a python list type, not a dictionary.  This is evidenced in the following lines, where we try to pull information from the resulting variable (

[2019-12-02 18:35] annatuma commented on #147
@kgodey can you do an email introduction here and/or forward whatever emails we have on this so far to myself and Brent?

For now, moving this ticket over to the CC Catalog pipeline.

Also, do you know if our first attempt at integration included non-image content at all? Per their MODS help on "Type of Resource":
The general type of the item's content. An item may have one or more of this element

[2019-12-02 19:14] annatuma commented on #163
Moved to CC Catalog. @kgodey please email/share the API Key with @mathemancer so he has it for his records when it's time to start work on this.

[2019-12-02 22:11] kgodey commented on #163
The key is already shared in LastPass.

[2019-12-02 22:17] kgodey commented on #147
@mathemancer @annatuma added you to the email thread, you should be able to see the full history

[2019-12-03 12:51] mathemancer opened #207 "Avoid `delayProcessing` in inner loop in `RawPixel.py`"
## Describe the bug
It appears that the `delayProcessing` method is being called repetitively within the `getMetaData` function of the `RawPixel.py` script.  This is (probably) unnecessary, because no requests are made during the inner loop (map/lambda pattern).  Removing this delay would likely increase the speed of this script considerably.

[2019-12-03 13:00] mathemancer opened #208 "Change "map of lambda" pattern to list comprehensions throughout the codebase"
There are many places in the `cccatalog` codebase where the following pattern is used:
[code]
We should replace this pattern with a list comprehension
[code]
wherever feasible.

In cases where the lazy evaluation of the first pattern is necessary or desired, we should consider replacing it with a generator comprehension.

The first pattern shown is less performant than using a list comprehension i

[2019-12-03 13:10] mathemancer opened #209 "Change variable and function naming to conform to PEP8"
We should go through the codebase, and (where reasonable) rename variables and functions according to https://www.python.org/dev/peps/pep-0008/ (generally, using snake_case rather than camelCase or TitleCase).

This will (perhaps) help with community engagement, since many python programmers are used to seeing the naming convention outlined in PEP8, and that will make the codebase more readable fo

[2019-12-03 13:43] mathemancer opened #210 "RawPixel creator should probably come from `artist_name` field"
## Describe the bug
It appears RawPixel has changed their API.  The field `artists` which we look for in order to extract creator data for a given image does not seem to appear in the json response currently served.  However, there is an `artist_name` field.

So, we should check whether this is true, and if it is we should change the `RawPixel.py` script accordingly.

[2019-12-03 15:08] mathemancer opened #211 "Use `pintrest_description` field for `meta_data.description` in `RawPixel.py`"
We're currently not making a `meta_data` field for the RawPixel provider.  We should consider whether pulling the `pintrest_description` field from the json for an image would make a good `description` meta data field.

[2019-12-05 11:58] mathemancer opened #212 "Refactor all filesystem path construction to use `os.path.join` and all url construction to use `"
This is generally more robust, and has the advantage that the modules will work as expected when loaded on community members' machines, which may be running a non-*nix operating system.

An example would be changing

[code]
to
[code]

[2019-12-05 12:23] brenoferreira opened #300 "Some providers missing width and height image properties"
When using the search, browse and image details APIs, images for some providers have the properties `width` and `height` missing.  The list of providers and their browse endpoints are below:

https://api.creativecommons.engineering/image/browse/digitaltmuseum

https://api.creativecommons.engineering/image/browse/met

https://api.creativecommons.engineering/image/browse/behance

https://api.creativ

[2019-12-05 21:29] annatuma commented on #194
@mathemancer limiting this ticket to API sources (which are, if not already, close to completion). Moving Common Crawl sources to Q1 2020.

[2019-12-05 21:30] annatuma opened #214 "Audit & document schema and metadata for all Common Crawl sources"
Same work was done for API sources here: https://github.com/creativecommons/cccatalog/issues/194

### The Problem

We'd like better documentation of the data that we're retrieving and storing from CC Catalog Common Crawl sources to make sure that we're making best use of the data we get. In essence, we need to:
1. Document what each source gives us
2. Document what we’re mapping that to
3. Review

[2019-12-05 22:17] annatuma commented on #164
Loosely aiming for Q2 2020 to tackle this.

[2019-12-05 22:24] #174 closed

[2019-12-05 22:33] annatuma commented on #180
Also related to [425](https://github.com/creativecommons/cccatalog-frontend/issues/425)

[2019-12-06 09:02] mathemancer opened #215 "Configure airflow to use remote logging capability"
Currently, we store airflow logs in the running Docker Container.  The logs are ~650-900MB per day, and storing them in the container actually requires approximately double the space on the host machine.  This equates to more than 1GB of logs being stored on the ec2 instance disk per day, quickly filling the disk.

Airflow includes out-of-the-box logging to s3 functionality, and we should reconfig

[2019-12-06 16:46] annatuma opened #216 "Add popularity data collection for Wikimedia Commons to `wikimedia_commons.py`"
More information is needed here.

Important large providers:
- Flickr (# comments/likes)
- Wikimedia Commons (# of links to image)

[2019-12-09 08:28] mathemancer opened #217 "Determine best endpoint for wikimedia commons, modify script accordingly"
The endpoint we're using for wikimedia commons is actually the [mediawiki endpoint](https://www.mediawiki.org/w/api.php?action=query&generator=allimages&prop=imageinfo&gailimit=40&gaisort=timestamp&gaistart=2019-12-07T00:00:00Z&gaiend=2019-12-08T00:00:00Z&iiprop=url|user|dimensions|extmetadata&iiurlwidth=300&format=json).  This doesn't have much material, and a lot of the material available there

[2019-12-09 09:00] mathemancer commented on #192
It appears that the desired info from the example comes from the following field in the json:
```imageinfo[0].extmetadata.Artist.value```
Unfortunately, it's a div type (i.e., we'll need to parse the html in the field to get the artist name and url respectively), and none of the fields seem to contain the desired info otherwise.

[2019-12-10 09:31] mathemancer commented on #204
I'll split this into a different issue per script.

[2019-12-12 08:29] mathemancer opened #219 "Deprecated regex pattern in `etlMods.py`"
`pytest` reports one of the regex patterns in `etlMods.py` as deprecated:

[code]

We should update this

[2019-12-12 08:40] mathemancer commented on #194
I'll close this issue, since we're going to deal with the wikimedia commons source in a different issue.

[2019-12-12 08:40] #195 closed

[2019-12-12 11:06] mathemancer commented on #216
The flickr api will give us 'views' for each photo when we call it.  Unfortunately, more in-depth stats (via the API) require being the owner/uploader of  the photo (as far as I can tell).

Their documentation of this feature is as follows:

[2019-12-12 11:18] mathemancer commented on #216
It occurs to me that we'll have to collect this info for relatively old photos, and keep it up-to-date somehow.  This would require rethinking/redesigning our Flickr ETL jobs as they currently run.

[2019-12-12 16:02] mathemancer commented on #192
I'll also change the endpoint to commons.wikimedia.org (which has more interesting pictures I believe) in the course of implementing this change.

[2019-12-12 16:03] mathemancer commented on #216
For Wikimedia Commons, there's a parameter 'globalusage' that gives a list of pages that use a given image.  Here's an example (in page rather than json format) of what would be returned:

[Cat poster 1.jpg](https://commons.wikimedia.org/w/index.php?title=Special:GlobalUsage&offset=&limit=500&target=Cat+poster+1.jpg
)
As you can see, a lot of the returned results are repetitive user talk pages tha

[2019-12-12 21:25] mathemancer commented on #192
Actually, the Artist.value field comes in (at least) four varieties:

- A div containing a link with the artist name and url
- A div containing just text of the artist name
- A <a> </a> tag construction with just a link (the link text appears to be the artist name)
- Plain text with just an artist name

[2019-12-13 09:02] mathemancer opened #220 "Change `etlMods.requestContent` to take a dictionary of query params"
The current implementation of `requestContent` requires the caller to properly append query params to the url before using it as an argument.  However, `requestContent` uses the `requests` module, which can take a dictionary of query parameters as an argument.

We should change `requestContent` to accept a dictionary of query parameters.  Note that we'll need to change the logging in the function

[2019-12-13 09:49] mathemancer commented on #204
Will release Monday

[2019-12-13 14:37] mathemancer commented on #192
Okay, more info.  The Artist.value field is apparently an arbitrary html snippet.  At least the tags appear (in the cases I've seen) to be matching.

[2019-12-13 14:38] mathemancer commented on #192
Getting a reasonable *name* for the artist should be easy, but figuring out the correct link in the snippet to serve as the artist's url may not be very consistent.

[2019-12-13 14:45] annatuma commented on #194
@mathemancer can you drop a link to the documentation you created in this ticket? I assume the documentation should (if it doesn't already) live in either the internal wiki or Google Docs, correct @kgodey?

[2019-12-13 15:30] mathemancer commented on #194
@annatuma  The documentation starts at the [CC Catalog](https://wikijs.creativecommons.org/tech/cc-search/cc-catalog) page in the wiki.  It shows the current DB schema, and if you click on the provider links below the schema, it goes on at some length about the mapping for each provider.

[2019-12-18 10:10] mathemancer opened #221 "Importing a .tsv to the image DB fails upon only one defective row"
## Describe the bug
If anything goes wrong on the copy of any row of a .tsv file into the `image` database, the import of the entire file fails.  Given that we occasionally find a malformed unicode character, and that manual intervention is required to import the rest of the file, we should add the ability to skip some maximum number of rows before admitting failure for the import of a file.

## T

[2019-12-18 10:18] mathemancer opened #222 "Determine if we can get date taken / uploaded info for Wikimedia Commons pictures"
Currently, the only meta data we store for Wikimedia Commons pictures is the description of the picture.  However, there appear to be fields in the .json returned by their API that we could use to get 'date taken' and 'date uploaded' data for the pictures into our metadata field (as we do for the Flickr provider).

The fields, and their proposed mappings, are:

- `extmetadata.DateTime.value    ->

[2019-12-18 11:00] mathemancer opened #223 "Add logging of missing fields to `etlMods.create_tsv_list_row`"
Currently, each script that gathers data from a provider API has a separate logging style.  In an effort to make the logs more searchable, we should remove the logging statements from each script regarding which required fields are missing, and instead make those logs in the `create_tsv_list_row` function, which checks for missing fields already.

[2019-12-18 11:12] mathemancer opened #224 "Move url parsing from each api provider script to `etlMods.getLicense`"
The license url passed into `getLicense` is parsed identically in each API provider script.  It would be safer, and more self contained, if `getLicense` simply took a string as input, and handled its own URL parsing.

[2019-12-18 11:19] mathemancer commented on #224
During the course of solving this issue, we should consider taking the `_url` parameter out of `etlMods.getLicense` entirely.  It is only used for logging, and when #223 is done, the log will be redundant.

[2019-12-18 16:13] annatuma commented on #221
Makes sense to me. I assume we will have reports for each attempted upload, should we have skipped any rows, so that for instance if we are repeatedly getting bad data from the same source we'll be able to tackle that at the source?

[2019-12-19 08:15] mathemancer opened #225 "Create default environment variables in all `providers/api` scripts"
Currently, one has to set environment variables which aren't used during testing in order to get the scripts to successfully load.  We should set a default whenever we load an environment variable via `os.setenv` in all scripts, so that testing can be run without this extra step.

[2019-12-23 09:07] mathemancer opened #227 "Change `etlMods.PATH` to a more descriptive name"
The variable `PATH` in `etlMods.py` is not as descriptive as it could be.  We should change it to `OUTPUT_DIR`, shadowing the environment variable.

[2020-01-02 10:46] #217 closed

[2020-01-03 14:08] mathemancer opened #228 "Refactor `dailyWorkflow.py` into separate dags"
We are currently using an ad-hoc method to schedule the various data pulling jobs in the `dailyWorkflow.py` DAG.  It would be better to separate them into separate dags, one for each job, and use airflow's cron capability for scheduling.  The advantages would be:

1. Testability:  The current setup makes it impossible to test changes to the workflow for one script individually.
2. Replayability:

[2020-01-03 14:11] mathemancer commented on #228
Another advantage would be that we can eventually attach the DB loading to the successful completion of each of the API puller scripts

[2020-01-06 16:09] mathemancer opened #229 "Modify `WikimediaCommons.py` to work around bug in mediawiki endpoint"
See the issues
https://phabricator.wikimedia.org/T241275
and
https://phabricator.wikimedia.org/T201205

We cannot the generator functionality while the problems described in those bugs persist.  Therefore, we should come up with a way to rewrite the `WikimediaCommons.py` script so as to avoid using the generator to get the information about each image at the same time as the list of images.

One o

[2020-01-06 16:13] mathemancer commented on #192
See https://wikijs.creativecommons.org/tech/cc-search/cc-catalog/wikimediacommons for further notes on the WMC API.

Due to a bug in the WMC API, we need to rewrite the `WikimediaCommons.py` script before reingesting data.  See #229

[2020-01-09 01:38] stragu opened #231 "[API Integration] Internet Archive"
## Provider API Endpoint / Documentation

Internet Archive has CC-licensed images: https://archive.org/

This integration could be limited to images only using mediatype:"image"
https://archive.org/details/image?and[]=mediatype%3A%22image%22

There are close to 3.5 million images available.

To filter by license, the CC abbreviations can be used. For example:
https://archive.org/details/image?and[

[2020-01-09 07:03] mathemancer commented on #231
[API docs](https://archive.org/help/json.php)
[Example query](https://archive.org/advancedsearch.php?q=licenseurl%3A*by-nc*+AND+mediatype%3Aimage&fl%5B%5D=avg_rating&fl%5B%5D=backup_location&fl%5B%5D=btih&fl%5B%5D=call_number&fl%5B%5D=collection&fl%5B%5D=contributor&fl%5B%5D=coverage&fl%5B%5D=creator&fl%5B%5D=date&fl%5B%5D=description&fl%5B%5D=downloads&fl%5B%5D=external-identifier&fl%5B%5D=foldou

[2020-01-09 11:20] #228 closed

[2020-01-09 11:45] mathemancer opened #232 "Sanitize Strings in Json Fields when creating .tsv row in `etlMods.py`"
## Describe the bug
`modules.etlMods.create_tsv_row` does not currently sanitize strings in JSON fields, leading to breakages when trying to load some .TSV files into the DB.  We should call the `modules.etlMods.sanitizeString` method on values of lists or dictionaries before dumping them into strings with the `json` library.

## To Reproduce
Steps to reproduce the behavior:
1. Run `WikimediaCommo

[2020-01-09 11:55] #204 closed

[2020-01-09 12:01] mathemancer opened #233 "Refactor imports in `etlMods.py` as well as other scripts"
Currently, a number of scripts in the directory `src/cc_catalog_airflow/provider_api_scripts` are getting some of their imports from doing a star import of `modules/etlMods.py` (E.g., `PhyloPic.py` needs the `argparse` module, which it doesn't import itself, but rather through
[code]
On the other hand, `argparse` is *not* used in the `modules.etlMods` module itself, and most linting tools therefor

[2020-01-09 12:05] mathemancer opened #234 "Expand test coverage of `etlMods.py`"
We need to refactor `src/cc_catalog_airflow/dags/provider_api_scripts/modules/etlMods.py`, bringing it into PEP8 compliance, removing unused imports, and more.  Unfortunately, the test coverage of this module is too sparse to make these changes safely.

We should write at least a few basic tests for each function that is 'public' in this module.

[2020-01-10 06:43] #232 closed

[2020-01-10 14:21] annatuma opened #236 "[API Integration] Sketchfab"
Sketchfab has over 250,000 CC-licensed images, many from GLAM institutions. We'd like to prioritize integration with them at this time.

API info:
https://docs.sketchfab.com/data-api/v3/index.html#/

Per our contact, once you have created a user account you're able to apply for an API key. If that isn't the case, we have a contact to quickly connect with for access.

[2020-01-10 14:25] annatuma commented on #231
Thank you @stragu for requesting this. We will do further research and determine prioritization.

[2020-01-10 14:32] mathemancer opened #237 "Create 'Repository-like' class to represent adding rows to the DB for Provider API Scripts"
The class should expose two public functions:
1. `add_image_info` (or similar name) -- This function should accept
   more-or-less the same arguments as the `create_tsv_row` function from
   [`src/cc_catalog_airflow/dags/provider_api_scripts/modules/etlMods.py`][etl_mods]
2. `commit` This should signal the class that things have gone properly, so that
   it can 'permanize' its work on the run.

Mo

[2020-01-10 14:47] mathemancer commented on #237
Note that, for the moment, this class should import much of its functionality from `etlMods.py`.  As we rewrite the Provider API Scripts to use this class, we can slowly bring functions from `etlMods.py` into this class as appropriate.

[2020-01-10 14:49] mathemancer commented on #233
This ticket should wait until after #237 , since the goal will eventually be for Provider API Scripts to be able to avoid importing `etlMods.py` directly.

[2020-01-10 14:56] mathemancer opened #238 "Rewrite `WikimediaCommons.py` to use the class from Issue 237"
This should be done in conjunction with #229 .
* After this rewrite *no* generic code (common to other Provider API Scripts) should live in the new
  `wikimedia_commons.py` script.
* This script should have a `main` function that is designed to be imported and run (currently,
  that is impossible).
* The `main` function should take date arguments which are currently passed on the
  command line (m

[2020-01-10 15:06] mathemancer opened #239 "Fresh deployment of entire `cccatalog` repo."
This should be done Monday.

The crontab strings need to be set in `src/cc_catalog_airflow/dags/util/config.py` for each workflow.  We then need to do a major deployment, make sure all of them run on Monday, and then delete `dailyWorkflow.py` from the prod Airflow server.

[2020-01-10 15:09] mathemancer commented on #239
Note that if I have everything properly set up, the deployment should be as 'simple' as `rsync`ing the pulled repo with the airflow folder on the ec2 instance, and then keeping an eye out for smoke or fire.

[2020-01-10 15:24] mathemancer opened #240 "Improve DB loader so that one defective TSV file cannot block loading other files"
Currently, there is a `DB_Loader` Airflow DAG that runs every 4 hours, picks up all output `.tsv` files from any Data-pulling job that ran in the interim, and puts them into the PostgreSQL database for use by the CC Search API.

~It would be more robust to redesign the flow so that a DB load is dependent on the success of a single pull job, in the same Airflow DAG.  The new DAG structure should be

[2020-01-10 15:28] mathemancer opened #241 "Refactor `monthlyWorkflow.py` into separate DAGs"
See #228 .

This issue is the same, but for the `monthlyWorkflow.py` script.

[2020-01-10 16:11] #192 closed

[2020-01-10 16:36] #194 closed

[2020-01-13 10:44] mathemancer opened #242 "Rename `src/cc_catalog_airflow/dags/provider_api_scripts/modules` to be more descriptive"
We will also have to rename a large number of imports when we do this, since `modules.etlMods` is used in nearly all Provider API Scripts.

[2020-01-13 21:51] annatuma opened #243 "[API Integration] Wellcome Collection"
## Provider API Endpoint / Documentation
https://developers.wellcomecollection.org

## Provider description
Most of the metadata we need is readily available (the license, attribution info, a link, a thumbnail, etc.). They have something we could use for the description meta_data field (which we like for search indexing).

Two considerations to look into further prior to integration:
1) Not much b

[2020-01-14 09:31] mathemancer opened #244 "Images are sometimes added to the DB without a `license_version`"
## Describe the bug
There are 67333 images in the `image` database with no stored `license_version`.  Unfortunately, the `license` is essentially invalid without a version, so such images cannot be shown in the front end.   We should:
1. determine how such images are getting added to the DB.
2. prevent such images from being added to the DB in the future.
3. remove all such images from the DB, sin

[2020-01-16 08:34] #239 closed

[2020-01-20 18:41] mathemancer commented on #223
To some extent, this ticket is out of date, since we'll be moving the Provider API scripts over to using the new ImageStore class, which already includes the functionality mentioned in this issue.

[2020-01-20 18:42] mathemancer commented on #224
This issue is somewhat out-of-date, since we'll me moving each Provider API Script over to use the new ImageStore class, which includes this functionality.

[2020-01-24 16:45] annatuma opened #247 "Rewrite Flickr API Provider Script to use new ImageStore class"
Brent to flesh this out.

[2020-01-28 06:39] #237 closed

[2020-01-30 12:50] mathemancer commented on #216
I'm going to split off the popularity data collection for Flickr into a different issue.

[2020-01-30 12:51] mathemancer commented on #216
For wikimedia commons, we will put the number of pages in the `globalusage` list into the meta_data dictionary (with the key `global_usage_count`).

[2020-01-30 13:50] mathemancer commented on #247
The old version can be found at `src/cc_catalog_airflow/dags/provider_api_scripts/Flickr.py`.  The script should be rewritten with the following goals:

* The new script must be able to pull a minimum of 50 days of data per day.  400 should (hopefully) be possible by using a larger bite size (e.g., pull the entire day's data, 500 images per request rather than 5 minutes of data per request as is t

[2020-01-30 17:06] #238 closed

[2020-01-31 19:06] mathemancer opened #249 "Write new DAG for new WIkimedia Commons Script."
It should use a PythonOperator to run the main function of the script.  It should use the datestamp macro available in Airflow to run for the execution date, rather than the system date (this will allow us to backfill old data).

[2020-02-02 16:25] Gbahdeyboh commented on #209
Hello @mathemancer, I'd like to work on this issue.

[2020-02-03 10:05] mathemancer commented on #209
@Gbahdeyboh Do you mind giving me a couple of days to split this into issues on a per-file basis before you start?  That way, you don't have to tackle the whole codebase at once.  It'll have the side-benefit of letting me check changes on a file-by-file basis.  Thank you!

[2020-02-03 10:43] Gbahdeyboh commented on #209
Sure, just keep me posted! @mathemancer . Thanks

[2020-02-03 20:15] annatuma opened #251 "https://soundcloud.com/909-music"

[2020-02-03 21:23] annatuma commented on #163
Current integration is through Common Crawl.

API documentation: https://www.behance.net/dev
API key: stored in LastPass, internally

Considerations prior to integration:
- Can we make use of e.g. the stats in /project_id to bring in popularity data?
- Is there an equivalent of NSFW anywhere in the API that we can include in metadata?

[2020-02-03 21:51] kgodey commented on #163
@annatuma yes there is an NSFW flag in the API

[2020-02-04 17:05] #249 closed

[2020-02-05 03:28] meg3532 commented on #251
#209

[2020-02-06 12:18] mathemancer opened #252 "Rewrite Thingiverse Provider API Script to use new ImageStore class"
The old version can be found at `src/cc_catalog_airflow/dags/provider_api_scripts/Thingiverse.py`. The script should be rewritten with the following goals:

- The new script should be at `src/cc_catalog_airflow/dags/provider_api_scripts/thingiverse.py` (note the capitalization change from the old script name).
- The new script should have a test suite at `src/cc_catalog_airflow/dags/provider_api_s

[2020-02-06 12:18] mathemancer commented on #203
This will be handled in the rewrite of this script (see #252 )

[2020-02-06 12:18] #203 closed

[2020-02-06 12:24] mathemancer opened #253 "Rewrite PhyloPic Provider API Script to use new ImageStore class"
The old version can be found at `src/cc_catalog_airflow/dags/provider_api_scripts/PhyloPic.py`. The script should be rewritten with the following goals:

- The new script should be at `src/cc_catalog_airflow/dags/provider_api_scripts/phylopic.py` (note the capitalization change from the old script name).
- The new script should have a test suite at `src/cc_catalog_airflow/dags/provider_api_scripts

[2020-02-06 13:41] mathemancer opened #254 "Rewrite Met Museum Provider API Script using new ImageStore class"
The old version can be found at `src/cc_catalog_airflow/dags/provider_api_scripts/MetMuseum.py`. The script should be rewritten with the following goals:

- The new script should be at `src/cc_catalog_airflow/dags/provider_api_scripts/metropolitan_museum_of_art.py` (note the capitalization change from the old script name).
- The new script should have a test suite at `src/cc_catalog_airflow/dags/p

[2020-02-06 13:46] mathemancer opened #255 "Rewrite Cleveland Museum Provider API Script using new ImageStore class"
The old version can be found at `src/cc_catalog_airflow/dags/provider_api_scripts/ClevelandMuseum.py`. The script should be rewritten with the following goals:

- The new script should be at `src/cc_catalog_airflow/dags/provider_api_scripts/cleveland_museum_of_art.py` (note the capitalization change from the old script name).
- The new script should have a test suite at `src/cc_catalog_airflow/dag

[2020-02-06 13:52] mathemancer opened #256 "Rewrite RawPixel Provider API Script using new ImageStore class"
The old version can be found at `src/cc_catalog_airflow/dags/provider_api_scripts/RawPixel.py`. The script should be rewritten with the following goals:

- The new script should be at `src/cc_catalog_airflow/dags/provider_api_scripts/rawpixel.py` (note the capitalization change from the old script name).
- The new script should have a test suite at `src/cc_catalog_airflow/dags/provider_api_scripts

[2020-02-06 13:57] mathemancer commented on #242
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 13:57] #242 closed

[2020-02-06 13:58] mathemancer commented on #234
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 13:58] #234 closed

[2020-02-06 13:59] mathemancer commented on #233
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 13:59] #233 closed

[2020-02-06 14:00] mathemancer commented on #227
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:00] #227 closed

[2020-02-06 14:01] mathemancer commented on #225
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:01] #225 closed

[2020-02-06 14:01] mathemancer commented on #224
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:01] #224 closed

[2020-02-06 14:02] mathemancer commented on #223
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:02] #223 closed

[2020-02-06 14:03] mathemancer commented on #220
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:03] #220 closed

[2020-02-06 14:04] mathemancer commented on #219
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:04] #219 closed

[2020-02-06 14:04] mathemancer commented on #212
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:04] #212 closed

[2020-02-06 14:05] mathemancer commented on #210
This will be addressed during the work for #256

[2020-02-06 14:09] mathemancer commented on #209
@Gbahdeyboh Please see
 #238 #247 #252 #253 #254 #255 #256
Feel free to jump in on any of those issues, even if it's just as little as renaming the variables in the old script versions into snake_case.  Just know that I won't merge anything into master until the tests (see the individual issues) are written.  If you're up to it, you are also welcome to tackle one of the script rewrites entirely.

[2020-02-06 14:09] mathemancer commented on #209
This will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

[2020-02-06 14:09] #209 closed

[2020-02-06 14:15] mathemancer commented on #208
For Provider API scripts, this will be addressed by the Provider API Script rewrites.

See #238 #247 #252 #253 #254 #255 #256

For the Common Crawl scripts, we'll have to wait to address this

[2020-02-06 14:16] mathemancer commented on #207
This will be addressed by #256

[2020-02-06 14:16] #207 closed

[2020-02-06 14:18] mathemancer commented on #255
Also see #206.  It would be nice, but not absolutely necessary to solve that issue during this rewrite.

[2020-02-06 14:49] Gbahdeyboh commented on #209
@mathemancer  This current Issue #209 states that variables and functions declarations should be renamed to follow the style guides here  [ https://www.python.org/dev/peps/pep-0008/](https://www.python.org/dev/peps/pep-0008/) in the codebase.
The issues #238 #247 #252 #253 #254 #254 #255 #256 requires a re-write of the codes to meet specified requirements in the respective issues.

I might not be

[2020-02-06 15:02] Gbahdeyboh commented on #209
Is it fine if I go through the whole issues and rename declarations following conventions stated [here](https://www.python.org/dev/peps/pep-0008/) @mathemancer ?

[2020-02-06 17:26] mathemancer commented on #209
@Gbahdeyboh Idea:  What if you pick one of the scripts (not #238, it's already done, and not #247, it's in progress), and jump in on that.  I have to warn you, I won't merge without tests (which are lacking).  If you're not comfortable writing the tests yourself, perhaps we can work together on it (via the internet) next week sometime.

[2020-02-06 21:12] ayushbansal07 commented on #256
Hi, I was interested in working on this issue. I looked into the new classes `ImageStore` and `DelayedRequester` and the required changes seem straight forward to me. I wanted to know if I could start working on this?

[2020-02-07 15:14] mathemancer commented on #256
@ayushbansal07  Sure, go for it!  I've marked the issue as 'in progress'.  Let me know if there's any change in status.

[2020-02-07 15:16] mathemancer commented on #209
@Gbahdeyboh Don't forget to check for 'in progress' on any issue you decide to work on.  Some of them are being tackled by other community members.

[2020-02-07 17:29] ayushbansal07 commented on #256
Yes, I'll keep you updated on this. I however, had a doubt. Is there an already written test script for `RawPixel`? I have never worked with writing test suites for python codes. I wanted to know if you could help me by telling me any references for it and how what all could be expected in the test suite for the given file?

[2020-02-07 22:44] Gbahdeyboh commented on #209
Alright, Thanks. I'll give feedback soon and let you know what day next week when done.

[2020-02-08 12:52] mathemancer commented on #256
There's currently no test suite.  It still needs to be written.  For a good example, see `test_wikimedia_commons.py` (in the same directory).  Also, have a look at https://docs.pytest.org/en/latest/

[2020-02-08 12:53] mathemancer commented on #256
We're mostly using `pytest`, with an occasional mock from `unittest.mock` when necessary.

[2020-02-10 19:59] mathemancer commented on #256
We should also change the 'map of lambda' pattern into list comprehensions (see #208) if possible during this rewrite.

[2020-02-11 20:14] mathemancer opened #258 "Delayed requester doesn't handle requests.get exceptions"
## Describe the bug
The DelayedRequester class in `src/cc_commons_airflow/dags/provider_api_scripts/common/requester.py` should handle exceptions (e.g., timeout) arising from using `requests.get`.  Unfortunately, there's an extraneous `requests.get` call *outside* of the try/except block intended to catch such problems.

## To Reproduce
Steps to reproduce the behavior:
Use `DelayedRequester.get` w

[2020-02-11 21:10] #258 closed

[2020-02-11 22:05] mathemancer opened #260 "Wikimedia Script requests timeout regularly, and don't 'Fail' the DAG node"
## Describe the bug
Requests to Wikimedia Commons are timing out quite regularly.  This causes the script to retry 5 times, then fail without turning the run 'red' (i.e., Apache Airflow doesn't realize the script has failed).

## To Reproduce
Run the `wikimedia_commons_workflow` DAG (Apache Airflow Directed Acyclic Graph) for `2019-12-01`.  This behavior seems to occur for that date.

## Expected

[2020-02-11 22:55] #260 closed

[2020-02-12 17:13] mathemancer opened #262 "Refactor flickr provider api script's _get_image_list to use 'tries' instead of 'retries'"
We can avoid the confusing situation of checking for `retries < 0` in `src/cc_catalog_airflow/dags/provider_api_scripts/flickr.py` (method `_get_image_list`) by changing from counting 'retries' to counting 'tries'  (at the moment, if one gives `retries=3` as a parameter, the function will try 4 total times:  the original try, plus 3 retries).

If we instead give `tries` (or some better name) as a

[2020-02-12 19:46] #247 closed

[2020-02-12 20:35] mathemancer opened #264 "Write DAG for new Flickr script"
It should use a PythonOperator to run the main function of the script. It should use the datestamp macro available in Airflow to run for the execution date, rather than the system date (this will allow us to backfill old data).

NOTE:  This DAG will be quite similar to the new Wikimedia Commons DAG, but I'd like to do a couple, and then merge the common bits.

[2020-02-12 20:42] mathemancer opened #265 "Remove Flickr run from monthly DAG"
We can no longer rerun the `Flickr.py` script via the monthly DAG, since that will conflict with the new version.  So, we need to delete that node from the Apache Airflow DAG at `src/cc_catalog_airflow/dags/monthlyWorkflow.py`.

[2020-02-13 19:10] annatuma opened #267 "Pharos Art Research"
http://images.pharosartresearch.org/

Scann syncing with them re rights system.

[2020-02-13 20:40] #264 closed

[2020-02-13 20:42] annatuma opened #268 "Dutch National Archives"
The URL (with currently 418.302 results for CC0 ) https://www.nationaalarchief.nl/onderzoeken/zoeken?activeTab=photo_legacy&qf_f_Webwinkel=Ja&qf_f_WebwinkelLabel=Beschikbaar%20(418302)&rm=gallery

[2020-02-14 17:02] #216 closed

[2020-02-14 17:02] #229 closed

[2020-02-15 09:11] gauravahlawat81 commented on #255
Hey, I would like to take up this issue.

[2020-02-17 05:51] Mishrasubha commented on #208
Hello! Can I work on this issue?

[2020-02-17 12:53] gauravahlawat81 commented on #267
Hey, can you please tell me more about the issue ?
Do we have to write  a new `provider_api` for `Pharos` ?

[2020-02-17 16:07] gauravahlawat81 commented on #255
The `ClevelandMuseum.py` is making extensive use of `etlMods.py`. Can you tell me how to get around it ? Should I create specific tasks for this API or should I write another file `etlMods.py` with improved regex pattern ?

[2020-02-17 23:28] akshgpt7 commented on #236
Are only CC-licensed images to be fetched through this API integration?

[2020-02-18 08:26] akshgpt7 commented on #205
Hi, Can I take up this task?

[2020-02-18 10:12] mathemancer commented on #205
@akshgpt7 Please do!  Be aware, your modifications won't make it into production, however, until #255 is done.  Please let me know if you've decided to start work on this issue; I'll label it accordingly at that point.

[2020-02-18 10:27] akshgpt7 commented on #205
@mathemancer  Yes, I'm starting to work on this issue.
Also, I'm unable to figure out how to test whether my changes are working correctly. Can you help me out regarding the flow to test the script.

[2020-02-18 12:50] mathemancer commented on #205
@akshgpt7 Unfortunately, #255 is the issue where we'll be writing tests for this script.  In the meantime, the options are either to run the script locally and eyeball-compare the results with a run of the original to make sure nothing has been mangled.

Were you able to get things running locally using the `README.md`?

[2020-02-18 13:16] mathemancer commented on #236
@akshgpt7 That is correct.  I should work on this ticket to reflect that.  I'll also mark this as `in progress`, since it's on my plate for this sprint (i.e., I'll be the one working on it).

[2020-02-18 21:01] akshgpt7 commented on #205
@mathemancer Yes, I have successfully run the docker container and ran the tests.

[2020-02-19 15:12] akshgpt7 commented on #262
@mathemancer Can I take up this task?

[2020-02-19 15:52] mathemancer commented on #262
Absolutely!  I'll mark this as 'in progress'.  Let me know if you have any difficulties.

[2020-02-19 16:23] #205 closed

[2020-02-19 16:24] mathemancer commented on #265
This was solved by #266 . Not sure why it didn't close automatically

[2020-02-19 16:24] #265 closed

[2020-02-19 16:30] mathemancer commented on #255
@gauravahlawat81 The goal is to use the new `ImageStore` class in place of any formatting / writing functionality from `etlMods.py`, and to use the new `DelayedRequester` class wherever `etlMods.requestContent` is currently used.  Also, it should be possible to remove logic from the main `ClevelandMuseum.py` script which is now handled in the `ImageStore` or `DelayedRequester` classes (e.g., you c

[2020-02-19 16:41] mathemancer commented on #267
@gauravahlawat81 We'll take away the 'not ready for work' label once this is more fleshed out.

[2020-02-19 16:42] mathemancer commented on #208
@Mishrasubha Please see my previous comment; this issue isn't in a state to be worked on at the moment.  In fact, I'll close the issue to avoid further confusion.

[2020-02-19 16:42] #208 closed

[2020-02-19 16:45] gauravahlawat81 commented on #267
Alright.

[2020-02-19 16:48] gauravahlawat81 commented on #255
@mathemancer Alright. Thanks for the feedback, I'll try to solve the issue as soon as possible.

[2020-02-19 16:51] mathemancer commented on #241
We are currently using an ad-hoc method to schedule the various data pulling jobs in the monthlyWorkflow.py DAG. It would be better to separate them into separate dags, one for each job, and use airflow's cron capability for scheduling. The advantages would be:

- Testability: The current setup makes it impossible to test changes to the workflow for one script individually.
- Replayability: We can

[2020-02-19 16:54] mathemancer commented on #241
For examples of how the split dags should look, see
- `src/cc_catalog_airflow/dags/flickr_workflow.py`
- `src/cc_catalog_airflow/dags/wikimedia_workflow.py`, and
- `src/cc_catalog_airflow/dags/common_api_workflows.py`

The accompanying smoke tests for those DAGs should be considered the minimum acceptable level for DAGs going forward.

[2020-02-19 16:57] mathemancer commented on #222
The main challenge to this issue is determining whether the `date_uploaded` mapping is appropriate.  Other than that, it should be a simple implementation, with only a couple of tests to write.

[2020-02-19 17:01] mathemancer commented on #221
Marking this as 'not ready for work' until my changes with a DB testing setup are merged (so that the implementer can test their changes)

[2020-02-19 17:58] annatuma opened #271 "x5gon OER"
We need to review the API provided by x5gon, a partner in Europe:
https://platform.x5gon.org/products/feed

Specifically, this would be in relation to ingestion of educational resources, which could be in many different formats. Let's see:
a) if the API has the baseline info we need (cursory look appears to be yes, but someone should dig in)
b) what content types are currently returned, and in wha

[2020-02-19 20:02] gauravahlawat81 commented on #255
@mathemancer I have finished writing some initial codes. And I want to know if all the progress that I have made till now , is not useless. Can it be done in some way ?

[2020-02-19 22:35] akshgpt7 commented on #253
Hi, @mathemancer Can I work on this issue?

[2020-02-20 05:07] akshgpt7 commented on #206
@mathemancer Can I fix this?

[2020-02-20 10:10] gauravahlawat81 commented on #255
@mathemancer  I have sent a PR, please review that. The PR doesn't solve the issue, I just wanted to run the code by you once, to see if I am doing it the correct way.
Thanks

[2020-02-20 12:07] mathemancer commented on #253
@akshgpt7 Please do.  I've marked it as 'in progress'

[2020-02-20 12:23] gauravahlawat81 commented on #163
Hey, what's the status of this issue ? Is it ready to be worked on?
Currently I am working on `cccatalog` repository, I think I can work on this issue .
@mathemancer What do you think ?

[2020-02-20 17:14] annatuma opened #274 "[API Integration] Walters Art Museum"
## Provider API Endpoint / Documentation
http://api.thewalters.org/

## Provider description
The Walters Art Museum’s collection spans more than seven millennia, from 5,000 BCE to the 21st century, and encompasses 36,000 objects. This is considering for ingestion to CC Search, because it uses the same data structure as over a dozen other institutions, working with the American Art Collaborative (h

[2020-02-20 20:14] aashrafh commented on #241
Can I take this?

[2020-02-21 14:49] gauravahlawat81 commented on #252
Hey, I would like to work on this issue as well, as I'm already working on Cleveland Museum API, I think it will be very similar and I'll be able to do it quickly.

[2020-02-21 14:53] gauravahlawat81 commented on #206
@mathemancer I don't think this issue is relevant anymore since we are gonna re write the Cleveland Museum API anyway.
Reference: #255

[2020-02-21 15:35] kgodey commented on #252
@gauravahlawat81 we want to give other people the chance to contribute as well, so we're asking that people work on a single issue at any given time. once you're done with the Cleveland Museum API, you can start work on another issue.

[2020-02-21 15:36] gauravahlawat81 commented on #252
Okay, that sounds good.
Thanks for replying.

[2020-02-21 15:41] akshgpt7 commented on #222
@mathemancer [This link](https://commons.wikimedia.org/wiki/API:Main_page) mentioned in `Notes` of `wikimedia_commons.py` says it does not currently exist. Where can I find the documentation for the API? I tried looking for it, but couldn't find it on the web.

[2020-02-21 19:04] aashrafh commented on #274
I'd work on it

[2020-02-21 19:47] AyanChoudhary commented on #254
Is this PR ready to be worked on? If yes, can I take this?

[2020-02-21 20:23] kgodey commented on #274
This issue is marked "not ready for work" and isn't ready for contributors yet.

[2020-02-21 22:50] aashrafh commented on #252
Can I work on it?

[2020-02-21 23:33] akshgpt7 opened #275 "get method of DelayedRequester returns Response object, not json"
The docstring of the `get()` method of `DelayedRequester` class says **Make a get request, and return the response json if it exists.** However, it is returning a Response object, and not the json coming in response.
Either the docstring should be edited to avoid confusion, or it should return the required json.

[2020-02-22 09:24] Gbahdeyboh commented on #254
@AyanChoudhary I don't think anyone is currently working on this issue. You could take it and send a PR, but note that the PR wouldn't be merged if tests are not written.

[2020-02-23 09:34] mrsaicharan1 commented on #275
@akshgpt7 Hi, I would like to work on this issue.

[2020-02-23 10:26] diru1100 commented on #241
can I work on this issue?

P.S: the Flikr link in documentation is going to 404 as the code changed

[2020-02-23 21:27] aashrafh commented on #252
@kgodey

[2020-02-23 21:53] gauravahlawat81 commented on #252
@aashrafh Start working on this issue, since it's not been marked as `in progress`. Also send an empty WIP PR, that PR let's others know that you're working on this issue. Hope this helps

[2020-02-23 23:06] akshgpt7 commented on #254
@gauravahlawat81 Regarding #277, the Contributing Guidelines say the following:
<br>

Once you have identified an issue you'd like to work on, follow these steps:

   -  Comment on it and say you'd like to work on that issue.
   -  Wait for someone to confirm that you may work on the issue before writing any code. The person who confirms will add an "in progress" label to the issue to indicate tha

[2020-02-24 00:07] AyanChoudhary commented on #254
I had started working on this as soon as I was given the go.

[2020-02-24 00:13] akshgpt7 commented on #254
You need the approval of a maintainer, who will label the issue as `in progress` before starting work.

[2020-02-24 00:15] AyanChoudhary commented on #254
Actually he did approve it

[2020-02-24 02:18] gauravahlawat81 commented on #254
Oh, @akshgpt7 Thanks for that. But as the issue wasn't marked In progress, I took the Liberty of sending a WIP PR, since I didn't see one. If you guys think that I broke rules here, I would happily delete the PR .

[2020-02-24 02:21] gauravahlawat81 commented on #254
I've deleted the PR. @AyanChoudhary Go ahead and work on it if you had already started.

[2020-02-24 05:37] mathemancer commented on #206
@gauravahlawat81 I'm hoping that the rewrite in #255 also fixes this bug.  I'll leave it open, so we don't forget to double-check when finishing up that issue.

[2020-02-24 10:07] ChariniNana commented on #222
Is this issue to be taken by @akshgpt7 ? Otherwise I'm interested in taking this

[2020-02-24 10:17] mathemancer commented on #222
You are correct, that link is out-of-date.  A better one is:
https://www.mediawiki.org/wiki/API:Main_page
Also, see
https://commons.wikimedia.org/w/api.php
That request to the API gives you the root of the auto-generated documentation.

[2020-02-24 10:18] mathemancer commented on #222
@ChariniNana @akshgpt7 So far, this issue is not assigned to anyone.  I'd prefer if you all worked out who should work on it between yourselves.  Thank you!

[2020-02-24 10:25] #206 closed

[2020-02-24 10:37] mathemancer commented on #163
Adding the default boiler plate from our fancy new Provider API Integration template:

## Provider API Endpoint / Documentation

https://www.behance.net/dev

## Provider description

## Licenses Provided

## Provider API Technical info

## General Recommendations for implementation

- The script should be in the `src/cc_catalog_airflow/dags/provider_api_scripts/` directory.
- The script should hav

[2020-02-24 10:47] mathemancer commented on #163
@gauravahlawat81
The issue is almost ready.  See my previous comment for the details so far.  In order to work on this issue, one needs to obtain an API key from Behance (it's not possible to use the CC org's key as a community contributor).  The preferred way to work with it would be to use an environment variable (perhaps `BEHANCE_API_KEY`) for the key, and read it in the script.

The main info

[2020-02-24 10:49] mathemancer commented on #163
@gauravahlawat81
I'd prefer you finish up on #255 before jumping into this.  This is quite a large/major issue.

Thank you very much for your initiative!

[2020-02-24 14:23] mathemancer commented on #275
@akshgpt7 Thanks for the heads up.  You're correct.

[2020-02-24 14:24] mathemancer commented on #275
It's far preferable to change the docstring.

[2020-02-24 14:25] akshgpt7 commented on #275
Fair enough, I'll update the docstring to avoid any further confusion.

[2020-02-24 15:50] kgodey commented on #241
@diru1100 go ahead. I'll let @mathemancer update the link.

[2020-02-24 18:04] annatuma commented on #169
## Provider API Endpoint / Documentation

No documentation found, emailed OpenClipArt.org to find out if this integration is possible.

## Provider description

This is a clip art provider, with almost 160,000 objects in the collection.

## Licenses Provided

All objects are CC licensed.

**SECTIONS BELOW THIS POINT NEED TO BE WORKED ON PRIOR TO INTEGRATION**

## Provider API Technical info

## Ge

[2020-02-24 18:18] annatuma commented on #147
## Provider API Endpoint / Documentation
http://api.repo.nypl.org/

For this provider, an API key is required. It is not possible to use CC’s org key, as a community contributor. The preferred way to work with it is to use an environment variable, such as PROVIDERNAME_API_KEY for the key and read it in the script.

Information necessary before this ticket is complete and ready for work is whether

[2020-02-24 18:48] kgodey commented on #169
We may need to do this via Common Crawl if there's no API.

[2020-02-24 18:58] annatuma commented on #184
Integration is currently blocked due to dual rights of certain objects, e.g. http://digitallibrary.usc.edu/cdm/singleitem/collection/p15799coll95/id/1/rec/1 where the *Rights* field indicates both Public Domain and CC-BY. We're in communication with the library regarding this.

[2020-02-24 19:12] annatuma commented on #135
## Provider API Endpoint / Documentation

Collections are hosted in ContentDM, a digital image management platform administered by OCLC.

Public interface to the collections is here:
https://cdm16014.contentdm.oclc.org/digital/

For metadata and interacting with the back end, two options.

Option 1, OAI
Link to OAI repository is here: http://cdm16014.contentdm.oclc.org/oai/oai.php

OAI specificati

[2020-02-24 19:54] annatuma commented on #185
Turns out this is part of http://network.bepress.com/ which has almost 3.5M OA text objects from participating institutions. I've sent them an email to inquire about a partnership. The preference would be to partner at the master level. If that's not an option, we can look at institution by institution. For now, putting this ticket as "Blocked" until we hear back from bepress.

[2020-02-24 19:58] annatuma commented on #187
3000 objects, no indication of API on website. I've contacted them for more information. Moving this to blocked until we hear back.

[2020-02-24 20:07] annatuma commented on #183
I was unable to find licensing information or API documentation. I've sent them an email to inquire on both counts. Moving this to Blocked for now.

[2020-02-24 20:11] annatuma commented on #186
It turns out that this is in Europeana, which we'll integrate with to get access to all of their collections. Closing this out.

[2020-02-24 20:11] #186 closed

[2020-02-24 20:22] annatuma commented on #97
Closing this out, will start with fresh documentation in Catalog Pipeline project.

[2020-02-24 20:22] #97 closed

[2020-02-24 20:26] annatuma opened #279 "[API Integration] Europeana"
## Provider API Endpoint / Documentation

https://pro.europeana.eu/resources/apis

For this provider, an API key is required. It is not possible to use CC’s org key, as a community contributor. The preferred way to work with it is to use an environment variable, such as PROVIDERNAME_API_KEY for the key and read it in the script. CC has obtained a key for a community contributor to run tests with.

[2020-02-24 20:40] akshgpt7 opened #280 "[API Integration] Auckland Museum"
## Provider API Endpoint / Documentation
Tutorial: https://github.com/AucklandMuseum/API/wiki/Tutorial#fields-available-for-query-string-searches
Endpoint: https://api.aucklandmuseum.com/

## Provider description
The Auckland Museum displays wide varieties of historical artifacts and collections in addition to providing education and research resources.

## Provider API Technical info
Rate Limit:

[2020-02-24 20:55] annatuma commented on #251
909music.com is now a clothing/decor retail site, the last comment related to it on SoundCloud was 5 years ago. The 909music collection on SoundCloud also only contains 55 tracks. Closing this out, not a fit for audio ingestion.

[2020-02-24 20:55] #251 closed

[2020-02-24 21:01] annatuma opened #281 "[API Integration - AUDIO] SoundCloud"
**Ticket will require more work prior to integration, preliminary information only at this point. This is blocked by the Catalog not currently supporting audio as a content type.**

## Provider API Endpoint / Documentation

https://developers.soundcloud.com/
https://developers.soundcloud.com/docs/api/reference

## Provider description

SoundCloud is an online provider of audio, of varying lengths

[2020-02-24 21:02] kgodey commented on #222
Since @akshgpt7 has worked on a bunch of other issues in this repo, I think it would be good for @ChariniNana to have a chance to contribute, I'll assign accordingly.

[2020-02-24 21:14] gauravahlawat81 commented on #279
What does ticket work required means ?

[2020-02-24 21:15] annatuma opened #282 "[API Integration - AUDIO] FreeSound.org"
**This ticket is blocked until the CC Catalog can support ingesting audio as a content type. Further ticket work will also be required.**

## Provider API Endpoint / Documentation

https://freesound.org/help/developers/
https://freesound.org/docs/api/
https://freesound.org/apiv2/

For this provider, an API key is required. It is not possible to use CC’s org key, as a community contributor. The pre

[2020-02-24 21:15] kgodey commented on #279
@gauravahlawat81 it means the issue needs more detail fleshed out. if you hover over the label, you can see the description in the tooltip.

[2020-02-24 21:17] gauravahlawat81 commented on #279
Okay, thanks for the info

[2020-02-24 23:52] akshgpt7 commented on #280
@annatuma, @mathemancer I found out that the Auckland Museum's online collection has CC licensed images, which can be identified by the `copyright` field in the response JSON.

[2020-02-25 00:37] ChariniNana commented on #222
Thanks @kgodey. I'll work on this

[2020-02-25 06:52] Pac23 commented on #274
@annatuma @kgodey can i start working on this ? as part of gsoc application for the add api provider idea ?

[2020-02-25 09:21] mathemancer commented on #241
@diru1100 Thanks for the heads up on the link.

[2020-02-25 09:26] mathemancer opened #283 "Update Links to parts of the repo in the README"
Because we've been rewriting numerous scripts and changing their names, `README.md` has gone out-of-sync in this repo.  We need to update the links in the README to reflect the current locations of the various files in the directory structure.

[2020-02-25 09:31] mathemancer commented on #147
I'm marking this as 'CC staff only' for the moment, since it appears we need to go through some talks with NYPL via email and/or video conference before moving forward.

[2020-02-25 09:42] mathemancer commented on #169
They have a 'developers' site listing API endpoints, but none seem to work:

https://openclipart.org/developers

[2020-02-25 09:42] mathemancer commented on #169
@annatuma @kgodey Have we had any direct contact with them?  They have an email listed for contact regarding their API:

love@openclipart.org

[2020-02-25 09:59] mathemancer commented on #279
@gauravahlawat81 If you're feeling adventurous, feel free to help us flesh out the API technical info.  In particular, we would like to know
- [ ] rate limits
- [ ] overall volume of the collection
- [ ] verify the API is designed such that we can ingest the whole collection
- [ ] determine if it's possible to ingest the collection in a scheduled way (e.g., ingest only the info for images updated

[2020-02-25 10:05] #262 closed

[2020-02-25 10:11] mathemancer commented on #274
@Pac23 Go for it.  Feel free to ask questions in comments on this issue if you run into trouble.

[2020-02-25 10:18] mathemancer commented on #280
@akshgpt7 That's great, thank you!  Further info to gather would be:
- [ ] What is the overall volume of objects to be queried?
- [ ] Is it possible to catalog *all* CC-licensed items via API calls in some reasonable way?  (I.e., there must be some way to systematically loop through all objects, gathering their metadata)

[2020-02-25 10:31] mathemancer commented on #236
Marking this as 'blocked' until we figure out how to proceed regarding the fact that it doesn't seem possible to systematically pull their entire collection via some sequence of API calls.

[2020-02-25 13:56] mathemancer commented on #215
Marking this for CC staff, since it requires access to AWS to implement/test

[2020-02-25 13:57] mathemancer commented on #211
Blocking this till the rewrite for RawPixel is done.

[2020-02-25 16:06] Milind712000 commented on #283
I'd like to work on this

[2020-02-26 07:55] mathemancer commented on #254
The met has just updated their API.  The new response json is:
[code]

[2020-02-26 07:55] mathemancer commented on #254
I don't think this will affect anything about the script, but we should use this response json (or subobjects of it) in testing

[2020-02-26 08:00] mathemancer commented on #256
@ayushbansal07 Hey, are you planning to continue on this?  I'll give it till tomorrow, but if I hear no response from you, I'll open it back up for others to jump in on.

[2020-02-26 08:01] mathemancer commented on #275
@mrsaicharan1 Are you actually working on this?  If so, please let me know by the end of the week.  Otherwise, I'll open it up for someone else to jump in on.

[2020-02-26 08:03] mrsaicharan1 commented on #275
Hi. Yeah, I’m working on something else. It’s up for grabs !

On Wed, 26 Feb 2020 at 13:31, Brent Moran <notifications@github.com> wrote:

[2020-02-26 09:12] mathemancer commented on #283
@Milind712000 It's yours, go ahead.

[2020-02-26 13:45] annatuma opened #286 "[TEXT] Biodiversity Heritage Library"
The Biodiversity Heritage Library licenses all **metadata* as CC0, as stated in their developer documentation:
https://about.biodiversitylibrary.org/tools-and-services/developer-and-data-tools/

However, individual sources do not appear to have consistent rights statements, and are not using CC legal tools.

 E.g. unknown rights: https://www.biodiversitylibrary.org/item/237667#page/2/mode/1up

E.g

[2020-02-26 13:47] annatuma commented on #286
I question if we can ingest this collection as it stands, since only metadata is CC0 licensed, and not the actual objects. @sarahpearson assigning this to you, as next step is legal review.

[2020-02-26 16:38] qubit99 commented on #275
I changed the docstring.

[2020-02-26 16:55] anshuman16423 commented on #275
Hi, I would like to work on this issue.

[2020-02-26 20:38] annatuma commented on #184
The library confirms that the work to review and correct licensing information will not be done in the short term. We can keep this in Blocked and review at a later time.

[2020-02-26 22:15] akshgpt7 commented on #256
@mathemancer Since there's been no work done on this issue for more than a couple of weeks now, can I take it up, if @ayushbansal07 won't continue?

[2020-02-27 15:31] #283 closed

[2020-02-27 18:22] mathemancer commented on #256
@akshgpt7 I'll open it up tomorrow.  Remind me, what are you already working on at the moment?

[2020-02-27 19:43] akshgpt7 commented on #256
@mathemancer I finished writing the `phylopic` script, along with the tests. So, I'm not working on any issue currently.

[2020-02-27 20:29] akshgpt7 opened #291 "[API Integration] Museums Victoria"
## Provider API Endpoint / Documentation
https://collections.museumvictoria.com.au/developers

## Provider description
Collections of palaeontology, zoology, indigenous cultures etc.
**The current implementation of this provider can be found in the Common Crawl providers, however they have a functional API now.**

## Licenses Provided
https://creativecommons.org/licenses/by/4.0

## Provider API Te

[2020-02-27 21:51] akshgpt7 commented on #280
@mathemancer
- The current volume of objects with `CC` in the `copyright` field is a bit over 100k.
- To catalog the CC-licensed items, the following endpoint can be used `https://api.aucklandmuseum.com/search/collectionsonline/_search?q=copyright:CC&has_image=true`. For each object, there's a `primaryRepresentation` field that contains the image url. I believe it's very much possible to extract t

[2020-02-28 10:54] mathemancer opened #293 "[Quality] Add generic get_response_json method to DelayedRequester class"
## Current Situation

There is a fairly low-level method `DelayedRequester.get` that returns a `requests.Response` object.  However, nearly every Provider API Script that imports this class needs to extract a JSON from the response, check for status code, and retry the request if the JSON can't be extracted, or the response is non-200.  This duplication of knowledge/code throughout the codebase is

[2020-02-28 11:07] mathemancer opened #294 "[Infrastructure] Automate linting in GitHub"
## Current Situation

Currently, many PRs are submitted with basic problems that would be solved by enforcing linting in this repo (long lines, unused imports/constants/variables, non-PEP8 compliant variable names, etc.).  Notifying contributors of these errors, and requesting the fixes is a repetitive task.  Therefore, we should automate it.

## Suggested Improvement

Two options:
1. Automaticall

[2020-02-28 11:19] mathemancer opened #295 "[Infrastructure] Automate Testing in Github"
## Current Situation

Currently, we have no automated testing of new pushes or Pull Requests in this repo.  We therefore occasionally receive Pull Requests where the tests are failing.

## Suggested Improvement

We should somehow automate running tests in this repo whenever new code is pushed, and for Pull Requests.  The specifics are left to the implementer.

## Benefit

It should be obvious, but

[2020-02-28 11:29] mathemancer commented on #240
We ended up going with the latter option for the following reasons:
- It gives a nice 'dashboard' that lets you keep track of failures to load files (if we just handle the exception and continue as in the former option, this info would be difficult to notice)
- It gives better visibility to the current load of the loader (via the same 'dashboard'), i.e., what percentage of the maximum loading capa

[2020-02-28 12:34] mathemancer opened #296 "[Infrastructure] Automate deployment of new Apache Airflow container"
## Current Situation

The current deployment is completely manual.  The steps are:
1. ssh to the Amazon AWS EC2 instance running the old container.
1. build a new Docker image if necessary.
1. Turn off the old container, and then run a new container based on the image.
1. Manually install dependencies on the new container.
1. Set up Fernet keys in the new container.
1. Copy the airflow configurati

[2020-02-28 12:59] mathemancer opened #297 "[Infrastructure] Migrate to using the LocalExecutor in Apache Airflow"
## Current Situation

We're currently using the SequentialExecutor to schedule tasks in Apache Airflow DAGs (Directed Acyclic Graphs).  The Sequential Executor keeps running out of free threads to schedule jobs, and killing itself.  This creates instability in our Apache Airflow DAG runs.  Another downside is that it keeps its state database on the running container, so any state and history are l

[2020-02-28 13:28] mathemancer opened #298 "[Infrastructure] Implement Reingestion Strategy for Flickr"
## Current Situation

Currently, we generally only get information about a given image when it is first uploaded to one of our larger providers. For popularity data, this won't suffice; It's not very meaningful to know how many views an image has just after it was uploaded. Thus, we have come up with a strategy that will allow us to update info about images uploaded in the past regularly, with a p

[2020-02-28 13:29] mathemancer commented on #298
We're very open to comments / criticisms / suggestions on this Issue until we begin coding on it.

Note that this is a *much* longer issue description than would usually be appropriate.  This is because we copied a Wiki page here for visibility.

[2020-02-28 14:45] sarahpearson commented on #286
Thanks for flagging. It looks to me like at least some of the objects in the collection are CC-licensed, according to this: https://about.biodiversitylibrary.org/help/copyright-and-reuse/ (See the "In Copyright" section)

In order to include this repository in the catalog, we would have to be able to isolate and include only those CC-licensed objects. Given that the public domain material in the r

[2020-02-28 16:19] kgodey commented on #210
@mathemancer please take action on this.

[2020-02-28 19:59] kgodey commented on #188
@mathemancer is this something a community member can work on?

[2020-02-28 20:03] kgodey commented on #189
Their SSL certificate seems to be back up so I'm closing this issue.

[2020-02-28 20:03] #189 closed

[2020-02-28 20:03] annatuma opened #299 "[API Integration] EOL"
Note we previously integrated via CommonCrawl, and would like to integrate via API now.

## Provider API Endpoint / Documentation

https://eol.org/docs/what-is-eol/data-services

**SECTIONS BELOW THIS POINT NEED TO BE WORKED ON PRIOR TO INTEGRATION**

## Provider description

## Licenses Provided

## Provider API Technical info

## Checklist to complete before beginning development

No development

[2020-02-28 20:22] annatuma commented on #196
Noting that this doesn't _necessarily_ need to happen, but we do want @mathemancer to review and evaluate the suggestion. If we do move forward, ticket work is required to update our approach.

[2020-02-28 20:29] aldenstpage opened #301 "ETL data cleaning pipeline"
We want to replace the [cleanup step in cccatalog-api](https://github.com/creativecommons/cccatalog-api/blob/master/ingestion_server/ingestion_server/cleanup.py) with a more standard-practice ETL pipeline. These are some basic data quality filters that never really belonged in the API layer.

Updating every record in the ingestion step is very I/O intensive and slow. Instead of updating every sing

[2020-02-28 20:30] annatuma commented on #300
@mathemancer will need to audit providers and create individual tickets around updates to integrations to get this data where possible. May also/rather want to do this as part of scraping, FYI @aldenstpage. Either way, coming back to this in Q2.

[2020-02-28 20:39] annatuma opened #302 "[API Integration] ScienceMuseum"
Note that we are currently integrated via CommonCrawl, but would like to switch to an API integration. Also note that we previously had issues getting correct license information from the page, and as such had several ScienceMuseum records without license URLs, this has since been fixed on the page and is not expected to be an issue with the API.

Example URL:
https://collection.sciencemuseumgroup

[2020-02-28 20:39] annatuma commented on #244
Closing, we're going to switch to an API integration: https://github.com/creativecommons/cccatalog/issues/302

[2020-02-28 20:41] #244 closed

[2020-02-28 22:16] annatuma commented on #158
We're going to review our internal process for this.

[2020-02-28 22:16] #158 closed

[2020-02-28 22:17] annatuma commented on #180
Blocked by https://github.com/creativecommons/cccatalog/issues/163

[2020-03-02 16:36] hack3r-0m commented on #299
-EOL provides 1)Structured Data 2) Classic API (https://eol.org/docs/what-is-eol/data-services)
-EOL is under MIT-LICENSE (https://github.com/EOL/eol/blob/master/MIT-LICENSE.txt)
-they have stable API currently(in context of "classic API" however not sure about structured Data)
-they have stable landing page url
-example https://eol.org/api/search/1.0.json?q=Pinus%2Bcontorta&page=1&key=

However,

[2020-03-02 20:16] #275 closed

[2020-03-02 20:19] mathemancer commented on #280
This is great info @akshgpt7 , thank you!

[2020-03-02 20:21] mathemancer commented on #256
The following should also be addressed when implementing the solution to this issue:

[2020-03-02 20:22] mathemancer commented on #210
I've moved the info over to #256, where this work will be done

[2020-03-02 20:22] #210 closed

[2020-03-02 20:41] mathemancer commented on #188
@kgodey I think it might be possible.  I'll need to think of a 'right way' do some part of this, and write a limited-scope ticket (e.g., a script that repetitively trundles through the DB, dropping `http://` addresses if there's an `https://` equivalent in the DB).  It won't do to add the logic to, for instance, the loading DAG, since I assume the problems arise from different data on different ru

[2020-03-03 16:24] mathemancer commented on #293
I'd say this is *not* a good first issue, but it should be approachable for a community member, if they'd like to take a crack at it.

[2020-03-03 16:35] mathemancer commented on #167
This endpoint is to get my recently updated photos *as a user* (i.e., it can only retrieve the photos of the currently logged in user).

So, it's not useful for us.

[2020-03-03 16:35] #167 closed

[2020-03-03 23:37] kgodey opened #305 "[General] Create GitHub workflow for adding issues and PRs to appropriate project"
## Problem Description
Currently, we need to manually add new issues to the [CC Search backlog GitHub project](https://github.com/orgs/creativecommons/projects/10). We'd like to automate this.

## Solution Description
Set up a GitHub workflow (using GitHub Actions) to
- automatically add new issues created in this repository to the [CC Search backlog GitHub project](https://github.com/orgs/creativ

[2020-03-04 09:56] ChariniNana commented on #293
Can I take this issue?

[2020-03-04 10:34] mjprince commented on #305
@kgodey Can I take this on?

[2020-03-04 10:59] mathemancer commented on #293
Sure, but please finish the minor edit on your other PR first.  Be aware, this will be a bit more difficult, and should have quite a bit more testing than is required in the individual Provider API Scripts.

[2020-03-04 14:27] mathemancer opened #307 "[General] Apache Airflow DAG to run the new `phylopic.py` script."
## Problem Description

In order to get the new `phylopic.py` script (see #253) into production, we need to implement a new Apache Airflow DAG that will run the script.

## Solution Description

Implement such a DAG.  For examples, see `src/cc_catalog_airflow/dags/flickr_workflow.py` and `src/cc_catalog_airflow/dags/wikimedia_workflow.py`.  This DAG should be configured to run the main function fr

[2020-03-04 14:28] mathemancer commented on #307
This is blocked until #253 is merged into master.

[2020-03-04 15:47] kgodey commented on #305
Go ahead @mjprince

[2020-03-04 20:53] akshgpt7 commented on #307
@mathemancer Can I work on this, since my work on #253 via PR #276 is almost complete?
(Kindly review that PR.)

[2020-03-05 09:42] ChariniNana commented on #293
I see. I'll give it a try anyway. Can you please assign it to me once the previous PR is merged?

[2020-03-05 17:20] annatuma commented on #299
Flagging here that the first two items on the checklist are crucial to moving forward, and this provider cannot be ingested until those have been verified.

@mathemancer will take a look when time allows.

[2020-03-05 20:59] annatuma commented on #280
@akshgpt7 you are welcome to tackle this integration if you're interested in doing so. Let us know, for now this ticket is assigned to you to work on.

[2020-03-05 21:02] akshgpt7 commented on #280
Yes, I'm planning to make this integration as part of my SoC project.

[2020-03-05 21:43] akshgpt7 commented on #236
@mathemancer I think we can pull the required data using this way:

The `https://api.sketchfab.com/v3/search?type=models&license=cc0` endpoint returns the various models. For each model, on calling the endpoint in the `uri` field, we get the metadata for that particular model, which we can easily extract.
(In the initial endpoint, we can replcae `cc0` by `by`, `by-sa`, `by-nd`, `by-nc`, `by-nc-sa`

[2020-03-06 01:56] allen505 commented on #279
Hey @mathemancer, I've checked the Europeana link provided for info on the Europeana REST API,

- No rate limits currently, but has been limited to 10,000 per 24hrs previously

- Volume- 50 million cultural heritage items which includes images, text, image, video, sound,etc
 I am interested in working on this isssue. Can I work on it?

[2020-03-06 01:56] allen505 commented on #279
Hey @mathemancer, I've checked the Europeana link provided for info on the Europeana REST API,

- No rate limits currently, but has been limited to 10,000 per 24hrs previously

- Volume- 50 million cultural heritage items which includes images, text, image, video, sound,etc

 I am interested in working on this isssue. Can I work on it?

[2020-03-06 01:56] allen505 commented on #279
Hey @mathemancer, I've checked the Europeana link provided for info on the Europeana REST API,

- No rate limits currently, but has been limited to 10,000 per 24hrs previously

- Volume- 50 million cultural heritage items which includes images, text, image, video, sound,etc

 I am interested in working on this isssue. Can I work on it?

[2020-03-06 12:39] mathemancer commented on #279
@allen505 Have you determined how many works can be scraped per request?  At a rate of 10,000 per 24 hours, 50 million records would take 5000 days to retrieve (more than 13.5 years).  We'll therefore need to determine if it's possible to get, say, 100 records per request (reducing the time to 50 days, which is manageable).

[2020-03-06 12:41] mathemancer commented on #279
@allen505 Do you have an idea of whether it's possible to systematically retrieve their entire collection (i.e., separate by date uploaded)?

[2020-03-06 15:08] mathemancer commented on #307
@akshgpt7 I think that makes sense.  Please make sure to finish #253 first.

[2020-03-06 15:32] #222 closed

[2020-03-06 15:35] mathemancer commented on #293
@ChariniNana We're trying a new process where we assign ourselves to an issue that's being worked on.  It helps keep track of things from our end.

See the updated guidelines at:
https://opensource.creativecommons.org/contributing-code/

I've merged your other PR, please go ahead on this issue.

Thank you!

[2020-03-06 15:48] allen505 commented on #279
I have been researching with respect to the Europeana Search API
Following details with respect to timestamp are possible:
_timestamp_created_, _timestamp_update_ both formatted in ISO 8601 or UNIX epoch timestamp
Sort based on timestamp is possible in both _ascending_ and _descending_.

With respect to the number of results per request, Regular pagination restricts to 1,000 results. However there

[2020-03-06 16:27] aldenstpage opened #405 "Popularity data integration"
Related to https://github.com/creativecommons/cccatalog-api/issues/328.

We're starting to get some production-quality popularity data. Let's start integrating it into CC Search to improve the quality of our results. It remains to be seen what the best way to do this is; the below is just a proposal.

Right now, we have some very simplistic logic for ranking by popularity. From https://github.com/

[2020-03-06 16:33] #253 closed

[2020-03-06 18:25] mathemancer commented on #279
@allen505 Have you looked at the licenses offered, and how we can get that data?  Is it possible to filter for them?  @annatuma, @kgodey  Do I remember correctly that there was some problem there?

[2020-03-07 01:12] allen505 commented on #279
The APIs _reusability_ parameter can be set to

[Reference](https://pro.europeana.eu/resources/apis/search#reusability)

[2020-03-07 01:34] allen505 commented on #279
The Search APIs _reusability_ parameter can be set to

[Reference](https://pro.europeana.eu/resources/apis/search#reusability)

I should also mention that I am a gsoc 2020 aspirant.

[2020-03-09 00:55] ChariniNana commented on #293
Thanks @mathemancer! I will work on this.

[2020-03-09 12:12] mjprince commented on #305
Hello @kgodey
I have completed the first two actions.
However, for the second task in the bonus; I don't seem to find a link between the PR and Issues  from the github actions events. Do you have any clue about that?

[2020-03-09 19:07] mathemancer commented on #236
@akshgpt7 Some context:  There's a technical limitation in their API that means it's impossible to obtain more than 10,000 images per license that way.  (That's actually the approach we tried initially).  To see the script, check out the `sketchfab_integration` branch in this repo.

[2020-03-09 20:13] mathemancer commented on #279
This is great info!  I think that's everything needed to get started on it, go for it!  Thanks for gathering the necessary pieces.

If you have any questions, just @ me on this issue.  In particular, let me know if something about the general instructions doesn't seem applicable.  Thanks!

[2020-03-09 20:14] mathemancer commented on #279
Removing `ticket work required` since all necessary has been gathered.

[2020-03-10 13:53] kss682 commented on #302
@annatuma Is this issue ready for work ? I would like to work on it.

[2020-03-10 17:28] allen505 commented on #279
Thank you @mathemancer . Just to clarify, is this issue assigned to me now?

[2020-03-11 00:16] akshgpt7 commented on #135
@mathemancer @annatuma
The following endpoint: `https://cdmserver.com/dmwebservices/index.php?q=dmGetCollectionList/json` of the ContentDM API doesn't seem to work?
Can someone help me out in figuring out the flow of this integration?

This is where I took reference from: https://www.oclc.org/support/services/contentdm/help/customizing-website-help/other-customizations/contentdm-api-reference.en.h

[2020-03-11 09:04] mathemancer opened #312 "[Bug] phylopic.py and PhyloPic.py are the same on Mac OS filesystems"
## Bug Description

Mac OS filesystems are case-insensitive.  We need to rename `phylopic.py` to `phylo_pic.py` to avoid conflict on those systems until the new Apache Airflow DAG from #307 is implemented and merged (so we can remove the deprecated `PhyloPic.py`).

[2020-03-11 09:13] mathemancer commented on #307
@akshgpt7 Have you been working on this?

If so, please note the change I made in PR #313 (necessary for compatibility with case-insensitive file systems).

[2020-03-11 14:04] #312 closed

[2020-03-11 14:24] annatuma commented on #291
Looks good to me @akshgpt7 feel free to proceed on this integration script.

cc @mathemancer

[2020-03-11 14:36] annatuma opened #315 "[API Integration - AUDIO] Free Music Archive / Tribe Of Noise"
The sites are:
https://freemusicarchive.org/static
https://www.tribeofnoise.com/

FMA is owned by Tribe of Noise.

**We've reached out to inquire about whether or not there's an API we can use. If there isn't, integration may not be possible.**

## Provider API Endpoint / Documentation

## Provider description

## Licenses Provided

## Provider API Technical info

## Checklist to complete before b

[2020-03-11 14:38] mathemancer commented on #281
It's not immediately apparent that SoundCloud offers a direct link to the audio file.

They *do* offer a `stream_url` and a `download_url`, but those seem to require using some of their front end components.

[2020-03-11 14:42] annatuma opened #316 "[API Integration - AUDIO] Wikimedia Commons"
Note: we already have an API integration with Wikimedia Commons for images. They also have CC licensed sounds.

Overview page in UI:
https://commons.wikimedia.org/wiki/Category:Sound

Example file: https://commons.wikimedia.org/wiki/File:Christoph_Nolte_-_The_Rocky_Road_-_The_Rocky_Road_To_Dublin.ogg

**Details below this point needed**

## Provider API Endpoint / Documentation

## Provider descri

[2020-03-11 14:58] annatuma opened #317 "[API Integration - AUDIO] ccmixter"
## Provider API Endpoint / Documentation

http://ccmixter.org/query-api

## Provider description

http://dig.ccmixter.org/free

## Licenses Provided

They have over 29,000 objects, but it is unclear from the UI how many are CC licensed. They appear to also have their own license on some objects. We'd need to restrict to CC BY and CC BY-NC, which are the two licenses they appear to support for obje

[2020-03-11 15:04] annatuma opened #318 "[API Integration] Smithsonian Institution"
## Provider API Endpoint / Documentation

https://edan.si.edu/openaccess/apidocs/

## Provider description

The Smithsonian Institution released 2.8M CC0 objects at the end of February. We'd like to include these in CC Search.

## Licenses Provided

CC0

## Provider API Technical info
**Further details needed below this point. @mathemancer is investigating the best path forward for integration**

[2020-03-11 15:15] annatuma opened #319 "[API Integration - AUDIO] Internet Archive Audio"
At https://archive.org/details/audio users can set CC licenses when uploading their work. I've found examples of CC0 and PDM while browsing the collection at random. Unclear how many objects are here, and whether there's an API with the necessary data.

** More ticket work is required to see if there's a path forward here **

## Provider API Endpoint / Documentation

## Provider description

https

[2020-03-11 15:57] mathemancer commented on #302
@kss682 Please check the boxes above, and comment here with the relevant info as much as possible before beginning development.

[2020-03-11 16:01] mathemancer commented on #279
@allen505 We're not always assigning issue that are in progress, in the hopes that people will work together on them when possible :)

[2020-03-11 16:23] kss682 commented on #302
@mathemancer ok , any queries related to it , should be posted here or in slack.

[2020-03-11 17:33] sp35 commented on #256
Hi @mathemancer, my pr is still under review, can I work on this?

[2020-03-11 19:37] mathemancer commented on #135
@akshgpt7 `https://cdmserver.com` looks like a placeholder to me.

@annatuma Do we have a way to figure out the proper host to hit?  I tried

`https://cdm16014.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCollectionList/json`,

but that doesn't work.  Do we have a contact we can ask about that?

[2020-03-11 19:39] mathemancer commented on #291
@akshgpt7 In the future, please keep the 'boilerplate' that comes with the Issue template; it'll help others trying to understand what needs to be done for the issue.

[2020-03-11 19:46] mathemancer commented on #256
@sp35 Which PR is that?

[2020-03-11 19:54] sp35 commented on #256
https://github.com/creativecommons/ccos-scripts/pull/16

[2020-03-11 20:39] akshgpt7 commented on #307
Yes, I'm working on this.
Thanks for pointing out the changes!

[2020-03-12 11:57] kss682 commented on #302
@mathemancer @annatuma The api endpoint should give info about indiviual images , right ?

[2020-03-12 13:06] kss682 commented on #302
@mathemancer @annatuma So I looked at the api and these are from initial observations .

 - [x]  Verify there is a way to retrieve the entire relevant portion of the provider's collection in a systematic way via their API.
There is multimedia key in the api response which can be used to get the required details.

- [x] Verify the API provides license info (license type and version; license URL pro

[2020-03-12 13:27] akshgpt7 commented on #318
@mathemancer It's possible to parse all the CC0 licensed images through the API's search function. But the problem is that in the result, there is no metadata available for each individual image. The metadata is only available for the broader collection that the images are part of.

Endpoint I used: https://api.si.edu/openaccess/api/v1.0/search?api_key=****&q=cc0&rows=100

[2020-03-13 05:58] kss682 commented on #255
@mathemancer I think the test suite is left for this if so can I work on it.

[2020-03-13 06:25] mariuszskon opened #322 "AudioStore development"
As per #311, integrating audio into CC Catalog will require a few different things. This issue hopes to keep track of everything relevant to the development of AudioStore.

**(NEW)** means a field that was not in ImageStore that was added to AudioStore
Current schema (in `audio.py`):

- Foreign ID
- Landing URL
- Audio URL
- File format **(NEW)**
- Thumbnail URL
- Filesize
- Duration **(NEW)**
- S

[2020-03-13 07:05] kss682 opened #323 "[API Integration] Deviantart"
Currently Deviantart is crawled using the provider scripts . It seems that deviantart is providing api for it.
## Provider API Endpoint / Documentation

https://www.deviantart.com/developers/
We can use this format of their api  - - https://www.deviantart.com/developers/oembed

## Provider description

Provides various artworks and its description
## Licenses Provided

CC license has been used in

[2020-03-13 07:35] mariuszskon commented on #322
I am uncertain about the "type" field (as in music, podcast, lecture) and if it could be combined with genre in some way, or if we should keep it separate. What do you think @mathemancer ?

[2020-03-13 07:40] mariuszskon opened #324 "[Feature] Date column"
## Problem Description
Media collected by CC Catalog is often published on a certain date. In #311 it was deemed to be a worthwhile piece of data to collect about audio. However, storing dates using existing columns, like `StringColumn`, might not be the best idea.

## Solution Description
A `Column` subclass (in `cc_catalog_airflow/dags/provider_api_scripts/common/storage/columns.py`) `DateColumn

[2020-03-13 07:41] mariuszskon commented on #322
Date field blocked by #324

[2020-03-13 11:41] ChariniNana commented on #184
Would it be possible to work on this for GSoC?

[2020-03-13 12:39] ChariniNana opened #325 "[API Integration] Unsplash"
## Provider API Endpoint / Documentation
API endpoint: https://api.unsplash.com/
Documentation: https://unsplash.com/documentation

## Provider description
Unsplash is a platform that provides over 1 million free high-resolution images of different domains.

## Licenses Provided
https://unsplash.com/license

## Provider API Technical info
For applications in demo mode, the Unsplash API currently p

[2020-03-13 13:04] ChariniNana commented on #325
@mathemancer I would like to work on this as part of the GSoC project. Will accumulate more information over the coming days. However this provide uses OAuth  for authentication. I suppose that's not a hindrance to providing support for it via creative commons.

[2020-03-13 13:46] mathemancer opened #326 "[Bug] Flickr Provider API Script doesn't retrieve all unique items for a given day"
## Bug Description

When the Flickr Provider API Script is run for a given day, the output is a copy of the rows for the same ~4,500 items over and over.  Instead, it should collect around 80,000-90,000 unique items per day.

## To Reproduce

Run `python flickr.py --date 2018-08-20`, notice that the output is 90,000 lines long, but there are only 4,376 unique photos (repeated over and over).

## E

[2020-03-13 13:50] mathemancer commented on #326
We need to understand why this is happening in the first place before actual development is appropriate, but I'd welcome ideas from the community, or more experimental results.

[2020-03-13 14:09] mathemancer commented on #302
@kss682  This is great info, thanks!

Regarding the first checkbox, is there a way to page through all items?  I.e., is there a request equivalent to `SELECT * FROM images;`, or `SELECT * FROM images WHERE date='2018-08-20'`?

Regarding the fourth checkbox, we should be able to use the `medium.location` value for that.

[2020-03-13 14:13] mathemancer commented on #318
@akshgpt7 Great idea with the query being cc0.  This one will be a bit difficult.  Give me a couple of days to put some thoughts down about how to tackle this.  Basically, we want to make sure that whatever query we fill gives *all* cc0, and none that aren't (For instance, what if an item has some ID containing the string `cc0`?)  For the meta-data, we'll need to be smart about it, i.e., take the

[2020-03-13 14:15] mathemancer commented on #326
Further info:  If you re-run the job with one of the splits above, you get the *exact same* result, so at least it's deterministic, if not that easy to figure out.

[2020-03-13 14:24] kss682 commented on #302
@mathemancer I will look into that and update it. Also I have created a new issue regarding API integration for Deviantart can you look into it.

[2020-03-13 14:31] kss682 commented on #326
@mathemancer Can I look into it.

[2020-03-13 14:42] akshgpt7 commented on #318
@mathemancer To prevent the IDs containing `cc0`, we'll check the `usage` field for each media item, to ensure there is a CC0 license. And I think I'm confident that *all* cc0 images can be fetched through this query. My main concern is regarding the meta-data for each *individual* image.

[2020-03-13 14:48] akshgpt7 commented on #325
@ChariniNana I came across Unsplash and noticed that the license that they provide for their images is one of their own, and not a CC license. I might be wrong, and you might need to look at this.

[2020-03-13 16:22] mathemancer commented on #255
@kss682 Go for it!  Let me know how it goes.

[2020-03-13 16:22] mathemancer commented on #255
I'll assign myself to keep this on my radar.

[2020-03-13 18:32] kss682 commented on #255
@mathemancer Is the provider script for this done , I saw the old script ClevelandMuseum.py and it is still using the etl methods. So if its not done I would work on that and then write the test.

[2020-03-13 19:10] kss682 commented on #255
@mathemancer Is the new cleveland script already ready or should I work on it.
I saw a PR above , just need to confirm that.

[2020-03-13 19:22] kss682 commented on #255
@mathemancer Also how do generate the resource for the test suite.

[2020-03-14 04:07] akshgpt7 commented on #163
@mathemancer Behance has stopped accepting new clients for their API and are not giving new API keys anymore. Is this integration still possible under the SoC project, maybe using the org's key later during the project?
[Here's the source](https://www.google.com/url?sa=t&source=web&rct=j&url=https://wordpress.org/support/topic/behance-gets-rid-of-public-api-keys/&ved=2ahUKEwjFjtKUiZnoAhXyjeYKHTUOA

[2020-03-14 08:12] ChariniNana commented on #325
Thanks a lot @akshgpt7 for the information! As per the information provided here https://unsplash.com/license, all photos published on Unsplash can be used for free for commercial and noncommercial purposes. Is it mandatory that any provider we support use CC license? Is it not adequate for it to be openly licensed material as stated here https://creativecommons.org/about/?

[2020-03-14 08:24] kss682 commented on #302
@mathemancer They do have a date based filter but it filters content based on the date in the description not uploaded date , so new content cannot be taken with that filter .

I have created an issue in https://github.com/TheScienceMuseum/collectionsonline if it is possible add date based filter .

Regarding the fourth checkbox, it asks for landing page url right ?
but ```medium.location``` gives

[2020-03-14 15:43] akshgpt7 commented on #325
@ChariniNana If you go through [this page](https://ccsearch.creativecommons.org/about), it says "the ultimate goal of providing access to all 1.4 billion CC licensed and public domain works on the web". So, the catalog is an aggregation of CC-licensed works, available at one place. I'm not quite sure if it just being openly licensed is adequate.

[2020-03-14 18:49] akshgpt7 commented on #274
@mathemancer On the registration page to get an API key, after entering the details and requesting registration, the site is giving an internal server error, hence the account is not getting created, and the key is not obtained. What should I do?
The page: https://api.thewalters.org/SGAccount/Register

[2020-03-15 07:54] ChariniNana commented on #325
Hi @akshgpt7. Ok, in that case I'll have to find another provider to support via CC search. I'll check. Thanks for the information!

[2020-03-15 17:57] kss682 commented on #302
@mathemancer @annatuma All cc license images can be filter using
https://collection.sciencemuseumgroup.org.uk/search/objects/?image_license=CC
which gives around 85,000 objects and documents.

[2020-03-16 13:08] mathemancer commented on #252
Moving to 'blocked' for the following reason:

It appears that new things from Thingiverse don't include default images, which we depend on as the main content we ingest into CC Catalog.  We need to determine what's going on there before development continues.

@annatuma @kgodey Do we have a contact at Thingiverse we can ask questions about this?

[2020-03-16 13:09] mathemancer commented on #252
See the draft PR #284 for relevant conversation.

[2020-03-16 13:13] mathemancer commented on #323
@kss682 A quick glance at their docs indicates that this endpoint requires us to have prior knowledge of the URL of the deviantart page for which we want to gather info.  Does this match your understanding?

[2020-03-16 13:18] mathemancer commented on #322
@mariuszskon I think Genre and Type are different.  We could probably come up with a list of 'allowed' types, e.g., music, podcast, lecture.  Then, within music, we'd have the genres:  rock, pop, classical, jazz, etc.  On the other hand, in the 'podcast' type, for genre, we'd have: 'science', 'comedy', 'news', etc.

[2020-03-16 13:19] mathemancer commented on #322
@brenoferreira Do you have any guidance or ideas based on what you'd like to have available to the front end here?

[2020-03-16 13:27] krysal opened #329 "Add "awaiting triage" label"
## Problem Description
Problem described in creativecommons/ccos-scripts#17.

## Solution
Add the `awaiting triage` label to issue template.

[2020-03-16 13:28] kss682 commented on #323
@mathemancer Yes I had seen that , they use the specific url to get the data , I thought there might be  other formats of using there api , which could be looked at.
Unforunately I couldn't get time to look into after that.

[2020-03-16 13:36] mathemancer commented on #324
So far, we've been storing foreign-generated date info (e.g., date of upload, date work was originally created) in the `meta_data` column for images.  As I'm thinking about the `Date` column in the list of desired meta data for audio, it's not clear to me which date this should be.  @annatuma @brenoferreira Do y'all have any preferences here?  I guess one option would be to have multiple optional

[2020-03-16 13:37] mathemancer commented on #324
The reason I bring this up is to decide whether we actually need a `DateColumn` type, or whether it's better to leave the date info in the `meta_data` json.

[2020-03-16 13:44] brenoferreira commented on #322
Based on some of the designs [here](https://www.figma.com/file/cVGF59xfXBaQsaYhs6B03b/CC-audio_final?node-id=0%3A1), it seems very comprehensive to me.
The frontend probably won't look exactly like this, but it'll probably be inspired by it. The only thing missing from the metadata list here are things like music instruments and mood. But I think that's ok

[2020-03-16 14:02] mathemancer commented on #184
@ChariniNana See the comments from @annatuma .  It's not likely to be ready for development any time soon.

[2020-03-16 14:17] mathemancer commented on #255
@kss682 The current state is that the script is working, and still needs a test suite.

[2020-03-16 14:17] mathemancer commented on #255
But, the previous PR hasn't been merged, since it had no test suite yet.

[2020-03-16 14:23] kss682 commented on #255
@mathemancer So I wrote the cleveland script again and I will add test suite soon .
I am not sure how to generate the resources for the test suite . Could you guide me ?

[2020-03-16 16:41] mathemancer commented on #163
@akshgpt7 Oh no!  I see that we actually have a Behance API key stored, but we can't give it out to the community for development.  Perhaps we'll have to implement this one internally.  I'll mark the issue as such for the moment, and update once we have an idea of how others can get keys.

[2020-03-16 16:53] mathemancer commented on #274
@akshgpt7 I can confirm this behavior, at least at the moment.  I'll mark it as 'CC Staff Only' for the moment, we should check back in on this in a couple of weeks and see if they have it resolved.

[2020-03-16 17:12] mathemancer commented on #325
@akshgpt7 Thanks for helping out over the weekend on this one.  @ChariniNana It's correct that at the moment, we're only trying to get CC-licensed content.

[2020-03-16 17:15] mathemancer commented on #302
You're totally right.  I meant the third checkbox, i.e., the one for a stable direct link.

[2020-03-16 17:18] mathemancer commented on #302
At the rate limit mentioned above, we could pull the whole collection in less than two weeks, which is plenty fast for our purposes.  So, I think we can skip the date filtering for the moment.

[2020-03-16 17:19] mathemancer commented on #302
Is there a way to get a list of all strings they're using for licenses?  I can't think of anything except that to block beginning development on this one.

[2020-03-17 02:29] mariuszskon commented on #324
Thanks for bringing by attention to the `meta_data` json, it seems that is a suitable alternative.

[2020-03-17 02:31] mariuszskon commented on #322
@mathemancer Indeed I see the distinction much more clearly, and it is certainly worth having them separate.

[2020-03-17 02:32] mariuszskon commented on #322
@brenoferreira instruments and mood can be added no problem, but I am concerned that audio sources might not have this information available for ingestion.

[2020-03-17 07:07] subhamX commented on #326
Can I work on this issue?

[2020-03-17 09:41] ChariniNana commented on #325
@mathemancer Thanks for confirming! I was looking for other providers to support since the ones listed in https://github.com/orgs/creativecommons/projects/12 seem to be taken. Will keep looking

[2020-03-17 11:03] ChariniNana commented on #243
@mathemancer Can I work on this as part of my GSoC project?

[2020-03-17 14:29] brenoferreira commented on #322
yes. that's what I meant. If the source has the info, great. But if not, it
should be fine for now

On Mon, Mar 16, 2020 at 11:33 PM Mariusz Skoneczko <notifications@github.com>
wrote:

--
Thank you

Breno Ferreira
Front-end Engineer
Creative Commons

[2020-03-17 19:14] kss682 commented on #302
@mathemancer Do you mean other cc license type like ```  "CC-BY-NC-SA 4.0" ``` ,

[2020-03-18 17:47] mathemancer commented on #318
I've noticed that we can use their 'terms' both to restrict our searching and partition the results (though not very evenly).  For example,
`https://api.si.edu/openaccess/api/v1.0/search?q=online_media_type:Images&api_key=REDACTED`
gives all objects with their online media type as 'Images'.  The possible online media types are:
- 3D Images
- Catalog cards
- Electronic resource
- Finding aids
- Ful

[2020-03-18 18:48] #329 closed

[2020-03-18 18:53] akshgpt7 commented on #255
@kss682 Regarding tests, make sure you first set up the Development setup, using the instructions in the `readme` file of this repo. (That is a must)
Once you are able to run all the tests successfully locally, start writing tests for the script you're working on. For that, create a new `test_<provider-name>.py` file and any function with the prefix `test_` in its name will automatically run on ru

[2020-03-18 19:25] kss682 commented on #255
@akshgpt7  My doubt was how to create the resources for test suite.
Thanks :blush:

[2020-03-19 10:18] mathemancer commented on #326
@subhamX You can start looking more closely into the effects of different requests breakdowns on what comes back from the endpoint.  It will require some data analysis.  This ticket is nowhere close to ready for coding yet, though.

[2020-03-19 10:57] #293 closed

[2020-03-19 11:02] mathemancer commented on #243
@ChariniNana Yes, but before beginning development, it's important to answer the following:
- [ ] What licenses do they use, and how can we find that info?
- [ ] What metadata do they provide, and how well does it match up with the interface of the `ImageStore` class?
- [ ] @annatuma mentioned that it's not clear how to pull just the info updated on a given day from their API.  Can you confirm thi

[2020-03-19 11:03] mathemancer commented on #302
@kss682 yes, If they're using ad-hoc strings (or ad-hoc-ish), we need some sort of enumeration of them so that we can use them as mapping keys.

[2020-03-19 11:12] amartya-dev commented on #319
## Information gathered about the API

The following is the information about the API:

- [x] Verify there is a way to retrieve the entire relevant portion of the provider's collection in a systematic way via their API.
Yes the files can be fetched systematically after deciding the number of entries that should be included in a page. The API also provides a way for pagination as we can provide the

[2020-03-19 11:55] kss682 commented on #302
@mathemancer I looked into flicker where mapping has been used for license as the image data returns an license id, but here we can directly get the license and license version from each object by using ```"usage_terms": ```.
Sorry , I did not get why the mapping is needed.

[2020-03-19 12:06] kss682 commented on #302
Also with page[size] filter can be used to limit our contents , from the json of that we can get the links to subsequent pages using ```data["links"]["next"]```
[code]

[2020-03-19 12:08] mathemancer commented on #255
@kss682 In general, the resources should be generated by calling relevant endpoints with curl (or importing the delayed requester and using the responses).

[2020-03-19 12:37] kss682 commented on #255
@mathemancer I have added the test cases , could you look into it.

[2020-03-19 14:27] mathemancer opened #333 "[Infrastructure] the DB Loader DAG should write to S3 as well as PostgreSQL"
## Current Situation

We're using an AWS EC2 instance that runs the Apache Airflow webserver as a data staging area.  This is dangerous, because if ingestion to the database breaks down, the disk of this server gets full, and breaks all Apache Airflow operations.  The current solution is to delete data from the disk after it is successfully loaded, or when the disk is too full.

## Suggested Impro

[2020-03-19 15:12] mathemancer opened #334 "[Infrastructure] DB Loader should take data from S3, rather than EC2 to load into PostgreSQL"
## Current Situation

When this ticket is to be developed upon, we should be in the state where the DB Loader Apache Airflow DAG saves Provider API Script output to S3 before attempting to load it from the local disk into PostgreSQL.

## Suggested Improvement

We should instead load data from S3 rather than the local disk, and not delete it afterwards (though we'll still need to delete the local c

[2020-03-19 15:13] mathemancer commented on #333
Since we'll need access to CC AWS for this, I'll mark it as 'CC staff only'

[2020-03-19 15:17] mathemancer opened #335 "[Infrastructure] Provider API Scripts should not write TSV files to local disk except for testing"
## Current Situation

At the point this ticket is worked on, we should be in a state where Provider API Scripts write their output both to S3, and local disk.  Then, the DB Loader should take the copy from S3 and load it into PostgreSQL for further use.  The local disk copy should be deleted by the Loader at that point.

## Suggested Improvement

We should avoid writing to the local disk in the fi

[2020-03-19 17:26] #305 closed

[2020-03-19 21:47] kgodey commented on #164
@mathemancer has a plan for this, starting with https://github.com/creativecommons/cccatalog/issues/298

[2020-03-20 08:37] mathemancer opened #336 "[Quality] Move query method to Default Query String Parameters in flickr.py"
## Current Situation

In the `flickr.py` Provider API Script, all query string parameters except one are given in the dictionary `query_param_dict`.  The parameter `method=flickr.photos.search` is hard-coded into the string constant `ENDPOINT`.

## Suggested Improvement

We should add `'method': 'flickr.photos.search' to the `DEFAULT_QUERY_PARAMS` dictionary constant.

## Benefit

This will make t

[2020-03-20 08:55] mathemancer commented on #241
@diru1100 Are you still working on this?

[2020-03-20 09:40] lakshaybits commented on #336
I am working on this issue :)

[2020-03-20 11:54] diru1100 commented on #241
@mathemancer nope, kindly go ahead

[2020-03-20 18:20] 9916103020 opened #337 "Could not build wheels for ujson which use PEP 517 and cannot be installed directly"
## Not able to install "ujson" python library.
While installing requirements using "pip install -r requirements.txt" it stops on "ujson" package shows error:

'''  Building wheel for ujson (PEP 517) ... error
ERROR: Failed building wheel for ujson
Failed to build ujson
ERROR: Could not build wheels for ujson which use PEP 517 and cannot be installed direct
ly
'''

[2020-03-20 18:36] kss682 commented on #337
@9916103020 you need to upgrade to visual c++ 14.0
[code]

[2020-03-20 18:37] 9916103020 opened #338 "Change in README.md (Add about external installation of ujson library)"
Created virtual environment and try to install requirements.txt
using the command '''pip install -r requirements.txt" but one library "ujson" shows an error i.e.
'''ERROR: Could not build wheels for "ujson" which use PEP 517 and cannot be installed directly'''

After some search on this PEP 517, I found that I have to install this library externally or update of Microsoft Build Tools.

I would sug

[2020-03-20 18:44] kss682 commented on #338
@9916103020 I don't think this needs to be added to readme, as I mention in issue #337 , this is might be due to an older version of visual c++ running.

[2020-03-20 18:49] 9916103020 commented on #338
@kss682 I am on it installing C++ build tools.

[2020-03-20 19:38] 9916103020 commented on #337
@kss682 Yes updation of "Build Tools for Visual Studio" resolves :).

[2020-03-20 19:38] #337 closed

[2020-03-20 19:41] 9916103020 commented on #338
@kss682 but still the use of the latest C++ Build Tools should be mentioned in README.MD I believe.

[2020-03-21 09:53] kss682 commented on #338
@9916103020 I personally feel that it is not needed now but if more people are able to reproduce this issue we can add.
Also that is why the docker setup is the most preferred , you dont have to worry about indiviual libraries and its configuration.

[2020-03-21 12:08] 9916103020 commented on #338
@kss682 I haven't used docker in Pycharm. But now you told me I am working on it:).

[2020-03-23 06:36] amartya-dev commented on #295
@mathemancer We can use Travis CI for the same https://travis-ci.org/

[2020-03-23 15:27] #240 closed

[2020-03-23 15:27] #297 closed

[2020-03-23 17:33] kgodey commented on #298
We're only doing Flickr for now. @mathemancer will update the ticket accordingly.

[2020-03-23 17:38] kgodey commented on #300
@aldenstpage please update this ticket and move it back to the backlog.

[2020-03-23 19:11] kss682 opened #340 "[Bug] PR from community is moved to In Progess instead of In Progress Communtiy"
## Bug Description

 PR from community is moved to In progress which creates a bad credentials error .

## To Reproduce

1.) Create a Pull request from a non cc staff .

## Expected behavior

PR should be moved directly to In progress Community
## Screenshots

![Screenshot from 2020-03-24 00-32-41](https://user-images.githubusercontent.com/30746998/77353626-51397300-6d67-11ea-9d93-303c032d902e.png

[2020-03-23 19:46] kgodey commented on #340
This is a known issue that will be fixed by https://github.com/creativecommons/ccos-scripts/issues/23

[2020-03-23 19:49] kgodey commented on #340
However, this should not block PRs. To fix this, we need to add the `continue-on-error` configuration to the PR moving workflow, similar to line 21 on https://github.com/creativecommons/cccatalog-frontend/blob/develop/.github/workflows/project-automation.yml. If someone wants to fix that, that would be great.

[2020-03-23 21:33] kunaljubce commented on #301
Hi, is this ready to be taken up? I am interested to discuss more on this and take up this enhancement if possible.

[2020-03-24 09:02] SaurabhAgarwala commented on #340
I will work on it

[2020-03-24 11:45] ChariniNana commented on #243
They seem to provide images of different license where the details of it is provided in the json response as follows (please try the GET request https://api.wellcomecollection.org/catalogue/v2/works/mtkdctvn)

"license": {
      "id": "cc-by",
      "label": "Attribution 4.0 International (CC BY 4.0)",
      "type": "License",
      "url": "http://creativecommons.org/licenses/by/4.0/"
    }

Apart

[2020-03-24 13:46] #340 closed

[2020-03-24 15:34] csayaan commented on #336
I want to do it .

[2020-03-24 18:34] akmadian commented on #338
I think if there's a specific version of visual c++ needed, that should be documented in the README. I'm gonna approve this, although Brent gets final say so if he decides to veto this, that goes :)

[2020-03-24 20:09] mathemancer commented on #319
Thanks for putting this here.

[2020-03-25 08:05] mathemancer commented on #295
@amartya-dev I'd be fine with that.  @kgodey What do you think?  Long term, it might be useful for getting a build image onto the running VM as well.

[2020-03-25 08:07] mathemancer commented on #295
N.B. The testing method and environment have changed.  Now, we use docker-compose, and all tests should run in the appropriate docker container.

[2020-03-25 09:41] mathemancer commented on #298
Note for actual implementation:  '30 days' is a perfectly acceptable substitute for 'month' in the description above.  It's better, because you don't have to decide what day was a month before, e.g., March 31st.

[2020-03-25 09:48] mathemancer commented on #301
@kunaljubce We're still fleshing out the plan on this one.  What would your proposed solution be?

[2020-03-25 09:52] mathemancer commented on #243
@ChariniNana It's okay if that's the case, as long as the overall volume isn't to large, and the speed is fast enough.  The main thing is to have some strategy to get all the data over time.

[2020-03-25 09:54] mathemancer commented on #243
@annatuma I'm a bit concerned about this line in their developer docs:

(emphasis mine)

Have we been in touch with them regarding that?

[2020-03-25 09:58] mathemancer commented on #338
@9916103020 The non-docker development setup is no longer supported (as of a couple days ago).  Please open a new issue if you're not able to get things working with the new docker-only development setup.  I'd love to have feedback on making that work with PyCharm or other IDEs.  Thanks!

CC: @akmadian

[2020-03-25 09:58] #338 closed

[2020-03-25 12:29] #336 closed

[2020-03-25 14:31] kss682 commented on #326
@mathemancer I was able to reproduce the error by running ``` python flickr.py --date 2018-08-20 ``` and the output was

[code]
and then I ran the script with a delay of 15 min once , output.
[code]
Is this what you meant by spliting , I am a bit confused

[2020-03-25 15:17] kgodey commented on #295
I think it's better to use GitHub Actions so that we standardize on the same tool across all our repos, unless there's some technical reason not to.

If there's a technical reason not to use GitHub Actions, let's use Circle CI since that's the other tool that we're using in multiple places.

[2020-03-25 16:05] amartya-dev commented on #295
Ok I will try the same with Github Actions

[2020-03-26 12:27] kss682 commented on #255
@mathemancer I have made the changes ,could you look into it.

[2020-03-26 15:36] kss682 commented on #241
@mathemancer Can I start working on the monthly workflow if the cleveland pr is ready to be merged.

[2020-03-26 16:27] kss682 commented on #241
@kgodey @mathemancer Since none of the monthly workflow scripts cleveland , rawpixel , have not yet been rewritten using ImageStore . Should I wait for it's merging ?

[2020-03-26 16:54] #324 closed

[2020-03-26 19:30] ChariniNana commented on #221
Shall I take this?

[2020-03-26 19:34] kgodey commented on #221
Go ahead, you don't need prior approval since this is marked "help wanted"

[2020-03-26 21:59] ChariniNana commented on #221
Thanks! Will work on it

[2020-03-27 05:20] amartya-dev opened #345 "[API Integration - AUDIO] Jamendo"
## Provider API Endpoint / Documentation

Documentation: https://developer.jamendo.com/v3.0/docs
The generic GET url form is the following: http[s]://api.jamendo.com/version/entity/subentity/?api_parameter=value

## Provider description

On Jamendo Music, you can enjoy a wide catalog of more than 500,000 tracks shared by 40,000 artists from over 150 countries all over the world. You can stream all

[2020-03-30 01:31] allen505 commented on #243
In [this section](https://developers.wellcomecollection.org/catalogue#what-can-i-do-with-it), it says that Europeana has used their APIs to include the images into Europeana. If this is the case, when Europeana is integrated into cc-search there could be data duplication.

[2020-03-30 05:45] allen505 commented on #279
I was testing out the Europeana API, and I found out that not all resources have a direct link to the image. The following stats are for the date 2018-03-23 (a random date).
The total number of records with a direct link to the resource (images in our case) is 20,526,325 and the difference between how many have direct link vs those which don't is 9,817,237. That means about 32% of resources don't

[2020-03-30 22:57] ChariniNana commented on #221
Hi @mathemancer . Just to be sure that I'm following the correct steps for reproducing this error...
I corrupted the 'none_missing.tsv' file and tried to run the test_import_data_loads_good_tsv function in test_sql.py. The error I got is as follows.

[code]

[2020-03-31 09:12] #255 closed

[2020-03-31 10:10] mathemancer commented on #326
@kss682 What do you mean by 'delay of 15 min'?  You modified it to run for one 15 minute interval?

The point of the chart above is that you can split a day into 15 minute intervals, then concatenate all the results together.  So, the 15 minute split above would be the results from splitting the day into 96 15 minute intervals, getting the data for each interval in turn, and concatenating the resu

[2020-03-31 10:12] mathemancer commented on #326
Here's an updated / expanded chart of results with the old script:

[code]

`dc'ed` is a boolean giving whether I re-ran the script with the given setup.  If so, I put the results of the second run in the following columns.

[2020-03-31 11:35] janhavi-sathe commented on #318
Instead of giving `q=cc0`, I gave q as `access="CC0"`, which gives a hefty response. Toggling with the `start` and `rows` parameters, I was able to navigate through the responses, 1000 at a time (since that's the upper limit). This would take some 200+ requests to be sent.
e.g. https://api.si.edu/openaccess/api/v1.0/search/?api_key=****&q=access="CC0"&start=1001&rows=1000

[2020-03-31 11:59] mathemancer commented on #221
Yes, this is the issue.  I'm not sure it's possible to solve, since the Airflow `PostgresHook` uses bulk copying in the background.

[2020-03-31 12:13] mathemancer commented on #221
Also, be aware that we're in the process of rewriting the importing to load from S3, and that will involve using a postgres extension.  Luckily, that extension *also* uses the PostgreSQL `COPY` command in the background, so any solution should port over with minimal changes.

[2020-03-31 18:19] kss682 opened #348 "[Quality] Rewrite Brooklyn Museum using ImageStore and DelayedRequestor"
## Current Situation

Brooklyn Museum provider is written using the etlMods .

Check the current status of the data from the provider before rewriting.
## Suggested Improvement

Rewrite the existing script using ImageStore and DelayedRequestor class.

Before Rewriting the current condition of the provider must be checked.

- Change the script name to brooklyn_museum.py ``` src/cc_catalog_airflow/d

[2020-04-01 07:37] mathemancer commented on #345
Hey, for any boxes checked on the required info above, please provide references or evidence to support checking those boxes.  This will help us when this issue is ready for development.

[2020-04-01 08:06] mathemancer commented on #243
@allen505 It's totally possible to have data duplication with our current set up.  We'd need to choose on a case-by-case basis whether to keep the data from Europeana (if it's usefully enriched, for example), or from the upstream provider.  Does the Europeana API give an ID of the upstream provider?  That would make future deduplication comparatively easy.

[2020-04-01 08:08] mathemancer commented on #279
I think that's okay, we can just filter out those that don't have a direct link.  Is it possible to filter them out in the request, or would we have to do the filtering after pulling the data?

[2020-04-01 11:53] ChariniNana commented on #221
Based on what I can gather from this https://www.postgresql.org/docs/9.2/sql-copy.html (see Note under CSV Format section) we may need to have an external function which filters the malformed rows, write the good rows to a new tsv and try to load that to a table. Not a very elegant method though. But if you think this is ok, I can give it a try

[2020-04-01 12:25] #241 closed

[2020-04-01 13:16] #307 closed

[2020-04-02 03:09] allen505 commented on #279
Yes, there is a parameter _'provider_aggregation_edm_isShownBy:*'_ when passed returns only those with the direct link.

[2020-04-02 04:11] allen505 commented on #243
@mathemancer The _provider_ field in the response gives the value of the Provider which should be
`"provider": [
                "Wellcome Collection"
            ]` in this case.

The following query gives all the items which belong to Wellcome Collection:
https://www.europeana.eu/api/v2/search.json?wskey=API_KEY&query=*:*&qf=PROVIDER:%22Wellcome+Collection%22

[2020-04-02 07:17] amartya-dev commented on #301
@mathemancer It might be a good idea to implement the cleanup just before we load data from the tsv to the intermediary database. We can add a step in the loader_workflow.py after using the script for the same in loader.py?

[2020-04-02 10:26] #296 closed

[2020-04-02 10:38] Nikitag0329IITkgp commented on #211
Hey, @mathemancer when would be #256 be completed? I wanted to start on this if possible.

[2020-04-02 11:55] kss682 commented on #348
@mathemancer I have not yet been able to get Brooklyn API key , I had requested it from them. Anything else that can be done on it .

[2020-04-02 12:35] mathemancer commented on #221
How do you propose determining if a row is malformed?  Most of the basic problems (type, required fields exist, correct number of fields) are handled by the `storage.ImageStore` class.  The 'real' errors are more esoteric in general.

I guess we could try to figure out how to check for unicode errors, but I'd rather handle that during writing to the TSV than when trying to load it...

Maybe this t

[2020-04-02 12:41] mathemancer commented on #221
Even worse:  We'll have to wait for some time to get relevant logs (if, indeed, they ever become available).  For legacy reasons, we used to lose all logs of past loading efforts every time a new version of this project was deployed.  While this is no longer the case, we don't actually *have* any logs (that I'm aware of) with the relevant error in them.

As I type this, that sounds awful.

[2020-04-02 12:45] mathemancer commented on #221
A supremely inelegant solution would be to parse the error message, find the actual `COPY` error (which should contain a relevant line), delete that line from the file, and die.  Then, airflow will try again, but with the modified file.

On the plus side, this has the advantage of being agnostic to the actual library that's calling the PostgreSQL `COPY` command (as long as the error message is sti

[2020-04-02 14:40] kss682 commented on #348
@mathemancer I ran the old script  and checked the tsv file , it seems that the API is working .

[2020-04-02 16:44] #295 closed

[2020-04-03 06:44] Nikitag0329IITkgp commented on #348
Hello @kss682 , you can move forward with this. I will discontinue from here.

[2020-04-03 07:31] amartya-dev commented on #345
@mathemancer I have updated the comment in order to include the required info

[2020-04-03 15:24] aldenstpage commented on #300
Succeeded with https://github.com/creativecommons/cccatalog-api/issues/475

[2020-04-03 15:24] #300 closed

[2020-04-03 16:01] annatuma opened #351 "Process Objects from Queue of User Reported Content"
## Problem Description
We need to develop a process by which we pull objects from a flagging queue, and add metadata in the catalog.

_Further ticket work required_

Relates to: https://github.com/creativecommons/cccatalog-frontend/issues/848

[2020-04-03 19:42] mathemancer commented on #243
That's awesome.  @annatuma I believe I remember that the folks at Europeana said that some of their providers were more reliable than others when it came to license labeling.  Do we have records about which providers those are?

We could use the same 'provider' vs 'source' scheme that we do for commoncrawl-sourced images for these aggregators.

@allen505 This is great info, thanks!

[2020-04-06 00:25] akshgpt7 commented on #294
@mathemancer Can I implement this?
I looked at GitHub actions and found one for `flake8` (https://github.com/marketplace/actions/flake8-action). I prefer this over `pycodestyle` as it also points out unused imports, along with other PEP-8 violations.

[2020-04-06 07:18] sp35 commented on #294
@mathemancer I would also recommend [black](https://github.com/python/black) for code formatting along with flake8.
@akshgpt7 If needed, you can also refer to:

- [unitAndLint.yaml](https://github.com/creativecommons/cc-link-checker/blob/master/.github/workflows/unitAndLint.yaml)
- [genicons.yaml](https://github.com/creativecommons/licensebuttons/blob/master/.github/workflows/genicons.yaml)

[2020-04-06 11:32] mathemancer commented on #326
Additional context:

Hello,

We've noticed some odd behavior from the Flickr API. In order to catalog all of
the CC-licensed images from Flickr, we've taken a strategy of paging through
using the `flickr.photos.search` function of the API.  In order to keep the
number of results for a given search smaller than 4,000 (as per the
documentation), we're partitioning by restricting the min/max upload d

[2020-04-06 13:04] kss682 commented on #348
@Nikitag0329IITkgp If you are looking for an issue , #254 seems to be idle , If you are planning to work on  it mention it in the issue.

[2020-04-06 13:59] Nikitag0329IITkgp commented on #254
Is this issue still open to working on?

[2020-04-06 14:15] AyanChoudhary commented on #254
The pr concerning this is complete.

[2020-04-06 14:16] akshgpt7 commented on #254
I think @AyanChoudhary has a linked PR to this and is currently working on it (#278).

[2020-04-06 17:36] JordanRuetz commented on #318
I am going to take up this issue.

[2020-04-07 11:27] mathemancer commented on #301
Copied from a review on PR #352 for visibility:

I think the strategy of adding a step when we already have a given loading table makes sense.
Please note that there are tests in the cccatalog-api repo that will need to be ported over, and it's possible new or different tests will need to be written as appropriate.

The script needs modification from the original with the following in mind:

- The

[2020-04-07 11:29] mathemancer commented on #301
Also, I think we should contain this issue to dealing with cleaning newly acquired data.  Setting up a refreshed, cleaned database is a different issue to me (i.e., cleaning all of the current data).

[2020-04-07 11:33] mathemancer commented on #211
@Nikitag0329IITkgp I think that one should be sorted by #321 in the relatively near future (it's still in the review / cleanup process).  You can follow the progress of that PR, if you'd like to.

[2020-04-07 11:34] mathemancer commented on #345
Okay, thanks!

[2020-04-07 11:48] mathemancer commented on #294
@akshgpt7 @sp35 I think using black is a good idea.  @akshgpt7 Go for it, if you'd like to implement.

[2020-04-07 11:51] mathemancer commented on #254
This is correct, there's a PR for this currently.

[2020-04-07 11:52] mathemancer commented on #348
@Nikitag0329IITkgp @kss682 this is incorrect, there's a PR #278 currently going back-and-forth in review for that issue.

[2020-04-07 11:59] kss682 commented on #348
Ohh.. sorry my bad

[2020-04-07 13:56] kgodey commented on #301
@mathemancer that makes sense, can you make a separate ticket for that? I don't think we can remove the cleaning step from the ingestion server until we have all the current data cleaned.

[2020-04-07 14:38] Nikitag0329IITkgp commented on #348
Yeah thanks, I got to know that.

[2020-04-08 08:02] mathemancer commented on #279
Research by @allen505 indicates we can actually only get 100 records per request in actuality.

[2020-04-08 08:18] mathemancer commented on #318
@akshgpt7 It's true, I'm not convinced partitioning by unit code is the right strategy.  Your concern could be dealt with by calling the API and getting the list of unit codes on every run.  My main problem with the strategy currently would be that the partition is so uneven that it doesn't achieve the desired effect of reducing the amount requested at a time.

I've learned that trying to page thr

[2020-04-08 08:20] mathemancer commented on #298
The suggested mechanism for re-running the ingestion for a given date would be to ask Airflow (either from a cron job, or from another DAG) to rerun the script for that date, which could be done either by asking for a backfill of that date, or clearing the already-existing run for that date.

[2020-04-08 12:22] mathemancer opened #356 "[Infrastructure] Maintain only pre-cleaned data in the upstream database"
## Current Situation

Currently, the upstream database (i.e., the one that holds the main data of `cccatalog`, which the ingestion server of `cccatalog-api` pulls from) holds quite a bit of data that is not fit for production.  Whenever the data is ingested, it needs to be cleaned up *every time*.  This is inefficient, since it implies the same operations happen to the same data at approximately t

[2020-04-08 12:23] mathemancer commented on #356
This will be an almost completely infrastructure-related project, and probably won't be too approachable for a community member.

[2020-04-08 17:04] allen505 commented on #279
Testing the API for the date **2014-02-26** (random date), I got **11,157** as the number of image records.
When queried for the **entire collection** with direct links to the resource, **20,544,899** was returned as the number of image records.
After discussions with @mathemancer it was concluded that 10,000 requests per 24 hours with 100 records per request is sufficient for our use case, and th

[2020-04-09 08:17] #254 closed

[2020-04-09 08:44] mathemancer opened #358 "[Feature] Apache Airflow DAG to run the new metropolitan_museum_of_art.py script."
## Problem Description

In order to get the new `metropolitian_museum_of_art.py` script (see #278) into production, we need to implement a new Apache Airflow DAG that will run the script.

## Solution Description

Implement such a DAG.  For examples, see `src/cc_catalog_airflow/dags/flickr_workflow.py` and `src/cc_catalog_airflow/dags/wikimedia_workflow.py`.  This DAG should be configured to run t

[2020-04-09 09:07] kss682 commented on #358
start date for flickr is 1970 because they have few images at that time , is there any such date for metropolitan

[2020-04-09 14:22] mathemancer opened #360 "[Bug] SQLAlchemy version 1.3.16 is breaking Airflow webserver container"
## Bug Description

If one tries (as of 2020-04-09) to build the Airflow webserver docker image, the result cannot run as a container due to a bug in a dependency (of a dependency).  The culprit appears to be `SQLAlchemy`, or at least freezing that package to the previous version (1.3.15) fixes the issue.

## To Reproduce

Follow the instructions in `README.md` to build and start the development e

[2020-04-09 14:54] mathemancer opened #362 "[Quality] Split dependencies into prod and dev, handle them better in general"
## Current Situation

Currently, when the production Apache Airflow webserver docker image is built, it uses the same `requirements.txt` file as we use for development.  This has some disadvantages:
- There are testing requirements included in this file, e.g., `pytest`
- This file freezes only explicitly imported (and therefore explicitly installed) versions of dependencies, which could mean possi

[2020-04-09 14:59] #360 closed

[2020-04-09 16:20] annatuma opened #363 "[API Integration - AUDIO] IMSLP"
## Provider API Endpoint / Documentation

https://imslp.org/api.php

## Provider description

This is a provider of sheet music and music recordings. There is CC-licensed content in both categories. For this ticket, we'd like to ingest the CC-licensed audio. In the future we may also want to ingest sheet music, but that is out of scope here.

Example file:
https://imslp.org/wiki/Dilatate_sunt_trib

[2020-04-12 11:42] kss682 commented on #302
@mathemancer  So I have been trying looking into the api
https://collection.sciencemuseumgroup.org.uk/search/images/image_license tells us there are around 88,000 records of objects and documents .

So I tried paging through the pages , the first request of the form https://collection.sciencemuseumgroup.org.uk/search/?has_image=1&image_license=CC&page[size]=100&page[number]=1
If the querying is of

[2020-04-12 14:10] kss682 commented on #302
To check if these 5000 records have proper data I ran tes script and checked for license, version ,foreign landing page and multimedia values .
[code]

[2020-04-13 03:34] akshgpt7 commented on #318
@mathemancer I tried to use all the terms in the API for partitioning, but none of them gave anything close to satisfactory results and had their own drawbacks. Some of the terms were not present in *all* objects, hence we can't use them for partitioning, leaving only `unit_code` as the usable option.
It's true that the results by `unit_code` partitioning are uneven, so I ran a test script to chec

[2020-04-13 08:50] Sekhara-487595 commented on #337
Go to visual studio downloads at https://visualstudio.microsoft.com/downloads/
Scroll down to 'All Downloads'
Click the dropdown for 'Tools for Visual Studio 2019'
Download 'Build Tools for Visual Studio 2019'
and that should successfully update wheel and allow you to install using wheels.

[2020-04-13 17:33] mprabhakar1744 commented on #337
provide to a solution of this problem

ERROR: Failed building wheel for ujson
Failed to build ujson
ERROR: Could not build wheels for ujson which use PEP 517 and cannot be installed directly

[2020-04-15 07:35] mathemancer commented on #337
Please note that the instructions have changed.  The development environment is now containerized.  The following blog post may help you:

https://devblogs.microsoft.com/python/remote-python-development-in-visual-studio-code/

[2020-04-15 07:36] mathemancer commented on #337
It's unlikely this will work very well, since the new development environment is containerized.

[2020-04-15 10:18] mathemancer commented on #358
You can use 2020-01-01.  We'll never need to run it back further than that date.  The reason is that the 'date' parameter for this script actually pulls metadata for all images that's been updated since the given date, and the metadata for *all* images has been updated since the beginning of this year.

[2020-04-15 10:32] #294 closed

[2020-04-15 10:36] mathemancer commented on #363
I love IMSLP!  However, note that almost *all* of the audio you'll find there will be MIDI 'performances'.  (just play the mp3 for the Example file).  Given that, I'm not sure this should be highly-prioritized.

[2020-04-15 10:42] mathemancer commented on #302
@kss682 Thanks for figuring this out in such detail!  This is the sort of behavior I was afraid of; we've experienced these sorts of bugs quite a bit.

Argh.  This does not surprise me.  @annatuma Is there any chance we could set up a call with someone technical from Science Museum to try to figure out why this is the case?

[2020-04-15 10:49] mathemancer commented on #302
Also, to answer your earlier question, see the dictionary `LICENSE_INFO` in the `flickr.py` script for an example.  We need some kind of map from whatever strings (numbers in the case of flickr) they're using to denote licenses to our internal license keys and versions.  To make that map, we need a list of all the strings they're using to denote the licenses.  Does that clarify your question?

[2020-04-15 10:51] mathemancer commented on #318
@akshgpt7 This is great info!  Thank you!

[2020-04-16 12:49] kss682 commented on #302
@mathemancer
So what I understood from flickr api was that in each object's data the license is represented by an integer which we pass to ```LICENSE_INFO``` to get the matching license and version . But in science museum we are able to directly  get the license and version  using ```usage_terms```.
I couldn't find any such mappings within the api .

[2020-04-16 13:57] ircpresident opened #367 "[API Integration] Images of Empowerment"
## Provider API Endpoint / Documentation
https://www.imagesofempowerment.org/about/

## Provider description
The William and Flora Hewlett Foundation worked with Getty Images in 2015 and 2017 to create a library of powerful, positive and high-quality images showing women’s work and family life around the world. The David and Lucile Packard Foundation added hundreds of photographs to the collection

[2020-04-16 15:10] mathemancer commented on #335
With the new iteration of #334 , this ticket will no longer be necessary.

[2020-04-16 15:10] #335 closed

[2020-04-17 15:03] mathemancer commented on #188
Phase I of solving this should be to simply make the `(provider, foreign_identifier)` pair of fields unique in the DB, and then enforce that going forwards.

All of the examples given in this ticket, and all that I found otherwise, would be fixed by simply taking the newest (i.e., most recently updated) row with a given foreign_identifier in the DB.

[2020-04-17 21:24] akshgpt7 commented on #318
- [x] Verify there is a way to retrieve the entire relevant portion of the provider's collection in a systematic way via their API.

Using 'terms' to partition the data and combining it with `onlilne_media_type:Images` using booleans, keeping parameter `rows=200`, we get all the unique records that are relevant.
<hr>

- [x] Verify the API provides license info (license type and version; license UR

[2020-04-20 16:09] allen505 commented on #279
Several fields in the response are represented as arrays, fields such as _dcDescription_, _edmIsShownAt_, _edmIsShownBy_, _rights_ which are used while saving the metadata. After discussion with @mathemancer, the following were concluded:

-  For LangAware fields such as _dcLanguageLangAware_ when available the english(en) version is to be taken.
- Original language(def), can be optionally saved
-

[2020-04-20 16:50] kss682 commented on #367
So I was just going through the collections , and the images have been grouped with the location , but I couldn't find any api reference , @ircpresident did you find any api's .

[2020-04-20 19:37] mathemancer commented on #302
@kss682 Exactly, but we can't put whatever random (or at least ad-hoc) strings they've come up with in our DB.  We have a specific list of license/version pairs where each license is represented by a particular string in our DB, and we need to either:
- verify that the license/version pairs from their API match ours, or
- map from their license/version pairs to ours.

See `src/cc_catalog_airflow/d